Repository SU-HSDO/suhumsci, pull requests merged in 2020-10, with the labels that each got.

#732 feat:stn-564-dark-refactor-masthead-setting
  config/default/humsci_colorful.settings.yml
  config/default/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.contextual-links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_dark-pattern.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/humsci_colorful.theme
  docroot/themes/humsci/humsci_colorful/theme-settings.php
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/humsci_traditional.theme
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: backend, frontend

#735 Sparkbox Sprint 26
  config/default/humsci_colorful.settings.yml
  config/default/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_airy/humsci_airy.libraries.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.info.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.libraries.yml
  docroot/themes/humsci/humsci_basic/src/js/colorful/colorful.js
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/media/video-with-caption.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/change-nav.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/collapse-main-menu.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/main-menu-nested-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/main-menu-toggle.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/secondary-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/toggler-handler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/scope.js
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/wrap.js
  docroot/themes/humsci/humsci_basic/src/js/traditional/traditional.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.contextual-links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_dark-pattern.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_basic/webpack.config.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/humsci_colorful.libraries.yml
  docroot/themes/humsci/humsci_colorful/humsci_colorful.theme
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_colorful/theme-settings.php
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/humsci_traditional.libraries.yml
  docroot/themes/humsci/humsci_traditional/humsci_traditional.theme
  docroot/themes/humsci/humsci_traditional/js/index.js
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: backend, ci, frontend

#739 STN-595 Hotfix: for colorful category pipes
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: frontend

#738 HSD8-919 Remove "Inaccessible" menu items from node form
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
Labels: backend, ci, frontend, patch

#741 Dependency Updates 10-14-2020
  blt/src/Blt/Plugin/Commands/HumsciServerCommands.php
  composer.lock
  config/default/encrypt.settings.yml
  config/default/migrate_plus.migration.hs_d7_people.yml
Labels: backend, ci

#742 Sparkbox sprint 27
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_private-page.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_dark-pattern.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, ci, frontend, patch

#743 HSD8-924 Provisioned linguistics.
  .circleci/config.yml
  blt/blt.yml
  docroot/modules/humsci/hs_bugherd/config/install/rest.resource.hs_bugherd_resource_bugherd.yml
  docroot/modules/humsci/hs_bugherd/config/install/rest.resource.hs_bugherd_resource_jira.yml
  docroot/modules/humsci/hs_bugherd/config/optional/bugherdapi.settings.yml
  docroot/modules/humsci/hs_bugherd/config/optional/key.key.bugherd_api_key.yml
  docroot/modules/humsci/hs_bugherd/config/schema/hs_bugherd.schema.yml
  docroot/modules/humsci/hs_bugherd/hs_bugherd.info.yml
  docroot/modules/humsci/hs_bugherd/hs_bugherd.install
  docroot/modules/humsci/hs_bugherd/hs_bugherd.links.action.yml
  docroot/modules/humsci/hs_bugherd/hs_bugherd.links.menu.yml
  docroot/modules/humsci/hs_bugherd/hs_bugherd.links.task.yml
  docroot/modules/humsci/hs_bugherd/hs_bugherd.routing.yml
  docroot/modules/humsci/hs_bugherd/hs_bugherd.services.yml
  docroot/modules/humsci/hs_bugherd/src/BugherdConnectionListBuilder.php
  docroot/modules/humsci/hs_bugherd/src/Entity/BugherdConnection.php
  docroot/modules/humsci/hs_bugherd/src/Entity/BugherdConnectionInterface.php
  docroot/modules/humsci/hs_bugherd/src/Form/BugherdConnectionDeleteForm.php
  docroot/modules/humsci/hs_bugherd/src/Form/BugherdConnectionForm.php
  docroot/modules/humsci/hs_bugherd/src/Form/BugherdConnectionSettingsForm.php
  docroot/modules/humsci/hs_bugherd/src/Form/HsBugherdHooksForm.php
  docroot/modules/humsci/hs_bugherd/src/HsBugherd.php
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/BugherdResource.php
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/HsBugherdResource.php
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/HsBugherdResourceBase.php
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/JiraResource.php
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/examples/fromBugherd/comment.json
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/examples/fromBugherd/status_change.json
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/examples/fromBugherd/task_create.json
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/examples/fromBugherd/task_update.json
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/examples/fromJira/comment.json
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/examples/fromJira/issue_update.json
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/examples/fromJira/project_move.json
  docroot/modules/humsci/hs_bugherd/src/Plugin/rest/resource/examples/fromJira/status_change.json
  docroot/modules/humsci/hs_bugherd/tests/Unit/BugherdConnectionListBuilderTest.php
  docroot/modules/humsci/hs_bugherd/tests/Unit/Entity/BugherdConnectionTest.php
  docroot/modules/humsci/hs_bugherd/tests/Unit/Form/BugherdConnectionDeleteFormTest.php
  docroot/modules/humsci/hs_bugherd/tests/Unit/Form/BugherdConnectionFormTest.php
  docroot/modules/humsci/hs_bugherd/tests/Unit/Form/BugherdConnectionSettingsFormTest.php
  docroot/modules/humsci/hs_bugherd/tests/Unit/Form/HsBugherdHooksFormTest.php
  docroot/modules/humsci/hs_bugherd/tests/Unit/HsBugherdUnitTestBase.php
  docroot/modules/humsci/hs_bugherd/tests/Unit/Plugin/rest/resource/BugherdResourceTest.php
  docroot/modules/humsci/hs_bugherd/tests/Unit/Plugin/rest/resource/JiraResourceTest.php
  docroot/sites/linguistics/blt.yml
  docroot/sites/linguistics/default.local.drush.yml
  docroot/sites/linguistics/default.services.yml
  docroot/sites/linguistics/default.settings.php
  docroot/sites/linguistics/services.yml
  docroot/sites/linguistics/settings.php
  docroot/sites/linguistics/settings/default.includes.settings.php
  docroot/sites/linguistics/settings/default.local.settings.php
  drush/sites/linguistics.site.yml
Labels: backend, ci

#744 STN-540: Experimental setting and raised card padding
  config/default/humsci_colorful.settings.yml
  config/default/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/theme-settings.php
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: backend, frontend

#745 STN-560 : Dark Color Inversion Toggle & Secondary Nav + Main Nav Dropdown variant styles
  config/default/humsci_colorful.settings.yml
  config/default/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/humsci_colorful.theme
  docroot/themes/humsci/humsci_colorful/theme-settings.php
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/humsci_traditional.theme
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: backend, frontend

#746 STN-599: Bug - External link color refinement
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#748 STN-552: Bug - Views more link padding missing
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend
