Repository SU-HSDO/suhumsci, pull requests merged in 2020-04, with the labels that each got.

#542 STN-255 Big Polish Work
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_node.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-exposed-form.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
Labels: frontend

#541 STN-202: Color Pairing Implementation
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_more-link.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_node--news-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.table-pattern.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.table-row.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_site-search.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.theme.colors.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.colors.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.color-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.contextual-links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_color-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_local-tasks.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/sass-tests.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.colors.scss
Labels: frontend

#547 feat(STN-194 ): hero pattern 2
  docroot/themes/humsci/humsci_basic/patterns/hero-text-overlay/hero-text-overlay.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.zindex.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_mixins.color-pairings.scss
Labels: frontend

#551 STN-276: Basic Page Layout
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
Labels: frontend

#548 feat(STN-107): more utilities
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
Labels: frontend

#552 STN-256 UI Adjustments
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_node--news-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_node.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-exposed-form.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
Labels: frontend

#549 STN-185 : Search Results
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_not-layout-builder-main-content.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-exposed-form.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/templates/layouts/three_column.html.twig
  docroot/themes/humsci/humsci_basic/templates/layouts/three_column_w_image.html.twig
Labels: frontend

#553 feat(STN-218): qa feedback sprint 12
  config/default/field.field.paragraph.hs_postcard.field_hs_postcard_link.yml
  docroot/themes/humsci/humsci_basic/patterns/structured-card/structured-card.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
Labels: frontend

#556 STN-219: QA Feedback from Sprint 13
  docroot/themes/humsci/humsci_basic/src/js/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
Labels: frontend

#560 Updated composer dependencies
  composer.json
  composer.lock
  docroot/sites/default/default.settings.php
Labels: backend, ci, frontend, patch

#555 feat(STN-174): stylelint codeclimate update
  .codeclimate.yml
  .stylelintignore
  .stylelintrc
  Gruntfile.js
  README.md
  docroot/themes/humsci/archaeology/css/base.css
  docroot/themes/humsci/archaeology/css/ckeditor.css
  docroot/themes/humsci/archaeology/scss/base.scss
  docroot/themes/humsci/humsci_basic/.stylelintrc
  docroot/themes/humsci/humsci_basic/backstop/backstop.json
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/readme.md
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.color-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.contextual-links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_local-tasks.scss
  docroot/themes/humsci/mathematics/css/base.css
  docroot/themes/humsci/mathematics/css/ckeditor.css
  docroot/themes/humsci/mathematics/patterns/molecules/dated-event/css/dated-event.css
  docroot/themes/humsci/mathematics/patterns/molecules/dated-event/scss/dated-event.scss
  docroot/themes/humsci/mathematics/scss/base.scss
  docroot/themes/humsci/mathematics/scss/ckeditor.scss
  docroot/themes/humsci/su_humsci_admin/css/humsci_admin.portal.css
  docroot/themes/humsci/su_humsci_admin/scss/humsci_admin.portal.scss
  docroot/themes/humsci/su_humsci_subtheme/scss/base.scss
  docroot/themes/humsci/su_humsci_theme/color/preview.css
  docroot/themes/humsci/su_humsci_theme/color/preview.scss
  docroot/themes/humsci/su_humsci_theme/css/ckeditor.css
  docroot/themes/humsci/su_humsci_theme/css/components/molecules/index.css
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/accordion/css/accordion.css
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/accordion/scss/accordion.scss
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/hero-text-overlay/css/hero-text-overlay.css
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/hero-text-overlay/scss/hero-text-overlay.scss
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/vertical-link-card/scss/vertical-link-card.scss
  docroot/themes/humsci/su_humsci_theme/scss/base/_footer.scss
  docroot/themes/humsci/su_humsci_theme/scss/base/_global.scss
  docroot/themes/humsci/su_humsci_theme/scss/base/_header.scss
  docroot/themes/humsci/su_humsci_theme/scss/base/_paragraphs.scss
  docroot/themes/humsci/su_humsci_theme/scss/base/_search.scss
  docroot/themes/humsci/su_humsci_theme/scss/ckeditor.scss
  docroot/themes/humsci/su_humsci_theme/scss/colors.scss
  docroot/themes/humsci/su_humsci_theme/scss/components/atoms/_media.scss
  docroot/themes/humsci/su_humsci_theme/scss/components/molecules/_hover-menu.scss
  docroot/themes/humsci/su_humsci_theme/scss/components/molecules/_tables.scss
  docroot/themes/humsci/su_humsci_theme/scss/paragraphs/hs_carousel.scss
  docroot/themes/humsci/su_humsci_theme/scss/utilities/mixins/_heading-dash.scss
  package-lock.json
  package.json
Labels: don't merge, frontend

#559 STN-122: Accordion Styles
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_details.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
Labels: frontend

#562 WIP feat(STN-248): traditional theme research and foundation
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.table-pattern.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.table-row.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.color-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_color-pairings.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.color-pairings.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_mixins.color-pairings.scss
  docroot/themes/humsci/humsci_traditional/config/install/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_traditional/humsci_traditional.theme
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: backend, don't merge, frontend

#558 STN-294 : Refactor External Links
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_node--news-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_local-tasks.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
Labels: frontend

#567 Fix: (STN-315): lockup word break
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
Labels: frontend

#571 STN-319: Sprint 14 QA Feedback
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_node--news-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_node.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#565 HSD8-767 D7 News importer
  composer.json
  composer.lock
  config/default/config_pages.type.hs_migrate_news.yml
  config/default/core.entity_form_display.config_pages.hs_migrate_news.default.yml
  config/default/core.entity_view_display.config_pages.hs_migrate_news.default.yml
  config/default/core.entity_view_mode.config_pages.full.yml
  config/default/core.extension.yml
  config/default/field.field.config_pages.hs_migrate_news.field_news_xml_feed.yml
  config/default/field.storage.config_pages.field_news_xml_feed.yml
  config/default/migrate_plus.migration.hs_capx.yml
  config/default/migrate_plus.migration.hs_d7_news.yml
  config/default/migrate_plus.migration_group.hs_news.yml
  config/default/ultimate_cron.job.hs_migrate_hs_news.yml
  docroot/modules/humsci/hs_migrate/hs_migrate.info.yml
  docroot/modules/humsci/hs_migrate/hs_migrate.install
  docroot/modules/humsci/hs_migrate/hs_migrate.module
  docroot/modules/humsci/hs_migrate/hs_migrate.services.yml
  docroot/modules/humsci/hs_migrate/src/Overrides/MigrationOverrides.php
Labels: backend

#563 Alter the views query so that we can get distinct result rows
  config/default/views.view.hs_publications.yml
  docroot/modules/humsci/hs_views_helper/hs_views_helper.module
Labels: backend, ci, frontend

#572 STN-321 Sand Color Pairing Update
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, frontend

#578 STN-322 : More Link
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_more-link.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/views/views-infinite-scroll-pager.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#577 feat(STN-306): background color for Row Paragraph type
  config/default/core.entity_form_display.paragraph.hs_row.default.yml
  config/default/core.entity_view_display.paragraph.hs_row.default.yml
  config/default/field.field.paragraph.hs_row.field_paragraph_style.yml
  config/default/field.storage.paragraph.field_paragraph_style.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_row/modules/hs_row_display/hs_row_display.module
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, frontend

#576 STN-324 : Detail Page Image Styles
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#580 STN-231: IE 11 Navigation Bugs
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/scripts/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/index.js
  docroot/themes/humsci/humsci_basic/src/js/navigation/change-nav.js
  docroot/themes/humsci/humsci_basic/src/js/navigation/index.js
  docroot/themes/humsci/humsci_basic/src/js/navigation/menu-toggle.js
  docroot/themes/humsci/humsci_basic/src/js/navigation/nested-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/navigation/secondary-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/templates/block/block--menu_block.html.twig
  docroot/themes/humsci/humsci_basic/templates/menus/macros/secondary-nav-menu.twig
  docroot/themes/humsci/humsci_basic/templates/menus/menu--main.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#570 STN-157 : Date Stacked Horizontal UI Pattern
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#579 feat(STN-337): tradl theme work
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_site-search.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_details.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.color-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_color-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.color-pairings.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_mixins.color-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/config/install/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: backend, don't merge, frontend
