Repository SU-HSDO/suhumsci, pull requests merged in 2020-08, with the labels that each got.

#669 fix(STN-489): .hs-well
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
Labels: backend, ci, frontend, patch

#668 fix(STN-477): extra padding on empty subcontent horizontal structured cards
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
Labels: frontend

#670 fix(STN-487): .hs-well and Traditional Theme long arrow svg
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, ci, frontend, patch

#674 Provisioned humanexperience
  blt/blt.yml
  docroot/sites/humanexperience/blt.yml
  docroot/sites/humanexperience/default.local.drush.yml
  docroot/sites/humanexperience/default.services.yml
  docroot/sites/humanexperience/default.settings.php
  docroot/sites/humanexperience/services.yml
  docroot/sites/humanexperience/settings.php
  docroot/sites/humanexperience/settings/default.includes.settings.php
  docroot/sites/humanexperience/settings/default.local.settings.php
  drush/sites/humanexperience.site.yml
Labels: backend, ci

#675 STN-458 : Animation Enhancement Toggler
  config/default/humsci_colorful.settings.yml
  config/default/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_basic/config/install/humsci_basic.settings.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/theme-settings.php
  docroot/themes/humsci/humsci_colorful/config/install/humsci_colorful.settings.yml
  docroot/themes/humsci/humsci_traditional/config/install/humsci_traditional.settings.yml
Labels: backend

#677 feat: added new color pairings to the colorful theme
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/theme-settings.php
Labels: backend, frontend

#673 STN-471: Banner
  .circleci/config/behat.yml
  config/default/core.entity_form_display.paragraph.hs_banner.default.yml
  config/default/core.entity_view_display.paragraph.hs_banner.default.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_banner.field_hs_banner_image.yml
  config/default/field.storage.paragraph.field_hs_banner_image.yml
  config/default/paragraphs.paragraphs_type.hs_banner.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.banner.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  tests/behat/example.local.yml
  tests/behat/features/install/content/BasicPage.feature
Labels: ci, frontend

#682 STN-507: Fix Spacing Regressions
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/backstop/backstop.json
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#681 Sparkbox Sprint 22
  .circleci/config/behat.yml
  config/default/core.entity_form_display.paragraph.hs_banner.default.yml
  config/default/core.entity_view_display.paragraph.hs_banner.default.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_banner.field_hs_banner_image.yml
  config/default/field.storage.paragraph.field_hs_banner_image.yml
  config/default/humsci_colorful.settings.yml
  config/default/humsci_traditional.settings.yml
  config/default/paragraphs.paragraphs_type.hs_banner.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/backstop/backstop.json
  docroot/themes/humsci/humsci_basic/config/install/humsci_basic.settings.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.banner.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/theme-settings.php
  docroot/themes/humsci/humsci_colorful/config/install/humsci_colorful.settings.yml
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/theme-settings.php
  docroot/themes/humsci/humsci_traditional/config/install/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
  tests/behat/features/install/content/BasicPage.feature
Labels: backend, ci, frontend, patch

#684 fix(STN-492): secondary nav header spacing and border-top
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#686 STN-480: Fix spacing beside navigation dropdown toggle
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#676 8.2.16 Release # DO NOT DELETE
  .circleci/config/behat.yml
  composer.lock
  config/default/config_ignore.settings.yml
  config/default/core.entity_form_display.paragraph.hs_banner.default.yml
  config/default/core.entity_view_display.node.hs_publications.default.yml
  config/default/core.entity_view_display.paragraph.hs_banner.default.yml
  config/default/core.entity_view_display.paragraph.hs_postcard.token.yml
  config/default/core.extension.yml
  config/default/editor.editor.minimal_html.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_banner.field_hs_banner_image.yml
  config/default/field.storage.paragraph.field_hs_banner_image.yml
  config/default/filter.format.minimal_html.yml
  config/default/humsci_colorful.settings.yml
  config/default/humsci_traditional.settings.yml
  config/default/migrate_plus.migration.hs_capx.yml
  config/default/paragraphs.paragraphs_type.hs_banner.yml
  config/default/rules.settings.yml
  config/default/ultimate_cron.job.rules_cron.yml
  docroot/modules/humsci/hs_publications/hs_publications.module
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/backstop/backstop.json
  docroot/themes/humsci/humsci_basic/config/install/humsci_basic.settings.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.banner.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/theme-settings.php
  docroot/themes/humsci/humsci_colorful/config/install/humsci_colorful.settings.yml
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/theme-settings.php
  docroot/themes/humsci/humsci_traditional/config/install/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
  tests/behat/features/install/content/BasicPage.feature
Labels: backend, ci, frontend, patch

#701 STN-524: Fix Lead and Splash Font Margin in Lists
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
Labels: frontend

#706 HSD8-850 Improved events importer form.
  docroot/modules/humsci/hs_events/modules/hs_events_importer/src/Form/EventsImporterForm.php
Labels: backend, frontend, patch
