Repository SU-HSDO/suhumsci, pull requests merged in 2020-07, with the labels that each got.

#642 Sparkbox Sprint 19
  config/default/core.entity_form_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/editor.editor.minimal_html.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_body.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_display.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image_align.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_link.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_title.yml
  config/default/field.storage.paragraph.field_hs_spotlight_body.yml
  config/default/field.storage.paragraph.field_hs_spotlight_display.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image_align.yml
  config/default/field.storage.paragraph.field_hs_spotlight_link.yml
  config/default/field.storage.paragraph.field_hs_spotlight_title.yml
  config/default/image.style.hs_spotlight_large_portrait_600x720.yml
  config/default/image.style.hs_spotlight_small_portrait_300x360.yml
  config/default/paragraphs.paragraphs_type.hs_spotlight.yml
  config/default/responsive_image.styles.spotlight_portrait_responsive.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.html.twig
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_private-page.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_details.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/menus/macros/secondary-nav-menu.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/spotlight.html.twig
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/spotlight.ui_patterns.yml
  tests/behat/features/install/content/BasicPage.feature
Labels: frontend

#644 fix: private page links, icons on custom menus, and private page textarea
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, patch

#647 Fix: Revert Spotlight
  config/default/core.entity_form_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_body.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_display.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image_align.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_link.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_title.yml
  config/default/field.storage.paragraph.field_hs_spotlight_body.yml
  config/default/field.storage.paragraph.field_hs_spotlight_display.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image_align.yml
  config/default/field.storage.paragraph.field_hs_spotlight_link.yml
  config/default/field.storage.paragraph.field_hs_spotlight_title.yml
  config/default/image.style.hs_spotlight_large_portrait_600x720.yml
  config/default/image.style.hs_spotlight_small_portrait_300x360.yml
  config/default/paragraphs.paragraphs_type.hs_spotlight.yml
  config/default/responsive_image.styles.spotlight_portrait_responsive.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.html.twig
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/spotlight.html.twig
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/spotlight.ui_patterns.yml
  tests/behat/features/install/content/BasicPage.feature
Labels: backend, ci, frontend, patch

#646 STN-438: Sprint 19 QA Feedback
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/scripts/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/index.js
  docroot/themes/humsci/humsci_basic/src/js/media/video-with-caption.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.zindex.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_card-images.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#649 Fix: Video w/ Caption JS
  docroot/themes/humsci/humsci_basic/scripts/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/media/video-with-caption.js
Labels: frontend

#651 STN-267: More Link Styles
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#650 STN-398: Colorful Raised Card
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: frontend

#653 Sparkbox Sprint 20
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/scripts/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/index.js
  docroot/themes/humsci/humsci_basic/src/js/media/video-with-caption.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.zindex.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_card-images.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, patch

#652 feat(STN-129): Carousel Slick Controls Styling for Traditional and Colorful
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#659 HSD8-864: Provisioned biologyvirtualshowcase
  blt/blt.yml
  docroot/sites/biologyvirtualshowcase/blt.yml
  docroot/sites/biologyvirtualshowcase/default.local.drush.yml
  docroot/sites/biologyvirtualshowcase/default.services.yml
  docroot/sites/biologyvirtualshowcase/default.settings.php
  docroot/sites/biologyvirtualshowcase/services.yml
  docroot/sites/biologyvirtualshowcase/settings.php
  docroot/sites/biologyvirtualshowcase/settings/default.includes.settings.php
  docroot/sites/biologyvirtualshowcase/settings/default.local.settings.php
  drush/sites/biologyvirtualshowcase.site.yml
Labels: backend, ci

#660 HSD8-865: Provisioned history
  blt/blt.yml
  docroot/sites/history/blt.yml
  docroot/sites/history/default.local.drush.yml
  docroot/sites/history/default.services.yml
  docroot/sites/history/default.settings.php
  docroot/sites/history/services.yml
  docroot/sites/history/settings.php
  docroot/sites/history/settings/default.includes.settings.php
  docroot/sites/history/settings/default.local.settings.php
  drush/sites/history.site.yml
Labels: backend, ci

#662 feat(STN-469): hero opacity
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#656 feat: added breakout box config and styles
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/editor.editor.minimal_html.yml
  config/default/filter.format.minimal_html.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_theme/css/base/index.css
  docroot/themes/humsci/su_humsci_theme/css/ckeditor.css
  docroot/themes/humsci/su_humsci_theme/css/components/atoms/index.css
  docroot/themes/humsci/su_humsci_theme/scss/base/_global.scss
  docroot/themes/humsci/su_humsci_theme/scss/ckeditor.scss
  docroot/themes/humsci/su_humsci_theme/scss/components/atoms/_media.scss
  docroot/themes/humsci/su_humsci_theme/scss/utilities/mixins/_index.scss
  docroot/themes/humsci/su_humsci_theme/scss/utilities/mixins/_well.scss
Labels: frontend

#654 feat(STN-459): ensure Spotlight works on legacy theme
  config/default/core.entity_form_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_body.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_height.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image_align.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_link.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_title.yml
  config/default/field.storage.paragraph.field_hs_spotlight_body.yml
  config/default/field.storage.paragraph.field_hs_spotlight_height.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image_align.yml
  config/default/field.storage.paragraph.field_hs_spotlight_link.yml
  config/default/field.storage.paragraph.field_hs_spotlight_title.yml
  config/default/image.style.hs_spotlight_large_portrait_600x720.yml
  config/default/image.style.hs_spotlight_small_portrait_300x360.yml
  config/default/paragraphs.paragraphs_type.hs_spotlight.yml
  config/default/responsive_image.styles.spotlight_portrait_responsive.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.html.twig
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/css/spotlight.css
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/scss/spotlight.scss
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/spotlight.html.twig
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/spotlight.ui_patterns.yml
  package-lock.json
  tests/behat/features/install/content/BasicPage.feature
Labels: frontend

#664 Sparkbox Sprint 21
  config/default/core.entity_form_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/editor.editor.minimal_html.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_body.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_height.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image_align.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_link.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_title.yml
  config/default/field.storage.paragraph.field_hs_spotlight_body.yml
  config/default/field.storage.paragraph.field_hs_spotlight_height.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image_align.yml
  config/default/field.storage.paragraph.field_hs_spotlight_link.yml
  config/default/field.storage.paragraph.field_hs_spotlight_title.yml
  config/default/filter.format.minimal_html.yml
  config/default/image.style.hs_spotlight_large_portrait_600x720.yml
  config/default/image.style.hs_spotlight_small_portrait_300x360.yml
  config/default/paragraphs.paragraphs_type.hs_spotlight.yml
  config/default/responsive_image.styles.spotlight_portrait_responsive.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.html.twig
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_theme/css/base/index.css
  docroot/themes/humsci/su_humsci_theme/css/ckeditor.css
  docroot/themes/humsci/su_humsci_theme/css/components/atoms/index.css
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/css/spotlight.css
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/scss/spotlight.scss
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/spotlight.html.twig
  docroot/themes/humsci/su_humsci_theme/patterns/molecules/spotlight/spotlight.ui_patterns.yml
  docroot/themes/humsci/su_humsci_theme/scss/base/_global.scss
  docroot/themes/humsci/su_humsci_theme/scss/ckeditor.scss
  docroot/themes/humsci/su_humsci_theme/scss/components/atoms/_media.scss
  docroot/themes/humsci/su_humsci_theme/scss/utilities/mixins/_index.scss
  docroot/themes/humsci/su_humsci_theme/scss/utilities/mixins/_well.scss
  package-lock.json
  tests/behat/features/install/content/BasicPage.feature
Labels: backend, frontend

#663 fix(STN-434): timing issue with .hb-stretch-vertical-linked-cards
  docroot/themes/humsci/humsci_basic/scripts/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/index.js
Labels: frontend

#665 fix(STN-443): Sprint 20 QA
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/backstop/backstop.json
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend
