Repository SU-HSDO/suhumsci, pull requests merged in 2020-09, with the labels that each got.

#707 STN-504: Increase Traditional Font Size
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#704 STN-505 Update utility classes to work with Drupal Views
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#709 feat (STN-472): Hero Height Refinement
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#711 Sparkbox Sprint 24
  config/default/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/humsci_traditional.theme
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: backend, frontend, patch

#714 Hsd8 896 provision 5 sites
  blt/blt.yml
  docroot/sites/amstudies/blt.yml
  docroot/sites/amstudies/default.local.drush.yml
  docroot/sites/amstudies/default.services.yml
  docroot/sites/amstudies/default.settings.php
  docroot/sites/amstudies/services.yml
  docroot/sites/amstudies/settings.php
  docroot/sites/amstudies/settings/default.includes.settings.php
  docroot/sites/amstudies/settings/default.local.settings.php
  docroot/sites/creees/blt.yml
  docroot/sites/creees/default.local.drush.yml
  docroot/sites/creees/default.services.yml
  docroot/sites/creees/default.settings.php
  docroot/sites/creees/services.yml
  docroot/sites/creees/settings.php
  docroot/sites/creees/settings/default.includes.settings.php
  docroot/sites/creees/settings/default.local.settings.php
  docroot/sites/feminist/blt.yml
  docroot/sites/feminist/default.local.drush.yml
  docroot/sites/feminist/default.services.yml
  docroot/sites/feminist/default.settings.php
  docroot/sites/feminist/services.yml
  docroot/sites/feminist/settings.php
  docroot/sites/feminist/settings/default.includes.settings.php
  docroot/sites/feminist/settings/default.local.settings.php
  docroot/sites/hs_fcp/blt.yml
  docroot/sites/hs_fcp/default.local.drush.yml
  docroot/sites/hs_fcp/default.services.yml
  docroot/sites/hs_fcp/default.settings.php
  docroot/sites/hs_fcp/services.yml
  docroot/sites/hs_fcp/settings.php
  docroot/sites/hs_fcp/settings/default.includes.settings.php
  docroot/sites/hs_fcp/settings/default.local.settings.php
  docroot/sites/siw/blt.yml
  docroot/sites/siw/default.local.drush.yml
  docroot/sites/siw/default.services.yml
  docroot/sites/siw/default.settings.php
  docroot/sites/siw/services.yml
  docroot/sites/siw/settings.php
  docroot/sites/siw/settings/default.includes.settings.php
  docroot/sites/siw/settings/default.local.settings.php
  drush/sites/amstudies.site.yml
  drush/sites/creees.site.yml
  drush/sites/feminist.site.yml
  drush/sites/hs_fcp.site.yml
  drush/sites/siw.site.yml
Labels: backend, ci

#698 HSD8-851 Convert event date to use smart date field type
  composer.json
  composer.lock
  config/default/config_split.config_split.local.yml
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event.hs_horizontal_card.yml
  config/default/core.entity_view_display.node.hs_event.hs_vertical_card.yml
  config/default/core.entity_view_display.node.hs_event.search_index.yml
  config/default/core.extension.yml
  config/default/ds.field.hs_event_day.yml
  config/default/ds.field.hs_event_time.yml
  config/default/ds.field.hs_event_time_range.yml
  config/default/field.field.node.hs_event.field_hs_event_date.yml
  config/default/field.storage.node.field_hs_event_date.yml
  config/default/hs_revision_cleanup.settings.yml
  config/default/migrate_plus.migration.hs_capx.yml
  config/default/migrate_plus.migration.hs_events_importer.yml
  config/default/node.type.hs_basic_page.yml
  config/default/node.type.hs_course.yml
  config/default/node.type.hs_event.yml
  config/default/node.type.hs_event_series.yml
  config/default/node.type.hs_news.yml
  config/default/node.type.hs_person.yml
  config/default/node.type.hs_private_page.yml
  config/default/node.type.hs_publications.yml
  config/default/node.type.hs_research.yml
  config/default/node_revision_delete.settings.yml
  config/default/publishcontent.settings.yml
  config/default/smart_date.smart_date_format.compact.yml
  config/default/smart_date.smart_date_format.date_only.yml
  config/default/smart_date.smart_date_format.default.yml
  config/default/smart_date.smart_date_format.time_only.yml
  config/default/ultimate_cron.job.hs_revision_cleanup_cron.yml
  config/default/ultimate_cron.job.node_revision_delete_cron.yml
  config/default/views.view.hs_default_event_series.yml
  config/default/views.view.hs_default_events.yml
  config/default/views.view.hs_default_manage_content.yml
  config/default/views.view.hs_default_search.yml
  config/default/views.view.hs_events.yml
  config/default/views.view.hs_manage_content.yml
  docroot/modules/humsci/hs_field_helpers/src/Plugin/Field/FieldFormatter/SmartDateTime.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.install
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
Labels: backend

#718 changed behat dependency version
  .circleci/config.yml
  composer.json
  composer.lock
  config/default/migrate_plus.migration.hs_events_importer.yml
  patches/contrib/drupal-extension.patch
Labels: ci

#716 STN-553: Credits and Captions
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, ci, frontend

#719 STN-556 : Rollback Carousel and Hero Refinements
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#726 STN-544: add file and pdf icon links to hb and legacy theme
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/editor.editor.minimal_html.yml
  config/default/filter.format.minimal_html.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_theme/css/base/index.css
  docroot/themes/humsci/su_humsci_theme/css/ckeditor.css
  docroot/themes/humsci/su_humsci_theme/scss/base/_global.scss
  docroot/themes/humsci/su_humsci_theme/scss/ckeditor.scss
  docroot/themes/humsci/su_humsci_theme/scss/utilities/mixins/_index.scss
  docroot/themes/humsci/su_humsci_theme/scss/utilities/mixins/_links.scss
Labels: frontend

#728 Updated Default Configs
  blt/blt.yml
  config/default/block.block.humsci_colorful_hsaffiliationfooter.yml
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event_series.default.yml
  config/default/core.entity_view_display.node.hs_person.default.yml
  config/default/core.entity_view_display.node.hs_research.default.yml
  config/default/field.field.node.hs_person.field_hs_person_title.yml
  config/default/field.field.node.hs_private_page.field_hs_priv_page_components.yml
  config/default/smart_date.smart_date_format.mon_october_1st_2021.yml
  config/default/smart_date.smart_date_format.october_1_2021.yml
  config/default/views.view.hs_default_event_series.yml
  config/default/views.view.hs_default_events.yml
  config/default/views.view.hs_default_manage_content.yml
  config/default/views.view.hs_default_people.yml
Labels: backend, ci, patch

#723 Sparkbox Sprint 25
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/editor.editor.minimal_html.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_theme/css/base/index.css
  docroot/themes/humsci/su_humsci_theme/css/ckeditor.css
  docroot/themes/humsci/su_humsci_theme/scss/base/_global.scss
  docroot/themes/humsci/su_humsci_theme/scss/ckeditor.scss
  docroot/themes/humsci/su_humsci_theme/scss/utilities/mixins/_index.scss
  docroot/themes/humsci/su_humsci_theme/scss/utilities/mixins/_links.scss
Labels: ci, frontend

#729 STN-563 Refactor Javascript for individual theme use
  docroot/themes/humsci/humsci_airy/humsci_airy.libraries.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.info.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.libraries.yml
  docroot/themes/humsci/humsci_basic/src/js/colorful/colorful.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/media/video-with-caption.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/change-nav.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/collapse-main-menu.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/main-menu-nested-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/main-menu-toggle.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/secondary-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/scope.js
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/wrap.js
  docroot/themes/humsci/humsci_basic/src/js/traditional/traditional.js
  docroot/themes/humsci/humsci_basic/webpack.config.js
  docroot/themes/humsci/humsci_colorful/humsci_colorful.libraries.yml
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/humsci_traditional.libraries.yml
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend
