Repository SU-HSDO/suhumsci, pull requests merged in 2020-05, with the labels that each got.

#584 Provided config pages to allow easy default field values for images
  config/default/config_pages.type.field_default_values.yml
  config/default/core.entity_form_display.config_pages.field_default_values.default.yml
  config/default/core.entity_view_display.config_pages.field_default_values.default.yml
  config/default/field.field.config_pages.field_default_values.field_news_image.yml
  config/default/field.field.config_pages.field_default_values.field_people_image.yml
  config/default/field.storage.config_pages.field_news_image.yml
  config/default/field.storage.config_pages.field_people_image.yml
  docroot/profiles/humsci/su_humsci_profile/src/Overrides/ConfigOverrides.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.services.yml
Labels: backend

#588 STN-329: Traditional Utility Styles
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#592 Sprint 15 QA Feedback
  config/default/extlink.settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-exposed-form.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-field-field-hs-person.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_toolbar.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#589 docs(STN-327): Add some minor docs updates related to behat testing
  docroot/themes/humsci/humsci_basic/readme.md
  lando/default.lando.yml
  tests/README.md
Labels: frontend

#585 feat(STN-344): Traditional Theme Sweeping Element Styles
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_site-search.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-exposed-form.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#586 feat(STN-344): Traditional Theme Spacing
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_not-layout-builder-main-content.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-exposed-form.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_details.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/sass-tests.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#591 STN-345: Vertical Linked Card
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#593 feat(STN-347): Traditional Theme date stacked card
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#600 feat(STN-368): tighten spacing for traditional theme cards
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#601 STN-362: Card Image Utilities
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_card-images.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#598 STN-342 : New Traditional Color Pairing
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.color-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/theme-settings.php
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: backend, frontend

#605 STN-377: Utility Classes for Table Column Widths
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_tables.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#599 STN-372 : Traditional Animations
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.animation.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_local-tasks.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/sass-tests.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.animation.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#611 feat(STN-391): adds styles for padded card utility
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#609 feat(STN-297): equal grid cards
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/scripts/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/js/index.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_stretch-vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#612 Sparkbox Sprint 17
  config/default/user.role.anonymous.yml
  config/default/user.role.authenticated.yml
  config/default/user.role.contributor.yml
  config/default/user.role.site_manager.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/scripts/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/js/index.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_unpublished.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.animation.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_card-images.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_local-tasks.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_stretch-vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/menus/macros/secondary-nav-menu.twig
  docroot/themes/humsci/humsci_basic/templates/node.html.twig
  docroot/themes/humsci/humsci_basic/tests/sass-specs/sass-tests.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.animation.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.color-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/theme-settings.php
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/theme-settings.php
  tests/behat/features/install/users/RoleAnonymousUser.feature
  tests/behat/features/install/users/RoleAuthenticatedUser.feature
  tests/behat/features/install/users/RoleContributor.feature
  tests/behat/features/install/users/RoleSiteManager.feature
Labels: backend, frontend

#615 STN-350: Status Messages
  docroot/themes/humsci/humsci_basic/humsci_basic.info.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.libraries.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.messages.scss
  docroot/themes/humsci/humsci_basic/templates/core/status-messages.html.twig
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
Labels: frontend
