Repository SU-HSDO/suhumsci, pull requests merged in 2020-06, with the labels that each got.

#614 STN: 173 Simplify Templates
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/horizontal-card/horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/structured-card/structured-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/table-pattern/table-pattern.html.twig
  docroot/themes/humsci/humsci_basic/patterns/vertical-card/vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/vertical-link-card/vertical-link-card.html.twig
Labels: frontend

#617 feat(hackday): Lando docs update and Drupal admin fixes
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.layout-builder.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
  lando/default.lando.yml
Labels: frontend

#619 Sparkbox Short Sprint
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.info.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.libraries.yml
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/horizontal-card/horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/structured-card/structured-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/table-pattern/table-pattern.html.twig
  docroot/themes/humsci/humsci_basic/patterns/vertical-card/vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/README.md
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.animation.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.color-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.color-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.layout-builder.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.messages.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_color-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/core/status-messages.html.twig
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
  lando/default.lando.yml
Labels: frontend, patch

#622 HSD8-810 Use multiple selectors for the unique identifiers on the event importer.
  composer.json
  composer.lock
  config/default/migrate_plus.migration.hs_events_image_importer.yml
  config/default/migrate_plus.migration.hs_events_importer.yml
  docroot/modules/humsci/hs_events/modules/hs_events_importer/src/Form/EventsImporterForm.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/HsEntityGenerate.php
  docroot/modules/humsci/hs_migrate/tests/src/Unit/Plugin/migrate/process/EntityGenerateNoLookupTest.php
  docroot/modules/humsci/hs_migrate/tests/src/Unit/Plugin/migrate/process/HsEntityGenerateTest.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
Labels: backend

#623 STN-379: Sprint 17 Feedback
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/vertical-card/vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_brandbar.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_global-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.zindex.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_toolbar.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#627 feat(STN-414): 17.2 QA Feedback
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/horizontal-card/horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/structured-card/structured-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/vertical-card/vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/scripts/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_card-images.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_stretch-vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#628 STN-263: Back to Top
  docroot/modules/humsci/hs_blocks/css/hs_blocks.back_to_top.css
  docroot/modules/humsci/hs_blocks/hs_blocks.libraries.yml
  docroot/modules/humsci/hs_blocks/hs_blocks.module
  docroot/modules/humsci/hs_blocks/js/hs_blocks.back_to_top.js
  docroot/modules/humsci/hs_blocks/scss/hs_blocks.back_to_top.scss
  docroot/modules/humsci/hs_blocks/src/Plugin/Block/HsBackToTopBlock.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_global-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.zindex.scss
  docroot/themes/humsci/humsci_basic/templates/block/block--hs-blocks-back-to-top-block.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, frontend

#629 Sparkbox Sprint 18
  docroot/modules/humsci/hs_blocks/css/hs_blocks.back_to_top.css
  docroot/modules/humsci/hs_blocks/hs_blocks.libraries.yml
  docroot/modules/humsci/hs_blocks/js/hs_blocks.back_to_top.js
  docroot/modules/humsci/hs_blocks/scss/hs_blocks.back_to_top.scss
  docroot/modules/humsci/hs_blocks/src/Plugin/Block/HsBackToTopBlock.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/horizontal-card/horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/structured-card/structured-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/vertical-card/vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/scripts/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_brandbar.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_global-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.zindex.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_card-images.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_stretch-vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_toolbar.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/block/block--hs-blocks-back-to-top-block.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, frontend

#634 HSD8-828: Provisioned gus-humsci
  blt/blt.yml
  docroot/sites/gus_humsci/blt.yml
  docroot/sites/gus_humsci/default.local.drush.yml
  docroot/sites/gus_humsci/default.services.yml
  docroot/sites/gus_humsci/default.settings.php
  docroot/sites/gus_humsci/services.yml
  docroot/sites/gus_humsci/settings.php
  docroot/sites/gus_humsci/settings/default.includes.settings.php
  docroot/sites/gus_humsci/settings/default.local.settings.php
  drush/sites/gus_humsci.site.yml
Labels: backend, ci

#637 HSD8-834: Provisioned hsweb_userguide
  blt/blt.yml
  docroot/sites/hsweb_userguide/blt.yml
  docroot/sites/hsweb_userguide/default.local.drush.yml
  docroot/sites/hsweb_userguide/default.services.yml
  docroot/sites/hsweb_userguide/default.settings.php
  docroot/sites/hsweb_userguide/services.yml
  docroot/sites/hsweb_userguide/settings.php
  docroot/sites/hsweb_userguide/settings/default.includes.settings.php
  docroot/sites/hsweb_userguide/settings/default.local.settings.php
  drush/sites/hsweb_userguide.site.yml
Labels: backend, ci, frontend, patch

#632 feat(STN-223): unique menu IDs for secondary nav menus
  docroot/themes/humsci/humsci_basic/templates/menus/macros/secondary-nav-menu.twig
Labels: frontend

#636 STN-325: Private Pages
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/editor.editor.minimal_html.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_private-page.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#641 STN-439: Heading Link Hover Color
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#640 STN-406: IE 11 Text Overflow in Rows
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#639 feat(STN-417): QA Feedback for Sprint 18
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_details.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#633 feat(STN-419): Spotlight Paragraph Type and UI Pattern
  config/default/core.entity_form_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_body.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_display.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_image_align.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_link.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_title.yml
  config/default/field.storage.paragraph.field_hs_spotlight_body.yml
  config/default/field.storage.paragraph.field_hs_spotlight_display.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image.yml
  config/default/field.storage.paragraph.field_hs_spotlight_image_align.yml
  config/default/field.storage.paragraph.field_hs_spotlight_link.yml
  config/default/field.storage.paragraph.field_hs_spotlight_title.yml
  config/default/image.style.hs_spotlight_large_portrait_600x720.yml
  config/default/image.style.hs_spotlight_small_portrait_300x360.yml
  config/default/paragraphs.paragraphs_type.hs_spotlight.yml
  config/default/responsive_image.styles.spotlight_portrait_responsive.yml
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.html.twig
  docroot/themes/humsci/humsci_basic/patterns/spotlight/spotlight.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  tests/behat/features/install/content/BasicPage.feature
Labels: frontend
