Repository SU-HSDO/suhumsci, pull requests merged in 2020-03, with the labels that each got.

#512 this is the title
  .circleci/config.yml
  .github/auto-label.json
  .github/workflows/label.yml
  .github/workflows/release.yml
  blt/src/Blt/Plugin/Commands/CircleCiCommands.php
  docroot/modules/humsci/hs_actions/hs_actions.info.yml
  docroot/modules/humsci/hs_basic_page/hs_basic_page.info.yml
  docroot/modules/humsci/hs_basic_page/modules/hs_basic_page_display/hs_basic_page_display.info.yml
  docroot/modules/humsci/hs_blocks/hs_blocks.info.yml
  docroot/modules/humsci/hs_bugherd/hs_bugherd.info.yml
  docroot/modules/humsci/hs_capx/hs_capx.info.yml
  docroot/modules/humsci/hs_config_prefix/hs_config_prefix.info.yml
  docroot/modules/humsci/hs_config_readonly/hs_config_readonly.info.yml
  docroot/modules/humsci/hs_courses/hs_courses.info.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.info.yml
  docroot/modules/humsci/hs_event_series/hs_event_series.info.yml
  docroot/modules/humsci/hs_event_series/modules/hs_event_series_display/hs_event_series_display.info.yml
  docroot/modules/humsci/hs_events/hs_events.info.yml
  docroot/modules/humsci/hs_events/modules/hs_events_display/hs_events_display.info.yml
  docroot/modules/humsci/hs_events/modules/hs_events_importer/hs_events_importer.info.yml
  docroot/modules/humsci/hs_field_helpers/hs_field_helpers.info.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.info.yml
  docroot/modules/humsci/hs_letsencrypt_challenge/letsencrypt_challenge.info.yml
  docroot/modules/humsci/hs_masquerade/hs_masquerade.info.yml
  docroot/modules/humsci/hs_mathematics/hs_mathematics.info.yml
  docroot/modules/humsci/hs_migrate/hs_migrate.info.yml
  docroot/modules/humsci/hs_news/hs_news.info.yml
  docroot/modules/humsci/hs_news/modules/hs_news_display/hs_news_display.info.yml
  docroot/modules/humsci/hs_page_reports/hs_page_reports.info.yml
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_hero_image/hs_hero_image.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_hero_image/modules/hs_hero_image_display/hs_hero_image_display.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_postcard/hs_postcard.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_postcard/modules/hs_postcard_display/hs_postcard_display.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_row/hs_row.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_row/modules/hs_row_display/hs_row_display.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_slide/hs_slide.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_slide/modules/hs_slide_display/hs_slide_display.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_slideshow/hs_slideshow.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_slideshow/modules/hs_slideshow_display/hs_slideshow_display.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_text_area/hs_text_area.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_text_area/modules/hs_text_area_display/hs_text_area_display.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_view/hs_view.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_view/modules/hs_view_display/hs_view_display.info.yml
  docroot/modules/humsci/hs_paragraph_types/modules/hs_webform/hs_webform.info.yml
  docroot/modules/humsci/hs_paragraphs_between/hs_paragraphs_between.info.yml
  docroot/modules/humsci/hs_person/hs_person.info.yml
  docroot/modules/humsci/hs_person/modules/hs_person_display/hs_person_display.info.yml
  docroot/modules/humsci/hs_publications/hs_publications.info.yml
  docroot/modules/humsci/hs_publications/modules/hs_publications_display/hs_publications_display.info.yml
  docroot/modules/humsci/hs_research/hs_research.info.yml
  docroot/modules/humsci/hs_research/modules/hs_research_display/hs_research_display.info.yml
  docroot/modules/humsci/hs_revision_cleanup/hs_revision_cleanup.info.yml
  docroot/modules/humsci/hs_table_filter/hs_table_filter.info.yml
  docroot/modules/humsci/hs_views_helper/hs_views_helper.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: ci

#517 Sparkbox Sprint 10 Branch
  docroot/modules/humsci/hs_layouts/src/Plugin/Layout/HumsciLayout.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/patterns/hero-text-overlay/hero-text-overlay.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/patterns/horizontal-card/horizontal-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/horizontal-card/horizontal-card.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/patterns/structured-card/structured-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/vertical-card/vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/patterns/vertical-card/vertical-card.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/js/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/main-nav/menu-toggle.js
  docroot/themes/humsci/humsci_basic/src/js/main-nav/nested-toggler.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_more-link.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_postcard.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.theme.colors.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.zindex.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.contextual-links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_font-awesome.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/menus/macros/nav-menu.twig
  docroot/themes/humsci/humsci_basic/templates/menus/menu--main.html.twig
  docroot/themes/humsci/humsci_basic/templates/node.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docs/Config.md
Labels: backend, ci, frontend, sparkbox feature branch

#527 Sparkbox Sprint 11
  config/default/core.entity_view_display.paragraph.hs_postcard.token.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_local-footer.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.theme.colors.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.animation.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_admin.contextual-links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/block/block--system-branding-block.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_theme/su_humsci_theme.theme
Labels: backend, ci, frontend, sparkbox feature branch

#530 feat(STN- 254): polish
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
Labels: frontend

#531 feat(STN-217): qa feedback
  docroot/themes/humsci/humsci_basic/src/scss/components/_node.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.zindex.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
Labels: frontend

#532 STN-233 QA Design Feedback
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
Labels: frontend

#533 STN-111: Node Detail Page
  composer.json
  composer.lock
  docroot/modules/humsci/hs_blocks/hs_blocks.module
  docroot/modules/humsci/hs_blocks/src/Plugin/Block/GroupBlock.php
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
Labels: backend, frontend

#528 STN-112 : Implement Table UI Pattern
  docroot/themes/humsci/humsci_basic/patterns/table-pattern/table-pattern.html.twig
  docroot/themes/humsci/humsci_basic/patterns/table-row/table-row.html.twig
  docroot/themes/humsci/humsci_basic/src/js/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/index.js
  docroot/themes/humsci/humsci_basic/src/js/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/js/tables/wrap.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.table-pattern.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.table-row.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-field-field-hs-course.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
Labels: frontend

#535 Sparkbox Sprint 12
  composer.json
  composer.lock
  docroot/modules/humsci/hs_blocks/hs_blocks.module
  docroot/modules/humsci/hs_blocks/src/Plugin/Block/GroupBlock.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/table-pattern/table-pattern.html.twig
  docroot/themes/humsci/humsci_basic/patterns/table-row/table-row.html.twig
  docroot/themes/humsci/humsci_basic/src/js/build/scripts.js
  docroot/themes/humsci/humsci_basic/src/js/index.js
  docroot/themes/humsci/humsci_basic/src/js/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/js/tables/wrap.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_node.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.table-pattern.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.table-row.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_structured-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-field-field-hs-course.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.zindex.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
Labels: backend, ci, don't merge, frontend, patch, sparkbox feature branch

#537 Updated composer dependencies
  composer.lock
  config/default/core.extension.yml
Labels: backend, ci, frontend

#538 fix(STN-296): hero button and heading padding adjustments
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
Labels: frontend

#536 feat(STN-170): adds Colorful pairing theme setting to humsci_colorful
  docroot/themes/humsci/humsci_airy/config/install/humsci_airy.settings.yml
  docroot/themes/humsci/humsci_basic/config/install/humsci_basic.settings.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_colorful/config/install/humsci_colorful.settings.yml
  docroot/themes/humsci/humsci_colorful/humsci_colorful.theme
  docroot/themes/humsci/humsci_colorful/theme-settings.php
  docroot/themes/humsci/humsci_traditional/config/install/humsci_traditional.settings.yml
Labels: backend

#540 Feat 274 wysiwyg utility
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  docroot/themes/humsci/archaeology/css/base.css
  docroot/themes/humsci/archaeology/css/ckeditor.css
  docroot/themes/humsci/francestanford/css/base.css
  docroot/themes/humsci/francestanford/css/ckeditor.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/mathematics/css/base.css
  docroot/themes/humsci/mathematics/css/ckeditor.css
  docroot/themes/humsci/su_humsci_subtheme/css/base.css
  docroot/themes/humsci/su_humsci_subtheme/css/ckeditor.css
  docroot/themes/humsci/su_humsci_theme/css/base/index.css
  docroot/themes/humsci/su_humsci_theme/css/ckeditor.css
  docroot/themes/humsci/su_humsci_theme/css/colors.css
  docroot/themes/humsci/su_humsci_theme/scss/base/_global.scss
  docroot/themes/humsci/su_humsci_theme/scss/ckeditor.scss
  docroot/themes/humsci/su_humsci_theme/scss/colors.scss
  docroot/themes/humsci/su_humsci_theme/scss/decanter-overrides/_decanter-overrides.scss
Labels: frontend
