Repository SU-HSDO/suhumsci, pull requests merged in 2020-11, with the labels that each got.

#751 Sparkbox sprint 28
  config/default/humsci_colorful.settings.yml
  config/default/humsci_traditional.settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/theme-settings.php
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/humsci_colorful.theme
  docroot/themes/humsci/humsci_colorful/theme-settings.php
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/humsci_traditional.theme
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: backend, frontend, patch

#750 Removed deprecated code usages
  composer.json
  composer.lock
  docroot/modules/humsci/hs_field_helpers/src/Plugin/Field/FieldWidget/DateTimeYearOnly.php
  docroot/profiles/humsci/stanford_mrc/modules/mrc_display_modes/mrc_display_modes.module
  docroot/profiles/humsci/stanford_mrc/modules/mrc_ds_blocks/mrc_ds_blocks.services.yml
  docroot/profiles/humsci/stanford_mrc/modules/mrc_ds_blocks/src/BlockLazyLoader.php
  docroot/profiles/humsci/stanford_mrc/modules/mrc_ds_blocks/src/Form/MrcDsBlocksAddForm.php
  docroot/profiles/humsci/stanford_mrc/modules/mrc_ds_blocks/src/Form/MrcDsBlocksDeleteForm.php
  docroot/profiles/humsci/stanford_mrc/modules/mrc_ds_blocks/src/Routing/RouteSubscriber.php
  docroot/profiles/humsci/stanford_mrc/modules/mrc_events_importer/mrc_events_importer.module
  docroot/profiles/humsci/stanford_mrc/modules/mrc_helper/src/Controller/DynamicEntityAutocompleteController.php
  docroot/profiles/humsci/stanford_mrc/modules/mrc_visitor/mrc_visitor.install
Labels: backend

#752 STN-590: Email and URL refinement with word break
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#754 HSD8-931-938-944-945 Provisions
  blt/blt.yml
  docroot/sites/ceas/blt.yml
  docroot/sites/ceas/default.local.drush.yml
  docroot/sites/ceas/default.services.yml
  docroot/sites/ceas/default.settings.php
  docroot/sites/ceas/services.yml
  docroot/sites/ceas/settings.php
  docroot/sites/ceas/settings/default.includes.settings.php
  docroot/sites/ceas/settings/default.local.settings.php
  docroot/sites/facultyaffairs-humsci/blt.yml
  docroot/sites/facultyaffairs-humsci/default.local.drush.yml
  docroot/sites/facultyaffairs-humsci/default.services.yml
  docroot/sites/facultyaffairs-humsci/default.settings.php
  docroot/sites/facultyaffairs-humsci/services.yml
  docroot/sites/facultyaffairs-humsci/settings.php
  docroot/sites/facultyaffairs-humsci/settings/default.includes.settings.php
  docroot/sites/facultyaffairs-humsci/settings/default.local.settings.php
  docroot/sites/finance-humsci/blt.yml
  docroot/sites/finance-humsci/default.local.drush.yml
  docroot/sites/finance-humsci/default.services.yml
  docroot/sites/finance-humsci/default.settings.php
  docroot/sites/finance-humsci/services.yml
  docroot/sites/finance-humsci/settings.php
  docroot/sites/finance-humsci/settings/default.includes.settings.php
  docroot/sites/finance-humsci/settings/default.local.settings.php
  docroot/sites/publicpolicy/blt.yml
  docroot/sites/publicpolicy/default.local.drush.yml
  docroot/sites/publicpolicy/default.services.yml
  docroot/sites/publicpolicy/default.settings.php
  docroot/sites/publicpolicy/services.yml
  docroot/sites/publicpolicy/settings.php
  docroot/sites/publicpolicy/settings/default.includes.settings.php
  docroot/sites/publicpolicy/settings/default.local.settings.php
  drush/sites/ceas.site.yml
  drush/sites/facultyaffairs-humsci.site.yml
  drush/sites/finance-humsci.site.yml
  drush/sites/publicpolicy.site.yml
Labels: backend, ci

#758 STN-626: Hotfix: Card descriptions breaking words unexpectedly
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#753 STN-593 : Create Caption/Credit view mode and styles
  config/default/core.entity_view_mode.media.caption_credit.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.banner.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#759 STN-594: Google Form Height Refinement
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#762 Sparkbox Sprint 29
  config/default/core.entity_view_mode.media.caption_credit.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.banner.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: ci, frontend, patch

#757 STN-603 : Carousel Controls Slick Dots and Arrows Refinement
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#756 8.2.23 Release # DO NOT DELETE
  .circleci/config.yml
  composer.json
  composer.lock
  config/default/core.entity_view_display.media.image.caption_credit
  config/default/core.entity_view_mode.media.caption_credit.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.banner.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: ci, frontend, patch

#766 Added stanford migrate to replace hs_migrate
  blt/src/Blt/Plugin/Commands/CircleCiCommands.php
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/migrate_plus.migration.hs_capx.yml
  config/default/migrate_plus.migration.hs_courses.yml
  config/default/migrate_plus.migration.hs_d7_news.yml
  config/default/migrate_plus.migration.hs_d7_people.yml
  config/default/migrate_plus.migration.hs_d7_publications.yml
  config/default/rabbit_hole.behavior_settings.default.yml
  config/default/rabbit_hole.behavior_settings.default_bundle.yml
  config/default/rabbit_hole.behavior_settings.node_type_hs_course.yml
  config/default/rabbit_hole.behavior_settings.node_type_hs_news.yml
  config/default/rabbit_hole.behavior_settings.node_type_hs_private_page.yml
  config/default/stanford_migrate.settings.yml
  config/default/ultimate_cron.job.hs_migrate_hs_capx.yml
  config/default/ultimate_cron.job.hs_migrate_hs_courses.yml
  config/default/ultimate_cron.job.hs_migrate_hs_d7_content.yml
  config/default/ultimate_cron.job.hs_migrate_hs_events.yml
  config/default/ultimate_cron.job.hs_migrate_hs_news.yml
  docroot/modules/humsci/hs_migrate/config/install/hs_migrate.settings.yml
  docroot/modules/humsci/hs_migrate/config/optional/ultimate_cron.job.hs_migrate_hs_capx.yml
  docroot/modules/humsci/hs_migrate/config/optional/ultimate_cron.job.hs_migrate_hs_courses.yml
  docroot/modules/humsci/hs_migrate/config/optional/ultimate_cron.job.hs_migrate_hs_events.yml
  docroot/modules/humsci/hs_migrate/config/schema/hs_migrate.schema.yml
  docroot/modules/humsci/hs_migrate/hs_migrate.install
  docroot/modules/humsci/hs_migrate/hs_migrate.module
  docroot/modules/humsci/hs_migrate/hs_migrate.permissions.yml
  docroot/modules/humsci/hs_migrate/hs_migrate.services.yml
  docroot/modules/humsci/hs_migrate/src/EventSubscriber/EventsSubscriber.php
  docroot/modules/humsci/hs_migrate/src/Form/HsMigrateImportForm.php
  docroot/modules/humsci/hs_migrate/src/HsMigrateBatchExecutable.php
  docroot/modules/humsci/hs_migrate/src/HsMigratePermissions.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/ImageDimensionSkip.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/source/HsUrl.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate_plus/data_parser/HsJson.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate_plus/data_parser/HsSimpleXml.php
  tests/behat/features/global/Media.feature
Labels: backend, ci
