Repository SU-HSDO/suhumsci, pull requests merged in 2021-08, with the labels that each got.

#935 HSD8-1113: Provision gus-humsci2021
  blt/blt.yml
  docroot/sites/gus_humsci2021/blt.yml
  docroot/sites/gus_humsci2021/default.local.drush.yml
  docroot/sites/gus_humsci2021/default.services.yml
  docroot/sites/gus_humsci2021/default.settings.php
  docroot/sites/gus_humsci2021/services.yml
  docroot/sites/gus_humsci2021/settings.php
  docroot/sites/gus_humsci2021/settings/default.includes.settings.php
  docroot/sites/gus_humsci2021/settings/default.local.settings.php
  drush/sites/gus_humsci2021.site.yml
Labels: backend, ci

#923 9.2.3 Release
  .circleci/config.yml
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/HsCertCommands.php
  composer.json
  composer.lock
  config/default/colorbox.settings.yml
  config/default/core.entity_view_display.media.image.full.yml
  config/default/user.role.site_manager.yml
  config/envs/dev/shield.settings.yml
  config/envs/stage/shield.settings.yml
  docroot/modules/humsci/hs_paragraph_types/css/stanford_gallery.css
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/content/block_content/985ebfed-df24-487c-8602-51dc3bdcde84.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/content/node/3a0fcda7-c346-40e3-af09-f16ad1a3467c.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/sites/gus_humsci2021/blt.yml
  docroot/sites/gus_humsci2021/default.local.drush.yml
  docroot/sites/gus_humsci2021/default.services.yml
  docroot/sites/gus_humsci2021/default.settings.php
  docroot/sites/gus_humsci2021/services.yml
  docroot/sites/gus_humsci2021/settings.php
  docroot/sites/gus_humsci2021/settings/default.includes.settings.php
  docroot/sites/gus_humsci2021/settings/default.local.settings.php
  docroot/sites/sociology/blt.yml
  docroot/sites/sociology/default.local.drush.yml
  docroot/sites/sociology/default.services.yml
  docroot/sites/sociology/default.settings.php
  docroot/sites/sociology/services.yml
  docroot/sites/sociology/settings.php
  docroot/sites/sociology/settings/default.includes.settings.php
  docroot/sites/sociology/settings/default.local.settings.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/readme.md
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_contextual-links.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/templates/field/media--image.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  drush/sites/gus_humsci2021.site.yml
  drush/sites/sociology.site.yml
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: backend, ci, frontend, patch

#937 Updated cert add access check path
  blt/src/Blt/Plugin/Commands/HsCertCommands.php
Labels: backend, ci

#938 Hotfix: Update name for credit caption template
  docroot/themes/humsci/humsci_basic/templates/field/media--image--caption-credit.html.twig
Labels: frontend

#933 HSD8-1091: Added year conversion to dateTime widget for years before 1969.
  docroot/modules/humsci/hs_field_helpers/src/Plugin/Field/FieldWidget/DateTimeYearOnly.php
Labels: backend

#932 STN-679: Add hb-raised-cards styles to Testimonial component
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/compatibility-table.md
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.testimonial.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.decorative.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: ci, patch, frontend, backend

#940 Feat(STN-655): global message banner
  config/default/block.block.humsci_basic_global_message.yml
  config/default/block.block.humsci_colorful_global_message.yml
  config/default/block.block.humsci_traditional_global_message.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.info.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_global-message.scss
  docroot/themes/humsci/humsci_basic/templates/components/pattern-alert.html.twig
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/humsci_colorful.info.yml
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/humsci_traditional.info.yml
Labels: frontend

#942 Fix:(STN-655) global message styling bugs
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_global-message.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#943 Fix: alert and page templates updated
  docroot/modules/humsci/hs_layouts/patterns/alert/alert.html.twig
  docroot/modules/humsci/hs_layouts/patterns/alert/alert.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/templates/components/pattern-alert.html.twig
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
Labels: frontend

#941 Sparkbox sprint 46
  config/default/block.block.humsci_basic_global_message.yml
  config/default/block.block.humsci_colorful_global_message.yml
  config/default/block.block.humsci_traditional_global_message.yml
  docroot/modules/humsci/hs_layouts/patterns/alert/alert.html.twig
  docroot/modules/humsci/hs_layouts/patterns/alert/alert.ui_patterns.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/compatibility-table.md
  docroot/themes/humsci/humsci_basic/humsci_basic.info.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_global-message.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.testimonial.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.decorative.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/humsci_colorful.info.yml
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/humsci_traditional.info.yml
Labels: frontend

#944 Hotfix(STN-843): adjust top positioning of mobile nav button
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#947 Fix(STN-785): Fix back to top contextual button
  docroot/modules/humsci/hs_blocks/css/hs_blocks.back_to_top.css
  docroot/modules/humsci/hs_blocks/scss/hs_blocks.back_to_top.scss
  docroot/themes/humsci/humsci_basic/templates/block/block--hs-blocks-back-to-top-block.html.twig
Labels: ci, patch, frontend, backend

#949 Feat(STN-761): Splash font in callout refinement
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.callout-box.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#954 HSD8-1130-1131-1132-1133: 4 provisions
  blt/blt.yml
  docroot/sites/cmems/blt.yml
  docroot/sites/cmems/default.local.drush.yml
  docroot/sites/cmems/default.services.yml
  docroot/sites/cmems/default.settings.php
  docroot/sites/cmems/services.yml
  docroot/sites/cmems/settings.php
  docroot/sites/cmems/settings/default.includes.settings.php
  docroot/sites/cmems/settings/default.local.settings.php
  docroot/sites/hopkinsmarinestation/blt.yml
  docroot/sites/hopkinsmarinestation/default.local.drush.yml
  docroot/sites/hopkinsmarinestation/default.services.yml
  docroot/sites/hopkinsmarinestation/default.settings.php
  docroot/sites/hopkinsmarinestation/services.yml
  docroot/sites/hopkinsmarinestation/settings.php
  docroot/sites/hopkinsmarinestation/settings/default.includes.settings.php
  docroot/sites/hopkinsmarinestation/settings/default.local.settings.php
  docroot/sites/oconnell/blt.yml
  docroot/sites/oconnell/default.local.drush.yml
  docroot/sites/oconnell/default.services.yml
  docroot/sites/oconnell/default.settings.php
  docroot/sites/oconnell/services.yml
  docroot/sites/oconnell/settings.php
  docroot/sites/oconnell/settings/default.includes.settings.php
  docroot/sites/oconnell/settings/default.local.settings.php
  docroot/sites/sitp/blt.yml
  docroot/sites/sitp/default.local.drush.yml
  docroot/sites/sitp/default.services.yml
  docroot/sites/sitp/default.settings.php
  docroot/sites/sitp/services.yml
  docroot/sites/sitp/settings.php
  docroot/sites/sitp/settings/default.includes.settings.php
  docroot/sites/sitp/settings/default.local.settings.php
  drush/sites/cmems.site.yml
  drush/sites/hopkinsmarinestation.site.yml
  drush/sites/oconnell.site.yml
  drush/sites/sitp.site.yml
Labels: ci, backend
