Repository SU-HSDO/suhumsci, pull requests merged in 2021-05, with the labels that each got.

#864 Docs: Lando Troubleshooting
  lando/README.md
Labels: backend, frontend, patch

#870 STN-728: Update Gradient Hero Slider config
  config/default/core.entity_form_display.paragraph.hs_gradient_hero_slider.default.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: backend

#871 STN-714: Backstop.js
  .gitignore
  docroot/themes/humsci/humsci_basic/.env-sample
  docroot/themes/humsci/humsci_basic/backstop/backstop.js
  docroot/themes/humsci/humsci_basic/backstop/backstop.json
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
Labels: frontend

#867 Chore: disable gradient hero slider on all themes
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
Labels: backend

#866 STN-730: Slider Styles
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.gradient-hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.slick.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#876 STN-621 Color band component
  config/default/core.entity_form_display.paragraph.hs_clr_bnd.default.yml
  config/default/core.entity_view_display.paragraph.hs_clr_bnd.default.yml
  config/default/core.entity_view_display.paragraph.hs_clr_bnd.preview.yml
  config/default/field.field.paragraph.hs_clr_bnd.field_hs_clr_bnd_bgc.yml
  config/default/field.field.paragraph.hs_clr_bnd.field_hs_clr_bnd_txt.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  config/default/field.field.paragraph_row.hs_flexible_page.field_hs_flexible_components.yml
  config/default/field.storage.paragraph.field_hs_clr_bnd_bgc.yml
  config/default/field.storage.paragraph.field_hs_clr_bnd_txt.yml
  config/default/paragraphs.paragraphs_type.hs_clr_bnd.yml
  docroot/modules/humsci/hs_layouts/patterns/color-band/color-band.html.twig
  docroot/modules/humsci/hs_layouts/patterns/color-band/color_band.ui_patterns.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: backend, frontend

#879 Fix: Gradient hero right align bug
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.gradient-hero.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#880 Chore: Enable gradient hero slider config by default
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: backend

#881 Chore: Disable color band on legacy post update
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
Labels: backend

#883 Updated default configs 2021-05-19
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_publications.default.yml
  config/default/core.extension.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  config/default/field.field.paragraph_row.hs_flexible_page.field_hs_flexible_components.yml
  config/default/paragraphs.paragraphs_type.hs_banner.yml
  config/default/paragraphs.paragraphs_type.hs_carousel.yml
  config/default/paragraphs.paragraphs_type.hs_hero_image.yml
  config/default/ultimate_cron.job.stanford_migrate_default.yml
  config/default/views.view.hs_default_events.yml
  config/default/views.view.hs_default_manage_content.yml
  config/envs/dev/ultimate_cron.job.acquia_connector_cron.yml
  config/envs/dev/ultimate_cron.job.purge_processor_cron_cron.yml
  config/envs/prod/ultimate_cron.job.acquia_connector_cron.yml
  config/envs/prod/ultimate_cron.job.purge_processor_cron_cron.yml
  config/envs/stage/ultimate_cron.job.acquia_connector_cron.yml
  config/envs/stage/ultimate_cron.job.purge_processor_cron_cron.yml
Labels: backend, frontend, patch

#884 HSD8-1056 News RSS importer
  blt/src/Blt/Plugin/Commands/HsAcquiaApiCommands.php
  composer.lock
  config/default/config_pages.type.drupal_7_importers.yml
  config/default/core.entity_form_display.config_pages.drupal_7_importers.default.yml
  config/default/core.entity_form_display.importers.news_rss.default.yml
  config/default/core.entity_view_display.config_pages.drupal_7_importers.default.yml
  config/default/core.entity_view_display.importers.news_rss.default.yml
  config/default/eck.eck_entity_type.importers.yml
  config/default/eck.eck_type.importers.news_rss.yml
  config/default/field.field.config_pages.drupal_7_importers.field_news_rss.yml
  config/default/field.field.importers.news_rss.field_terms.yml
  config/default/field.field.importers.news_rss.field_url.yml
  config/default/field.storage.config_pages.field_news_rss.yml
  config/default/field.storage.importers.field_terms.yml
  config/default/field.storage.importers.field_url.yml
  config/default/migrate_plus.migration.hs_news_rss.yml
  docroot/modules/humsci/hs_migrate/hs_migrate.module
  docroot/modules/humsci/hs_migrate/hs_migrate.services.yml
  docroot/modules/humsci/hs_migrate/src/Overrides/MigrationOverrides.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/UrlToTerm.php
Labels: backend, ci, frontend, patch

#886 feat(STN-770): Gradient hero uniform height update to carousel JS
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#890 feat (STN-779): Collection Component Spacing
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend
