Repository SU-HSDO/suhumsci, pull requests merged in 2021-01, with the labels that each got.

#776 8.2.25 Release # DO NOT DELETE
  blt/blt.yml
  composer.lock
  config/default/migrate_plus.migration.hs_capx.yml
  config/default/system.site.yml
  config/default/ultimate_cron.job.stanford_migrate_hs_capx.yml
  config/default/ultimate_cron.job.stanford_migrate_hs_courses.yml
  config/default/ultimate_cron.job.stanford_migrate_hs_d7_content.yml
  config/default/ultimate_cron.job.stanford_migrate_hs_events.yml
  config/default/ultimate_cron.job.stanford_migrate_hs_news.yml
  docroot/modules/humsci/hs_blocks/hs_blocks.services.yml
  docroot/modules/humsci/hs_blocks/src/EventSubscriber/EventSubscriber.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/src/Overrides/ConfigOverrides.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  docroot/sites/islamicstudies/blt.yml
  docroot/sites/islamicstudies/default.local.drush.yml
  docroot/sites/islamicstudies/default.services.yml
  docroot/sites/islamicstudies/default.settings.php
  docroot/sites/islamicstudies/services.yml
  docroot/sites/islamicstudies/settings.php
  docroot/sites/islamicstudies/settings/default.includes.settings.php
  docroot/sites/islamicstudies/settings/default.local.settings.php
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/su_humsci_theme/su_humsci_theme.theme
  drush/sites/islamicstudies.site.yml
Labels: backend, ci, patch

#781 STN-605: Refinement of Text Area / WYSIWYG Block Quote Styles
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#780 STN-568: Views Dark Color Inversion
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_dark-pattern.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_display-more-link-text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#784 Sparkbox Sprint 31
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_dark-pattern.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_display-more-link-text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_lists.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, patch

#790 STN-628: Caption/credit text styles limit
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#791 Stn 660 caption credit refinements
  config/default/core.entity_view_display.media.image.caption_credit
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#785 Sparkbox Sprint 32
  config/default/core.entity_view_display.media.image.caption_credit
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend
