Repository SU-HSDO/suhumsci, pull requests merged in 2021-02, with the labels that each got.

#800 HSD8-983-984: Added psychology and stanfordsciencefellows to multi-site.
  blt/blt.yml
  docroot/sites/psychology/blt.yml
  docroot/sites/psychology/default.local.drush.yml
  docroot/sites/psychology/default.services.yml
  docroot/sites/psychology/default.settings.php
  docroot/sites/psychology/services.yml
  docroot/sites/psychology/settings.php
  docroot/sites/psychology/settings/default.includes.settings.php
  docroot/sites/psychology/settings/default.local.settings.php
  docroot/sites/stanfordsciencefellows/blt.yml
  docroot/sites/stanfordsciencefellows/default.local.drush.yml
  docroot/sites/stanfordsciencefellows/default.services.yml
  docroot/sites/stanfordsciencefellows/default.settings.php
  docroot/sites/stanfordsciencefellows/services.yml
  docroot/sites/stanfordsciencefellows/settings.php
  docroot/sites/stanfordsciencefellows/settings/default.includes.settings.php
  docroot/sites/stanfordsciencefellows/settings/default.local.settings.php
  drush/sites/psychology.site.yml
  drush/sites/stanfordsciencefellows.site.yml
Labels: backend, ci

#801 Feat(STN-597): update figcaption to new caption/credit styling in WYSIWYG
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#803 feat (STN- 645): Convert imported D7 classes
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#805 STN-649: Conflict between full width row and uniform height classes
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#787 STN-607: Implementation of Testimonial Paragraph/UI Pattern for views
  config/default/core.entity_form_display.paragraph.hs_testimonial.default.yml
  config/default/core.entity_view_display.paragraph.hs_testimonial.default.yml
  config/default/core.entity_view_display.paragraph.hs_testimonial.preview.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_image.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_link.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_name.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_position.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_quote.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_quote_align.yml
  config/default/field.storage.paragraph.field_hs_testimonial_image.yml
  config/default/field.storage.paragraph.field_hs_testimonial_link.yml
  config/default/field.storage.paragraph.field_hs_testimonial_name.yml
  config/default/field.storage.paragraph.field_hs_testimonial_position.yml
  config/default/field.storage.paragraph.field_hs_testimonial_quote.yml
  config/default/field.storage.paragraph.field_hs_testimonial_quote_align.yml
  config/default/paragraphs.paragraphs_type.hs_testimonial.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/patterns/testimonial/testimonial.html.twig
  docroot/themes/humsci/humsci_basic/patterns/testimonial/testimonial.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.testimonial.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.decorative.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  tests/behat/features/install/content/BasicPage.feature
Labels: frontend

#807 HSD8-988: Added ccsre to multi-site.
  blt/blt.yml
  docroot/sites/ccsre/blt.yml
  docroot/sites/ccsre/default.local.drush.yml
  docroot/sites/ccsre/default.services.yml
  docroot/sites/ccsre/default.settings.php
  docroot/sites/ccsre/services.yml
  docroot/sites/ccsre/settings.php
  docroot/sites/ccsre/settings/default.includes.settings.php
  docroot/sites/ccsre/settings/default.local.settings.php
  drush/sites/ccsre.site.yml
Labels: backend, ci

#797 Sparkbox Sprint 33
  config/default/core.entity_form_display.paragraph.hs_testimonial.default.yml
  config/default/core.entity_view_display.paragraph.hs_testimonial.default.yml
  config/default/core.entity_view_display.paragraph.hs_testimonial.preview.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_image.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_link.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_name.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_position.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_quote.yml
  config/default/field.field.paragraph.hs_testimonial.field_hs_testimonial_quote_align.yml
  config/default/field.storage.paragraph.field_hs_testimonial_image.yml
  config/default/field.storage.paragraph.field_hs_testimonial_link.yml
  config/default/field.storage.paragraph.field_hs_testimonial_name.yml
  config/default/field.storage.paragraph.field_hs_testimonial_position.yml
  config/default/field.storage.paragraph.field_hs_testimonial_quote.yml
  config/default/field.storage.paragraph.field_hs_testimonial_quote_align.yml
  config/default/paragraphs.paragraphs_type.hs_testimonial.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/README.md
  docroot/themes/humsci/humsci_basic/docs/dark-inversion.md
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/patterns/testimonial/testimonial.html.twig
  docroot/themes/humsci/humsci_basic/patterns/testimonial/testimonial.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_contextual-links.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_layout-builder.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_local-tasks.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_messages.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_toolbar.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.testimonial.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.decorative.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  tests/behat/features/install/content/BasicPage.feature
Labels: frontend

#810 STN-689 : HOTFIX Pull Decanter Mappings
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_fonts.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#811 STN-682: HOTFIX Carousel caption credit width change
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: frontend

#808 Sparkbox sprint 34
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.views.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, frontend, patch
