Repository SU-HSDO/suhumsci, pull requests merged in 2021-03, with the labels that each got.

#814 8.2.29 Release # DO NOT DELETE
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/fontawesome.settings.yml
  config/default/media.type.image.yml
  config/default/migrate_plus.migration.hs_capx.yml
  config/default/printfriendly.settings.yml
  config/default/views.view.content.yml
  config/envs/local/config_ignore.settings.yml
  docroot/modules/humsci/hs_actions/hs_actions.module
  docroot/modules/humsci/hs_actions/hs_actions.permissions.yml
  docroot/modules/humsci/hs_actions/src/Plugin/Action/MigrationIgnore.php
  docroot/modules/humsci/hs_events/modules/hs_events_importer/src/Form/EventsImporterForm.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/FieldDefaultValue.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.views.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, frontend, patch

#822 STN-703 Hotfix caption credit bug
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, frontend, patch

#821 8.2.31 Release # DO NOT DELETE
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, patch

#817 STN-623 Bug fix dark masthead pipe
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/README.md
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/default-large-screen-dark-inversion.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/default-large-screen.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/default-small-screen-dark-inversion.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/default-small-screen.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/lockup-anatomy.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/lockup-theme-settings.png
  docroot/themes/humsci/humsci_basic/docs/lockup-styles.md
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#820 STN-691: Prevent Bullet List Numbers from Overlapping when there is Multiple Digits
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#819 STN-688 : Refine Captions/Credits for Vertical Linked Card
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#824 feat (STN-694): Merge Refined Padding for hb-raised-cards on Colorful
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/theme-settings.php
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: backend, frontend

#826 Fix: Adjust caption credit sizing and padding on small screens
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: frontend

#812 STN-661: Carousel Height Refinement
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#828 STN-580 Vertical Date stacked cards icons
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/theme-settings.php
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, frontend

#829 HSD8-1008 add campus image gallery
  composer.json
  composer.lock
  config/default/colorbox.settings.yml
  config/default/core.entity_form_display.paragraph.stanford_gallery.default.yml
  config/default/core.entity_view_display.media.image.hs_colorbox.yml
  config/default/core.entity_view_display.media.image.hs_slideshow_image.yml
  config/default/core.entity_view_display.paragraph.stanford_gallery.default.yml
  config/default/core.entity_view_display.paragraph.stanford_gallery.hs_gallery_slideshow.yml
  config/default/core.entity_view_mode.media.hs_colorbox.yml
  config/default/core.entity_view_mode.media.hs_slideshow_image.yml
  config/default/core.entity_view_mode.paragraph.hs_gallery_slideshow.yml
  config/default/core.extension.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  config/default/field.field.paragraph.stanford_gallery.su_gallery_button.yml
  config/default/field.field.paragraph.stanford_gallery.su_gallery_description.yml
  config/default/field.field.paragraph.stanford_gallery.su_gallery_headline.yml
  config/default/field.field.paragraph.stanford_gallery.su_gallery_images.yml
  config/default/field.storage.paragraph.su_gallery_button.yml
  config/default/field.storage.paragraph.su_gallery_description.yml
  config/default/field.storage.paragraph.su_gallery_headline.yml
  config/default/field.storage.paragraph.su_gallery_images.yml
  config/default/paragraphs.paragraphs_type.stanford_gallery.yml
  docroot/modules/humsci/hs_paragraph_types/css/stanford_gallery.css
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.libraries.yml
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.module
  docroot/modules/humsci/hs_paragraph_types/src/Plugin/paragraphs/Behavior/GalleryBehaviors.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
Labels: backend, frontend, patch

#825 Sparkbox Sprint 35
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/README.md
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/default-large-screen-dark-inversion.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/default-large-screen.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/default-small-screen-dark-inversion.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/default-small-screen.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/lockup-anatomy.png
  docroot/themes/humsci/humsci_basic/docs/images/lockup-styles/lockup-theme-settings.png
  docroot/themes/humsci/humsci_basic/docs/lockup-styles.md
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/theme-settings.php
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: backend, frontend, patch

#831 HSD8-1011: Added iranianstudies to multisite.
  blt/blt.yml
  docroot/sites/iranianstudies/blt.yml
  docroot/sites/iranianstudies/default.local.drush.yml
  docroot/sites/iranianstudies/default.services.yml
  docroot/sites/iranianstudies/default.settings.php
  docroot/sites/iranianstudies/services.yml
  docroot/sites/iranianstudies/settings.php
  docroot/sites/iranianstudies/settings/default.includes.settings.php
  docroot/sites/iranianstudies/settings/default.local.settings.php
  drush/sites/iranianstudies.site.yml
Labels: backend, ci

#834 HSD8-1014 Group blocks with attributes and refactor improvements
  config/default/core.entity_view_display.node.hs_course.default.yml
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_news.default.yml
  config/default/core.entity_view_display.node.hs_person.default.yml
  config/default/layout_builder_component_attributes.settings.yml
  docroot/modules/humsci/hs_blocks/hs_blocks.install
  docroot/modules/humsci/hs_blocks/hs_blocks.links.contextual.yml
  docroot/modules/humsci/hs_blocks/hs_blocks.routing.yml
  docroot/modules/humsci/hs_blocks/src/Form/HsConfigureBlockFormBase.php
  docroot/modules/humsci/hs_blocks/src/Form/HsManageBlockAttributesForm.php
  docroot/modules/humsci/hs_blocks/src/Form/HsRemoveBlockForm.php
  docroot/modules/humsci/hs_blocks/src/Form/HsUpdateBlockForm.php
  docroot/modules/humsci/hs_blocks/src/Plugin/Block/GroupBlock.php
Labels: backend

#836 Feat(STN-690): Bug fix for raised vertical card width
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#837 Feat(STN-702): Bug fix dropdown menu bar
  docroot/themes/humsci/humsci_basic/templates/menus/macros/nav-menu.twig
  docroot/themes/humsci/humsci_basic/templates/menus/menu--main.html.twig
Labels: frontend

#838 Sparkbox Sprint 36
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/reset-height-grid.js
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/templates/menus/macros/nav-menu.twig
  docroot/themes/humsci/humsci_basic/templates/menus/menu--main.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: backend, frontend, patch

#842 added phpunit testing
  .circleci/config.yml
  blt/blt.yml
  composer.json
  composer.lock
  docroot/modules/humsci/hs_actions/tests/src/Kernel/Plugin/Action/CloneNodeTest.php
  docroot/modules/humsci/hs_actions/tests/src/Kernel/Plugin/Action/FieldClone/DateTest.php
  docroot/modules/humsci/hs_basic_page/tests/src/Kernel/HsBasicPageKernelTest.php
  docroot/modules/humsci/hs_blocks/tests/src/Unit/Plugin/Block/HsLoginBlockTest.php
  docroot/modules/humsci/hs_capx/src/Entity/CapxImporter.php
  docroot/modules/humsci/hs_capx/tests/src/Unit/CapxImporterListBuilderTest.php
  docroot/modules/humsci/hs_capx/tests/src/Unit/CapxTest.php
  docroot/modules/humsci/hs_config_readonly/tests/src/Unit/EventSubscriber/ConfigReadOnlyEventSubscriberTest.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/src/Entity/CourseTag.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/Controller/CoursesControllerTest.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/CourseTagListBuilderTest.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/Form/CourseImporterTest.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/Form/CourseTagDeleteFormTest.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/Form/CourseTagFormTest.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/HsCoursesImporterTestBase.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/Overrides/CourseImporterOverridesTest.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/Plugin/migrate/process/TranslateCourseTagTest.php
  docroot/modules/humsci/hs_migrate/tests/src/Unit/Plugin/migrate/process/HsEntityGenerateTest.php
  docroot/modules/humsci/hs_revision_cleanup/tests/src/Kernel/RevisionCleanupTest.php
  docroot/modules/humsci/hs_table_filter/tests/src/Unit/HsTableFilterTest.php
  docroot/modules/humsci/hs_views_helper/tests/src/Kernel/Plugin/views/filter/AcademicDateFilterTest.php
  docroot/modules/humsci/hs_views_helper/tests/src/Kernel/Plugin/views/style/HumsciSerializerTest.php
  docroot/modules/humsci/hs_views_helper/tests/src/Unit/Plugin/views/query/SqlTest.php
  tests/phpunit/example.phpunit.xml
Labels: backend, ci
