Repository SU-HSDO/suhumsci, pull requests merged in 2021-04, with the labels that each got.

#847 Chore: Add config override hs_timeline paragraph component
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
Labels: backend, patch

#845 Sparkbox Sprint 37
  config/default/core.entity_form_display.paragraph.hs_timeline.default.yml
  config/default/core.entity_form_display.paragraph.hs_timeline_item.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline.preview.yml
  config/default/core.entity_view_display.paragraph.hs_timeline_item.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline_item.preview.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  config/default/field.field.paragraph.hs_timeline.field_hs_field_add_expand_collap.yml
  config/default/field.field.paragraph.hs_timeline.field_hs_timeline.yml
  config/default/field.field.paragraph.hs_timeline_item.field_hs_timeline_item_descripti.yml
  config/default/field.field.paragraph.hs_timeline_item.field_hs_timeline_item_subheadin.yml
  config/default/field.field.paragraph.hs_timeline_item.field_hs_timeline_item_summary.yml
  config/default/field.storage.paragraph.field_hs_field_add_expand_collap.yml
  config/default/field.storage.paragraph.field_hs_timeline.yml
  config/default/field.storage.paragraph.field_hs_timeline_item_descripti.yml
  config/default/field.storage.paragraph.field_hs_timeline_item_subheadin.yml
  config/default/field.storage.paragraph.field_hs_timeline_item_summary.yml
  config/default/paragraphs.paragraphs_type.hs_timeline.yml
  config/default/paragraphs.paragraphs_type.hs_timeline_item.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/timeline-item/timeline-item.html.twig
  docroot/themes/humsci/humsci_basic/patterns/timeline-item/timeline-item.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/patterns/timeline/timeline.html.twig
  docroot/themes/humsci/humsci_basic/patterns/timeline/timeline.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_details.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: backend, frontend

#841 STN-675: WEST Gradient Hero --> configuration
  config/default/core.entity_form_display.paragraph.hs_gradient_hero.default.yml
  config/default/core.entity_view_display.paragraph.hs_gradient_hero.default.yml
  config/default/core.entity_view_display.paragraph.hs_gradient_hero.preview.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_align.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_body.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_image.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_link.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_title.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  config/default/field.field.paragraph_row.hs_flexible_page.field_hs_flexible_components.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_align.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_body.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_image.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_link.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_title.yml
  config/default/paragraphs.paragraphs_type.hs_gradient_hero.yml
  docroot/themes/humsci/humsci_basic/patterns/gradient-hero/gradient-hero.html.twig
  docroot/themes/humsci/humsci_basic/patterns/gradient-hero/gradient-hero.ui_patterns.yml
Labels: frontend

#846 STN-675: Add Gradient Hero Styles 🎨
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/gradient-hero/gradient-hero.html.twig
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.banner.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.gradient-hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#854 HSD8 1045
  composer.json
  composer.lock
  config/default/core.extension.yml
  docroot/modules/humsci/hs_field_helpers/css/hs_field_helpers.add_to_cal.css
  docroot/modules/humsci/hs_field_helpers/hs_field_helpers.libraries.yml
  docroot/modules/humsci/hs_field_helpers/hs_field_helpers.module
  docroot/modules/humsci/hs_field_helpers/scss/hs_field_helpers.add_to_cal.scss
  docroot/modules/humsci/hs_field_helpers/src/Plugin/Field/FieldFormatter/AddToCalFormatter.php
Labels: backend, ci, frontend, patch

#851 Sparkbox Sprint 38
  config/default/core.entity_form_display.paragraph.hs_callout_box.default.yml
  config/default/core.entity_form_display.paragraph.hs_gradient_hero.default.yml
  config/default/core.entity_view_display.paragraph.hs_callout_box.default.yml
  config/default/core.entity_view_display.paragraph.hs_callout_box.preview.yml
  config/default/core.entity_view_display.paragraph.hs_gradient_hero.default.yml
  config/default/core.entity_view_display.paragraph.hs_gradient_hero.preview.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_callout_box.field_hs_callout_box_align.yml
  config/default/field.field.paragraph.hs_callout_box.field_hs_callout_box_body.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_align.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_body.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_image.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_link.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_title.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  config/default/field.field.paragraph_row.hs_flexible_page.field_hs_flexible_components.yml
  config/default/field.storage.paragraph.field_hs_callout_box_align.yml
  config/default/field.storage.paragraph.field_hs_callout_box_body.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_align.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_body.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_image.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_link.yml
  config/default/field.storage.paragraph.field_hs_gradient_hero_title.yml
  config/default/paragraphs.paragraphs_type.hs_callout_box.yml
  config/default/paragraphs.paragraphs_type.hs_gradient_hero.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/patterns/callout-box/callout-box.html.twig
  docroot/themes/humsci/humsci_basic/patterns/callout-box/callout-box.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/patterns/gradient-hero/gradient-hero.html.twig
  docroot/themes/humsci/humsci_basic/patterns/gradient-hero/gradient-hero.ui_patterns.yml
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.banner.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.callout-box.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.gradient-hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: backend, frontend

#859 HSD8 1037
  composer.lock
  config/default/config_pages.type.d7_people.yml
  config/default/config_pages.type.drupal_7_importers.yml
  config/default/config_pages.type.hs_migrate_news.yml
  config/default/config_pages.type.publications.yml
  config/default/core.entity_form_display.config_pages.d7_people.default.yml
  config/default/core.entity_form_display.config_pages.drupal_7_importers.default.yml
  config/default/core.entity_form_display.config_pages.hs_migrate_news.default.yml
  config/default/core.entity_form_display.config_pages.publications.default.yml
  config/default/core.entity_view_display.config_pages.d7_people.default.yml
  config/default/core.entity_view_display.config_pages.drupal_7_importers.default.yml
  config/default/core.entity_view_display.config_pages.hs_migrate_news.default.yml
  config/default/core.entity_view_display.config_pages.publications.default.yml
  config/default/field.field.config_pages.d7_people.field_d7_people_xml_url.yml
  config/default/field.field.config_pages.drupal_7_importers.field_gallery_xml.yml
  config/default/field.field.config_pages.drupal_7_importers.field_news_xml.yml
  config/default/field.field.config_pages.drupal_7_importers.field_people_xml.yml
  config/default/field.field.config_pages.drupal_7_importers.field_publications_xml.yml
  config/default/field.field.config_pages.hs_migrate_news.field_news_xml_feed.yml
  config/default/field.field.config_pages.publications.field_xml_url.yml
  config/default/field.storage.config_pages.field_gallery_xml.yml
  config/default/field.storage.config_pages.field_news_xml.yml
  config/default/field.storage.config_pages.field_people_xml.yml
  config/default/field.storage.config_pages.field_publications_xml.yml
  config/default/field.storage.paragraph.su_gallery_images.yml
  config/default/migrate_plus.migration.hs_d7_gallery_nodes.yml
  config/default/migrate_plus.migration.hs_d7_gallery_paragraphs.yml
  docroot/modules/humsci/hs_migrate/hs_migrate.install
  docroot/modules/humsci/hs_migrate/hs_migrate.links.menu.yml
  docroot/modules/humsci/hs_migrate/hs_migrate.services.yml
  docroot/modules/humsci/hs_migrate/src/EventSubscriber/ConfigEventsSubscriber.php
  docroot/modules/humsci/hs_migrate/src/Overrides/MigrationOverrides.php
  docroot/modules/humsci/hs_migrate/src/Plugin/Derivative/ConfigPageLink.php
  docroot/modules/humsci/hs_migrate/src/Plugin/Menu/ConfigPageLink.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/EntityGenerateNoLookup.php
  docroot/modules/humsci/hs_migrate/tests/src/Unit/Plugin/migrate/process/EntityGenerateNoLookupTest.php
Labels: backend

#860 feat (STN-736): Address Vertical Timeline Bugs
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline-item.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend
