Repository SU-HSDO/suhumsci, pull requests merged in 2021-06, with the labels that each got.

#889 Sparkbox Sprint 41
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#894 HSD8-1078 Updated excluded paragraph types on fields
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_collection.field_hs_collection_items.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  config/default/publishcontent.settings.yml
  config/default/user.role.author.yml
  config/default/user.role.contributor.yml
  config/default/user.role.site_manager.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
Labels: backend, ci, frontend, patch

#896 composer update
  .circleci/config.yml
  .tugboat/config.yml
Labels: ci

#887 9.0.5 Release
  .circleci/config.yml
  .gitignore
  .tugboat/config.yml
  blt/src/Blt/Plugin/Commands/HsAcquiaApiCommands.php
  composer.json
  composer.lock
  config/default/core.entity_form_display.event_collections.conference_session.default.yml
  config/default/core.entity_form_display.node.hs_event.default.yml
  config/default/core.entity_form_display.paragraph.hs_accordion.default.yml
  config/default/core.entity_view_display.paragraph.hs_accordion.default.yml
  config/default/core.extension.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_accordion.field_hs_accordion_image.yml
  config/default/field.field.paragraph.hs_collection.field_hs_collection_items.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  config/default/field.storage.paragraph.field_hs_accordion_image.yml
  config/default/publishcontent.settings.yml
  config/default/user.role.author.yml
  config/default/user.role.contributor.yml
  config/default/user.role.site_manager.yml
  config/default/views_field_view.settings.yml
  docroot/modules/humsci/hs_migrate/src/Overrides/MigrationOverrides.php
  docroot/profiles/humsci/su_humsci_profile/drush.services.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/src/Commands/HumsciCommands.php
  docroot/profiles/humsci/su_humsci_profile/src/Overrides/ConfigOverrides.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  simplesamlphp/config/authsources.php
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: backend, ci, frontend, minor

#897 STN-783: Vertical Timeline Triangle Icon Expand/Collapse Indicator Bug
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#900 STN-719: Traditional Color Band Refinement
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#901 HSD8-1061 Codeception test for Collection paragraph
  blt/src/Blt/Plugin/Commands/HsAcquiaApiCommands.php
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: backend, ci, patch

#893 Sparkbox Sprint 42
  config/default/core.entity_view_display.media.image.hs_photo_gallery_slideshow.yml
  config/default/core.entity_view_display.paragraph.stanford_gallery.hs_gallery_slideshow.yml
  config/default/core.entity_view_mode.media.hs_photo_gallery_slideshow.yml
  config/default/image.style.hs_slideshow_large_2000x1500.yml
  config/default/image.style.hs_slideshow_medium_1500x1125.yml
  config/default/image.style.hs_slideshow_small_1000x750.yml
  config/default/image.style.hs_slideshow_xsmall_800x600.yml
  config/default/responsive_image.styles.slideshow_responsive.yml
  config/default/slick.optionset.slideshow_no_dots.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.callout-box.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-slider.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#902 HSD8-1087: Provision hs_colorful and hs_traditional
  blt/blt.yml
  docroot/sites/hs_colorful/blt.yml
  docroot/sites/hs_colorful/default.local.drush.yml
  docroot/sites/hs_colorful/default.services.yml
  docroot/sites/hs_colorful/default.settings.php
  docroot/sites/hs_colorful/services.yml
  docroot/sites/hs_colorful/settings.php
  docroot/sites/hs_colorful/settings/default.includes.settings.php
  docroot/sites/hs_colorful/settings/default.local.settings.php
  docroot/sites/hs_traditional/blt.yml
  docroot/sites/hs_traditional/default.local.drush.yml
  docroot/sites/hs_traditional/default.services.yml
  docroot/sites/hs_traditional/default.settings.php
  docroot/sites/hs_traditional/services.yml
  docroot/sites/hs_traditional/settings.php
  docroot/sites/hs_traditional/settings/default.includes.settings.php
  docroot/sites/hs_traditional/settings/default.local.settings.php
  drush/sites/hs_colorful.site.yml
  drush/sites/hs_traditional.site.yml
Labels: backend, ci

#898 9.1.1 Release
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/HsAcquiaApiCommands.php
  composer.json
  composer.lock
  config/default/core.entity_view_display.media.image.hs_photo_gallery_slideshow.yml
  config/default/core.entity_view_display.paragraph.stanford_gallery.hs_gallery_slideshow.yml
  config/default/core.entity_view_mode.media.hs_photo_gallery_slideshow.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/image.style.hs_slideshow_large_2000x1500.yml
  config/default/image.style.hs_slideshow_medium_1500x1125.yml
  config/default/image.style.hs_slideshow_small_1000x750.yml
  config/default/image.style.hs_slideshow_xsmall_800x600.yml
  config/default/responsive_image.styles.slideshow_responsive.yml
  config/default/slick.optionset.slideshow_no_dots.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/hs_colorful/blt.yml
  docroot/sites/hs_colorful/default.local.drush.yml
  docroot/sites/hs_colorful/default.services.yml
  docroot/sites/hs_colorful/default.settings.php
  docroot/sites/hs_colorful/services.yml
  docroot/sites/hs_colorful/settings.php
  docroot/sites/hs_colorful/settings/default.includes.settings.php
  docroot/sites/hs_colorful/settings/default.local.settings.php
  docroot/sites/hs_traditional/blt.yml
  docroot/sites/hs_traditional/default.local.drush.yml
  docroot/sites/hs_traditional/default.services.yml
  docroot/sites/hs_traditional/default.settings.php
  docroot/sites/hs_traditional/services.yml
  docroot/sites/hs_traditional/settings.php
  docroot/sites/hs_traditional/settings/default.includes.settings.php
  docroot/sites/hs_traditional/settings/default.local.settings.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.callout-box.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-slider.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.three_column_w_image.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  drush/sites/hs_colorful.site.yml
  drush/sites/hs_traditional.site.yml
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: backend, ci, frontend, patch

#907 fix(STN-804): caption credit views hotfix
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/templates/field/media--caption-credit.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend
