Repository SU-HSDO/suhumsci, pull requests merged in 2021-07, with the labels that each got.

#913 HSD8-1077 Allow site managers ability to build unpublished menu items
  composer.json
  composer.lock
  tests/codeception/acceptance/Install/InstallStateCest.php
Labels: backend

#908 9.2.1 Release
  blt/src/Blt/Plugin/Commands/HsAcquiaApiCommands.php
  blt/src/Blt/Plugin/Commands/HsCertCommands.php
  composer.json
  composer.lock
  docroot/modules/humsci/hs_blocks/css/hs_blocks.group_block.css
  docroot/modules/humsci/hs_blocks/scss/hs_blocks.group_block.scss
  docroot/modules/humsci/hs_blocks/src/Plugin/Block/GroupBlock.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  tests/codeception/acceptance/Install/InstallStateCest.php
Labels: backend, ci, frontend, patch

#905 STN-738: Add Photo Album Slider counter
  config/default/core.entity_view_display.paragraph.stanford_gallery.hs_gallery_slideshow.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-slider.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.slick.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#910 feat(STN-782) Limited width color bands
  config/default/core.entity_form_display.paragraph.hs_clr_bnd.default.yml
  config/default/core.entity_view_display.paragraph.hs_clr_bnd.default.yml
  config/default/core.entity_view_display.paragraph.hs_clr_bnd.preview.yml
  config/default/field.field.paragraph.hs_clr_bnd.field_hs_clr_bnd_wdth.yml
  config/default/field.storage.paragraph.field_hs_clr_bnd_wdth.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/templates/components/pattern-color-band--layout--paragraph--preview.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#917 STN-781: Update caption/credit styles on images placed within the body area of node detail pages
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#920 STN-732: Add Photo Album Grid Lightbox / Colorbox Styles
  config/default/colorbox.settings.yml
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-grid.scss
Labels: frontend

#927 STN-732(v2): Adds CSS for lightbox styles
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#930 HSD8-1101: Provision sociology
  blt/blt.yml
  docroot/sites/sociology/blt.yml
  docroot/sites/sociology/default.local.drush.yml
  docroot/sites/sociology/default.services.yml
  docroot/sites/sociology/default.settings.php
  docroot/sites/sociology/services.yml
  docroot/sites/sociology/settings.php
  docroot/sites/sociology/settings/default.includes.settings.php
  docroot/sites/sociology/settings/default.local.settings.php
  drush/sites/sociology.site.yml
Labels: backend, ci

#925 STN-815: Fix placement/accessibility of contextual links on images on views
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/admin/_contextual-links.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#924 Sparkbox Sprint 45
  config/default/colorbox.settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/readme.md
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_contextual-links.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/templates/field/media--image.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: backend, ci, frontend, patch
