Repository SU-HSDO/suhumsci, pull requests merged in 2021-11, with the labels that each got.

#986 Sparkbox Sprint 52
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#989 9.2.13 Release
  composer.json
  composer.lock
  config/default/search_api.index.default_index.yml
  config/default/search_api.settings.yml
  config/default/system.action.webform_archive_action.yml
  config/default/system.action.webform_close_action.yml
  config/default/system.action.webform_delete_action.yml
  config/default/system.action.webform_open_action.yml
  config/default/system.action.webform_unarchive_action.yml
  config/default/webform.settings.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: patch, frontend

#998 9.2.14 Release
  docroot/modules/humsci/hs_blocks/src/Plugin/Block/HsBackToTopBlock.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: patch, frontend, backend

#1003 Hotfix(STN-924): going back to using animationFrame api instead of eventListeners as
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#991 Feat(STN-896): add js linting
  docroot/themes/humsci/humsci_basic/.eslintrc.json
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/src/js/colorful/colorful.js
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/reset-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/shared/media/video-with-caption.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/change-nav.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/collapse-main-menu.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/main-menu-nested-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/main-menu-toggle.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/secondary-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/toggler-handler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_basic/src/js/traditional/traditional.js
  docroot/themes/humsci/humsci_basic/webpack.config.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#1004 Lead font experimental features toggle
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#1007 fix: Identify & Remove Console Errors for Font Aweseome
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#1010 Fix(STN-619): Remove the white space below universal footer
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/admin/_toolbar.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#1009 Fix(STN-906): Bigger text sizes in collections
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend
