Repository SU-HSDO/suhumsci, pull requests merged in 2021-09, with the labels that each got.

#957 Fix(STN-863): Full-width Color Band extends beyond the content region on mobile.
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#955 Sparkbox Sprint 48
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#960 HSD8-1149: Provision music
  blt/blt.yml
  docroot/sites/music/blt.yml
  docroot/sites/music/default.local.drush.yml
  docroot/sites/music/default.services.yml
  docroot/sites/music/default.settings.php
  docroot/sites/music/services.yml
  docroot/sites/music/settings.php
  docroot/sites/music/settings/default.includes.settings.php
  docroot/sites/music/settings/default.local.settings.php
  drush/sites/music.site.yml
Labels: ci, backend

#961 9.2.7 Release
  .circleci/config.yml
  composer.lock
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: ci, patch

#962 Sparkbox Sprint 49
  config/default/field.field.paragraph.hs_priv_collection.field_hs_collection_items.yml
  config/default/field.field.paragraph.hs_priv_collection.field_hs_collection_per_row.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#972 9.2.9 Release
  config/default/field.field.node.hs_basic_page.field_hs_page_components.yml
  config/default/field.field.node.hs_basic_page.field_hs_page_hero.yml
  config/default/field.field.paragraph.hs_collection.field_hs_collection_items.yml
  config/default/field.field.paragraph.hs_row.field_hs_row_components.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
  tests/codeception/acceptance/MenuItemsCest.php
Labels: patch, backend
