Repository SU-HSDO/suhumsci, pull requests merged in 2021-12, with the labels that each got.

#1008 Sparkbox Sprint 54
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/.eslintrc.json
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/src/js/colorful/colorful.js
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/equal-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/reset-height-grid.js
  docroot/themes/humsci/humsci_basic/src/js/shared/media/video-with-caption.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/change-nav.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/collapse-main-menu.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/main-menu-nested-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/main-menu-toggle.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/secondary-toggler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/toggler-handler.js
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_basic/src/js/traditional/traditional.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_toolbar.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_keyframes.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/webpack.config.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: patch, frontend, backend

#1015 HSD8-1148: Capx publications importer
  config/default/migrate_plus.migration.hs_capx_publications.yml
  config/default/migrate_plus.migration_group.hs_capx_publications.yml
  config/default/ultimate_cron.job.stanford_migrate_hs_capx_publications.yml
  docroot/modules/humsci/hs_capx/config/install/migrate_plus.migration.hs_capx_publications.yml
  docroot/modules/humsci/hs_capx/config/schema/hs_capx.schema.yml
  docroot/modules/humsci/hs_capx/hs_capx.install
  docroot/modules/humsci/hs_capx/src/Capx.php
  docroot/modules/humsci/hs_capx/src/Entity/CapxImporter.php
  docroot/modules/humsci/hs_capx/src/Entity/CapxImporterInterface.php
  docroot/modules/humsci/hs_capx/src/Form/CapxImporterForm.php
  docroot/modules/humsci/hs_capx/src/Overrides/ConfigOverrides.php
  docroot/modules/humsci/hs_capx/src/Plugin/migrate_plus/data_parser/HSPubJson.php
  docroot/modules/humsci/hs_capx/tests/src/Unit/CapxTest.php
Labels: ci, backend

#1017 9.2.17 Release
  composer.lock
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch
