Repository SU-HSDO/suhumsci, pull requests merged in 2022-04, with the labels that each got.

#1083 Mega menu configs and access checks
  composer.json
  composer.lock
  config/default/block.block.humsci_basic_megamenu.yml
  config/default/block.block.humsci_colorful_global_message.yml
  config/default/block.block.humsci_colorful_megamenu.yml
  config/default/block.block.humsci_traditional_megamenu.yml
  config/default/core.extension.yml
  config/default/jsonapi.settings.yml
  config/default/ultimate_cron.job.core_event_dispatcher_cron.yml
  config/envs/local/config_ignore.settings.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.services.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/BlockEvents.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/NodeEvents.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.install
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
Labels: backend

#1082 Sparkbox Sprint 61
  composer.json
  composer.lock
  config/default/block.block.humsci_basic_megamenu.yml
  config/default/block.block.humsci_colorful_global_message.yml
  config/default/block.block.humsci_colorful_megamenu.yml
  config/default/block.block.humsci_traditional_megamenu.yml
  config/default/block_class.settings.yml
  config/default/core.extension.yml
  config/default/humsci_colorful.settings.yml
  config/default/humsci_traditional.settings.yml
  config/default/jsonapi.settings.yml
  config/default/ultimate_cron.job.core_event_dispatcher_cron.yml
  config/envs/local/config_ignore.settings.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.services.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/BlockEvents.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/NodeEvents.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.install
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_secondary-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.we-megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/templates/menus/macros/secondary-nav-menu.twig
  docroot/themes/humsci/humsci_basic/theme-settings.php
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_admin/css/base/base.css
  docroot/themes/humsci/su_humsci_admin/scss/base/base.scss
Labels: frontend, backend

#1085 Refactor: Sparkbox Sprint 61 Code Style
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.we-megamenu.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_admin/scss/base/base.scss
Labels: patch, frontend, backend

#1090 Use htaccess to block various paths from bots
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/HsCircleCiCommands.php
  docroot/.htaccess
  docroot/sites/datasci/blt.yml
  docroot/sites/datasciencemajor/blt.yml
  docroot/sites/datasciencemajor/default.local.drush.yml
  docroot/sites/datasciencemajor/default.services.yml
  docroot/sites/datasciencemajor/default.settings.php
  docroot/sites/datasciencemajor/services.yml
  docroot/sites/datasciencemajor/settings.php
  docroot/sites/datasciencemajor/settings/default.includes.settings.php
  docroot/sites/datasciencemajor/settings/default.local.settings.php
  drush/sites/datasciencemajor.site.yml
  patches/htaccess.patch
Labels: ci, patch, frontend, backend

#1091 9.3.12 Release
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/BlockEvents.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch, backend

#1092 [HOTFIX] STN-993: Vertical Timeline Utility Class Fix
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline-item.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#1094 9.3.13 Release
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline-item.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: patch, frontend

#1087 STN-974: Move Mega Menu SCSS
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_airy/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_airy/humsci_airy.libraries.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.info.yml
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/src/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.we-megamenu.scss
  docroot/themes/humsci/humsci_basic/tasks/copy.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_colorful/humsci_colorful.libraries.yml
  docroot/themes/humsci/humsci_colorful/humsci_colorful.theme
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_traditional/humsci_traditional.libraries.yml
  docroot/themes/humsci/humsci_traditional/humsci_traditional.theme
Labels: frontend

#1096 9.3.14 Release
  composer.lock
  config/default/block_class.settings.yml
  config/default/core.entity_form_display.media.embeddable.default.yml
  config/default/core.entity_form_display.media.embeddable.media_library.yml
  config/default/core.entity_form_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event.hs_horizontal_card.yml
  config/default/core.entity_view_display.node.hs_event.hs_vertical_card.yml
  config/default/core.entity_view_display.node.hs_event.search_index.yml
  config/default/core.entity_view_display.node.hs_event.search_result.yml
  config/default/field.field.node.hs_event.field_hs_event_experience.yml
  config/default/field.field.node.hs_event.field_hs_event_stream.yml
  config/default/field.field.node.hs_event.field_hs_event_stream_info.yml
  config/default/field.field.node.hs_event.field_hs_event_ticket.yml
  config/default/field.storage.node.field_hs_event_experience.yml
  config/default/field.storage.node.field_hs_event_stream.yml
  config/default/field.storage.node.field_hs_event_stream_info.yml
  config/default/field.storage.node.field_hs_event_ticket.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  config/default/pathauto.settings.yml
  config/default/simplesamlphp_auth.settings.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch

#1086 Sparkbox Sprint 62
  .github/pull_request_template.md
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_airy/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_airy/humsci_airy.libraries.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.info.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/readme.md
  docroot/themes/humsci/humsci_basic/src/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_basic/src/js/shared/accordion/accordion-toggle-all.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_private-page.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.we-megamenu.scss
  docroot/themes/humsci/humsci_basic/tasks/copy.js
  docroot/themes/humsci/humsci_basic/templates/contrib/we-megamenu-backend.html.twig
  docroot/themes/humsci/humsci_basic/templates/contrib/we-megamenu-li.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_colorful/humsci_colorful.libraries.yml
  docroot/themes/humsci/humsci_colorful/humsci_colorful.theme
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_traditional/humsci_traditional.libraries.yml
  docroot/themes/humsci/humsci_traditional/humsci_traditional.theme
  docroot/themes/humsci/humsci_traditional/js/index.js
  docs/HumsciBasicPRChecklist.md
Labels: frontend
