Repository SU-HSDO/suhumsci, pull requests merged in 2022-02, with the labels that each got.

#1043 HSD8-1217-1213: Provision and deprovision
  blt/blt.yml
  docroot/sites/language/blt.yml
  docroot/sites/language/default.local.drush.yml
  docroot/sites/language/default.services.yml
  docroot/sites/language/default.settings.php
  docroot/sites/language/services.yml
  docroot/sites/language/settings.php
  docroot/sites/language/settings/default.includes.settings.php
  docroot/sites/language/settings/default.local.settings.php
  docroot/sites/xialab/blt.yml
  drush/sites/language.site.yml
Labels: ci, backend

#1019 Test(STN-913): Mobile main nav tests
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: backend

#1047 HSD8-1225-1226-1228: Provisioned em1060, globalcurrents, and memorylabl.
  blt/blt.yml
  docroot/sites/em1060/blt.yml
  docroot/sites/em1060/default.local.drush.yml
  docroot/sites/em1060/default.services.yml
  docroot/sites/em1060/default.settings.php
  docroot/sites/em1060/services.yml
  docroot/sites/em1060/settings.php
  docroot/sites/em1060/settings/default.includes.settings.php
  docroot/sites/em1060/settings/default.local.settings.php
  docroot/sites/globalcurrents/blt.yml
  docroot/sites/globalcurrents/default.local.drush.yml
  docroot/sites/globalcurrents/default.services.yml
  docroot/sites/globalcurrents/default.settings.php
  docroot/sites/globalcurrents/services.yml
  docroot/sites/globalcurrents/settings.php
  docroot/sites/globalcurrents/settings/default.includes.settings.php
  docroot/sites/globalcurrents/settings/default.local.settings.php
  docroot/sites/memorylab/blt.yml
  docroot/sites/memorylab/default.local.drush.yml
  docroot/sites/memorylab/default.services.yml
  docroot/sites/memorylab/default.settings.php
  docroot/sites/memorylab/services.yml
  docroot/sites/memorylab/settings.php
  docroot/sites/memorylab/settings/default.includes.settings.php
  docroot/sites/memorylab/settings/default.local.settings.php
  drush/sites/em1060.site.yml
  drush/sites/globalcurrents.site.yml
  drush/sites/memorylab.site.yml
Labels: ci, backend

#1046 Sparkbox Sprint 57
  .gitignore
  docroot/themes/humsci/humsci_basic/backstop/backstop.js
  docroot/themes/humsci/humsci_basic/backstop/generate-backstop.js
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: frontend, backend

#1050 maximize window
  .circleci/config.yml
  blt/blt.yml
  config/default/core.entity_form_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event.hs_horizontal_card.yml
  config/default/core.entity_view_display.node.hs_event.hs_vertical_card.yml
  config/default/core.entity_view_display.node.hs_event.search_index.yml
  config/default/core.entity_view_display.node.hs_event.search_result.yml
  config/default/field.field.node.hs_event.field_hs_event_registration.yml
  config/default/field.storage.node.field_hs_event_registration.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  config/default/pathauto.pattern.nodes.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/sites/dlcl/blt.yml
  docroot/sites/dlcl/default.local.drush.yml
  docroot/sites/dlcl/default.services.yml
  docroot/sites/dlcl/default.settings.php
  docroot/sites/dlcl/services.yml
  docroot/sites/dlcl/settings.php
  docroot/sites/dlcl/settings/default.includes.settings.php
  docroot/sites/dlcl/settings/default.local.settings.php
  drush/sites/dlcl.site.yml
  tests/codeception.dist.yml
Labels: ci, backend

#1052 9.3.4 Release
  composer.lock
  config/default/core.entity_form_display.paragraph.hs_row.default.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  config/default/system.site.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/archaeology/archaeology.info.yml
  docroot/themes/humsci/francestanford/francestanford.info.yml
  docroot/themes/humsci/mathematics/mathematics.info.yml
  docroot/themes/humsci/su_humsci_subtheme/su_humsci_subtheme.info.yml
Labels: patch

#1058 Feat(STN-786): Configuration defaults docs updates
  docroot/themes/humsci/humsci_basic/docs/README.md
  docroot/themes/humsci/humsci_basic/docs/color-pairings.md
  docroot/themes/humsci/humsci_basic/docs/config-override-deployment.md
  docroot/themes/humsci/humsci_basic/docs/dark-inversion.md
  docroot/themes/humsci/humsci_basic/docs/dev-prep-sprint-branch.md
  docroot/themes/humsci/humsci_basic/docs/drupal-configuration-defaults.md
  docroot/themes/humsci/humsci_basic/docs/lockup-styles.md
  docroot/themes/humsci/humsci_basic/docs/mixins.md
  docroot/themes/humsci/humsci_basic/docs/new-theme.md
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
Labels: frontend

#1053 9.3.5 Release
  composer.lock
  docroot/modules/humsci/hs_layouts/layouts/news-style/news-style.html.twig
  docroot/modules/humsci/hs_layouts/layouts/three-column/three-column.html.twig
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch, frontend

#1061 HSD8-1238: Provisioned hshr.
  blt/blt.yml
  docroot/sites/hshr/blt.yml
  docroot/sites/hshr/default.local.drush.yml
  docroot/sites/hshr/default.services.yml
  docroot/sites/hshr/default.settings.php
  docroot/sites/hshr/services.yml
  docroot/sites/hshr/settings.php
  docroot/sites/hshr/settings/default.includes.settings.php
  docroot/sites/hshr/settings/default.local.settings.php
  drush/sites/hshr.site.yml
Labels: ci, backend
