Repository SU-HSDO/suhumsci, pull requests merged in 2022-10, with the labels that each got.

#1191 Release: FourKitchens Sprint 10
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, Needs review

#1194 shs-108: override inherited styles to fix college name menu overlap
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: patch, frontend, Needs review

#1197 Release: FourKitchens Sprint 11
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/readme.md
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-colorful.js
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-traditional.js
Labels: frontend

#1198 HSD8-1372: Added alias forwarding in sites.php for 2 sites.
  docroot/sites/sites.php
Labels: backend

#1200 Add and enable fast 404 module
  composer.json
  composer.lock
  config/default/core.extension.yml
  docroot/sites/settings/404.html
  docroot/sites/settings/fast404.settings.php
  docroot/sites/settings/global.settings.php
  tests/codeception/acceptance/MenuItemsCest.php
Labels: backend

#1192 9.3.30
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/HsAcquiaApiCommands.php
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  config/default/ultimate_cron.job.fast_404_generator_cron.yml
  config/default/views.view.content.yml
  docroot/.htaccess
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/duboislab2022/blt.yml
  docroot/sites/duboislab2022/default.local.drush.yml
  docroot/sites/duboislab2022/default.services.yml
  docroot/sites/duboislab2022/default.settings.php
  docroot/sites/duboislab2022/services.yml
  docroot/sites/duboislab2022/settings.php
  docroot/sites/duboislab2022/settings/default.includes.settings.php
  docroot/sites/duboislab2022/settings/default.local.settings.php
  docroot/sites/lowe2022/blt.yml
  docroot/sites/lowe2022/default.local.drush.yml
  docroot/sites/lowe2022/default.services.yml
  docroot/sites/lowe2022/default.settings.php
  docroot/sites/lowe2022/services.yml
  docroot/sites/lowe2022/settings.php
  docroot/sites/lowe2022/settings/default.includes.settings.php
  docroot/sites/lowe2022/settings/default.local.settings.php
  docroot/sites/settings/404.html
  docroot/sites/settings/fast404.settings.php
  docroot/sites/settings/global.settings.php
  docroot/sites/shenlab2022/blt.yml
  docroot/sites/shenlab2022/default.local.drush.yml
  docroot/sites/shenlab2022/default.services.yml
  docroot/sites/shenlab2022/default.settings.php
  docroot/sites/shenlab2022/services.yml
  docroot/sites/shenlab2022/settings.php
  docroot/sites/shenlab2022/settings/default.includes.settings.php
  docroot/sites/shenlab2022/settings/default.local.settings.php
  docroot/sites/sites.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/readme.md
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/table-pattern.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-colorful.js
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-traditional.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  drush/sites/duboislab2022.site.yml
  drush/sites/lowe2022.site.yml
  drush/sites/shenlab2022.site.yml
  patches/htaccess.patch
  tests/codeception/acceptance/Install/InstallStateCest.php
  tests/codeception/acceptance/MenuItemsCest.php
Labels: ci, patch, frontend, backend

#1204 Fix automated tests errors
  .circleci/config.yml
  composer.json
  composer.lock
Labels: ci

#1205 HSD8-1374-1375: Add aliases to sites.php
  docroot/sites/sites.php
Labels: ci, patch, backend

#1210 fix tests
  .circleci/config.yml
  composer.json
  config/default/field.field.paragraph.hs_collection.field_hs_collection_items.yml
  docroot/modules/humsci/hs_actions/src/Plugin/Action/CloneNode.php
  docroot/modules/humsci/hs_actions/src/Plugin/Action/FieldClone/Date.php
  tests/codeception/acceptance/Install/InstallStateCest.php
Labels: ci, backend

#1208 SHS-91: Codeception: Test video embeds and captions
  tests/codeception/functional/Install/Content/VideoEmbedCest.php
Labels: ci, backend, Passes code review, Passes functional review

#1209 SHS-92: Codeception: Spotlight Slider
  lando/README.md
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: backend, Passes code review, Passes functional review

#1207 Fix: Missing Bourbon Library stylesheet error when compiling
  docroot/themes/humsci/humsci_basic/package-lock.json
Labels: ci, backend, Passes code review, Passes functional review

#1203 9.3.31
  .circleci/config.yml
  composer.json
  composer.lock
  config/default/field.field.paragraph.hs_collection.field_hs_collection_items.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  docroot/modules/humsci/hs_actions/hs_actions.services.yml
  docroot/modules/humsci/hs_actions/src/EventSubscriber/HsActionsSubscriber.php
  docroot/modules/humsci/hs_actions/src/Plugin/Action/CloneNode.php
  docroot/modules/humsci/hs_actions/src/Plugin/Action/FieldClone/Date.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/content/shortcut/3b6a2f73-e655-47fe-b38a-3b135cb34794.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/content/shortcut/493b128b-fef4-4368-8b37-a537923e9a4f.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/content/shortcut/9e11070a-1fe2-4c84-906f-b6e3f0278572.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/content/shortcut/a301c43e-fa3f-44a3-801d-7c31c07b8c5a.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/content/shortcut/cd650f23-d512-4f05-a798-0a7067367d9f.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/content/shortcut/e991c026-9adc-4f13-b172-7197fc7e0f47.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/content/shortcut/f0aed6d7-63d2-4c8b-8ba3-d3278e43472f.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/sites/sites.php
  patches/core-views.patch
  tests/codeception/acceptance/Install/InstallStateCest.php
Labels: ci, patch, backend

#1213 HSD8-1389 Only show published authors in select list for publications
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/field.field.publications_collections.publication_author.field_hs_publication_author.yml
  config/default/jsonapi_extras.settings.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  config/default/views.view.entity_reference_field_lists.yml
  docroot/modules/humsci/hs_views_helper/hs_views_helper.module
Labels: patch, backend

#1206 Shs 119 megamenu color pairing
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend
