Repository SU-HSDO/suhumsci, pull requests merged in 2022-03, with the labels that each got.

#1062 Fix: spotlight bg hook added and remove region disable field
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/spotlight/spotlight.html.twig
  docroot/modules/humsci/hs_layouts/patterns/spotlight/spotlight.ui_patterns.yml
Labels: frontend, backend

#1057 Sparkbox Sprint 58
  .stylelintrc
  config/default/core.entity_form_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_bg.yml
  config/default/field.storage.paragraph.field_hs_spotlight_bg.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/README.md
  docroot/themes/humsci/humsci_basic/docs/color-pairings.md
  docroot/themes/humsci/humsci_basic/docs/config-override-deployment.md
  docroot/themes/humsci/humsci_basic/docs/dark-inversion.md
  docroot/themes/humsci/humsci_basic/docs/dev-prep-sprint-branch.md
  docroot/themes/humsci/humsci_basic/docs/drupal-configuration-defaults.md
  docroot/themes/humsci/humsci_basic/docs/lockup-styles.md
  docroot/themes/humsci/humsci_basic/docs/mixins.md
  docroot/themes/humsci/humsci_basic/docs/new-color-pairing.md
  docroot/themes/humsci/humsci_basic/docs/new-theme.md
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: ci, frontend, backend

#1063 9.3.7 Release
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch

#1065 Sparkbox Sprint 59
  config/default/core.entity_form_display.paragraph.hs_accordion.default.yml
  config/default/core.entity_view_display.paragraph.hs_accordion.default.yml
  config/default/field.field.paragraph.hs_accordion.field_hs_accord_expcol.yml
  config/default/field.storage.paragraph.field_hs_accord_expcol.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/.eslintrc.json
  docroot/themes/humsci/humsci_basic/docs/README.md
  docroot/themes/humsci/humsci_basic/docs/codeception-testing.md
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/js/shared/accordion/accordion-toggle-all.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/scss/elements/_details.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  lando/README.md
  lando/default.lando.yml
Labels: ci, frontend, backend

#1068 cache improved
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/webp.settings.yml
  docroot/modules/humsci/hs_views_helper/hs_views_helper.module
  docroot/profiles/humsci/su_humsci_profile/src/HumsciCleanup.php
  docroot/profiles/humsci/su_humsci_profile/src/MenuActiveTrailsCacheContextOverride.php
  docroot/profiles/humsci/su_humsci_profile/src/MenuLinkTreeOverride.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.services.yml
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: ci, patch, frontend, backend

#1070 HSD8-1248: Provisioned iriss.
  blt/blt.yml
  docroot/sites/iriss/blt.yml
  docroot/sites/iriss/default.local.drush.yml
  docroot/sites/iriss/default.services.yml
  docroot/sites/iriss/default.settings.php
  docroot/sites/iriss/services.yml
  docroot/sites/iriss/settings.php
  docroot/sites/iriss/settings/default.includes.settings.php
  docroot/sites/iriss/settings/default.local.settings.php
  drush/sites/iriss.site.yml
Labels: ci, backend

#1071 9.3.9 Release
  .circleci/config.yml
  composer.lock
  config/default/migrate_plus.migration.hs_capx.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch

#1075 delete audio media
  blt/src/Blt/Plugin/Commands/HsAcquiaApiCommands.php
  composer.json
  composer.lock
  config/default/core.entity_form_display.media.audio.default.yml
  config/default/core.entity_form_display.media.audio.media_library.yml
  config/default/core.entity_view_display.media.audio.default.yml
  config/default/core.entity_view_display.media.audio.full.yml
  config/default/core.entity_view_display.media.audio.media_library.yml
  config/default/field.field.media.audio.field_media_audio_embed_field.yml
  config/default/field.field.node.hs_event.field_hs_event_audio.yml
  config/default/field.storage.media.field_media_audio_embed_field.yml
  config/default/media.type.audio.yml
Labels: ci, patch, backend

#1079 Provisioned morrisoninstitute.
  blt/blt.yml
  docroot/sites/morrisoninstitute/blt.yml
  docroot/sites/morrisoninstitute/default.local.drush.yml
  docroot/sites/morrisoninstitute/default.services.yml
  docroot/sites/morrisoninstitute/default.settings.php
  docroot/sites/morrisoninstitute/services.yml
  docroot/sites/morrisoninstitute/settings.php
  docroot/sites/morrisoninstitute/settings/default.includes.settings.php
  docroot/sites/morrisoninstitute/settings/default.local.settings.php
  drush/sites/morrisoninstitute.site.yml
Labels: ci, backend
