Repository SU-HSDO/suhumsci, pull requests merged in 2022-06, with the labels that each got.

#1130 9.3.19 Release
  blt/blt.yml
  composer.json
  composer.lock
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/RedirectEvents.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/antiracismlab/blt.yml
  docroot/sites/antiracismlab/default.local.drush.yml
  docroot/sites/antiracismlab/default.services.yml
  docroot/sites/antiracismlab/default.settings.php
  docroot/sites/antiracismlab/services.yml
  docroot/sites/antiracismlab/settings.php
  docroot/sites/antiracismlab/settings/default.includes.settings.php
  docroot/sites/antiracismlab/settings/default.local.settings.php
  docroot/sites/gender/blt.yml
  docroot/sites/gender/default.local.drush.yml
  docroot/sites/gender/default.services.yml
  docroot/sites/gender/default.settings.php
  docroot/sites/gender/services.yml
  docroot/sites/gender/settings.php
  docroot/sites/gender/settings/default.includes.settings.php
  docroot/sites/gender/settings/default.local.settings.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/admin/_toolbar.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  drush/sites/antiracismlab.site.yml
  drush/sites/gender.site.yml
Labels: ci, patch, frontend, backend

#1136 HSD8-1321 Remove and uninstall react paragraphs module
  config/default/core.entity_form_display.paragraph_row.hs_flexible_page.default.yml
  config/default/core.entity_view_display.paragraph_row.hs_flexible_page.default.yml
  config/default/core.extension.yml
  config/default/field.field.paragraph_row.hs_flexible_page.field_hs_flexible_components.yml
  config/default/field.field.paragraph_row.hs_flexible_page.field_hs_flexible_row_style.yml
  config/default/field.storage.paragraph_row.field_hs_flexible_components.yml
  config/default/field.storage.paragraph_row.field_hs_flexible_row_style.yml
  config/default/react_paragraphs.paragraphs_row_type.hs_flexible_page.yml
  config/default/rest.resource.entity.paragraph_row.yml
  config/default/rest.resource.react_paragraphs.yml
  docroot/modules/humsci/hs_migrate/tests/src/Unit/Plugin/migrate/process/SubProcessTest.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  patches/htaccess.patch
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
  tests/codeception/functional/MediaCest.php
Labels: backend

#1135 9.3.21 Release
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/HsAcquiaApiCommands.php
  composer.lock
  config/default/core.entity_form_display.paragraph_row.hs_flexible_page.default.yml
  config/default/core.entity_view_display.media.embeddable.media_library.yml
  config/default/core.entity_view_display.media.file.media_library.yml
  config/default/core.entity_view_display.media.google_form.media_library.yml
  config/default/core.entity_view_display.media.image.media_library.yml
  config/default/core.entity_view_display.media.image.stanford_image_large.yml
  config/default/core.entity_view_display.media.image.stanford_image_large_square.yml
  config/default/core.entity_view_display.media.image.stanford_image_medium.yml
  config/default/core.entity_view_display.media.image.stanford_image_medium_square.yml
  config/default/core.entity_view_display.media.image.stanford_image_small.yml
  config/default/core.entity_view_display.media.image.stanford_image_small_square.yml
  config/default/core.entity_view_display.media.image.stanford_image_xl.yml
  config/default/core.entity_view_display.media.image.stanford_image_xl_square.yml
  config/default/core.entity_view_display.media.image.thumbnail.yml
  config/default/core.entity_view_display.media.video.media_library.yml
  config/default/core.entity_view_display.paragraph_row.hs_flexible_page.default.yml
  config/default/core.extension.yml
  config/default/field.field.paragraph_row.hs_flexible_page.field_hs_flexible_components.yml
  config/default/field.field.paragraph_row.hs_flexible_page.field_hs_flexible_row_style.yml
  config/default/field.storage.paragraph_row.field_hs_flexible_components.yml
  config/default/field.storage.paragraph_row.field_hs_flexible_row_style.yml
  config/default/jsonapi.settings.yml
  config/default/react_paragraphs.paragraphs_row_type.hs_flexible_page.yml
  config/default/rest.resource.entity.paragraph_row.yml
  config/default/rest.resource.react_paragraphs.yml
  config/default/views.view.media.yml
  config/default/views.view.media_library.yml
  config/default/views.view.new_default_image_alt_text.yml
  docroot/.htaccess
  docroot/modules/humsci/hs_migrate/tests/src/Unit/Plugin/migrate/process/SubProcessTest.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  docroot/sites/default/default.settings.php
  docroot/sites/sparkbox_sandbox/blt.yml
  docroot/sites/suac/blt.yml
  docroot/sites/suac/default.local.drush.yml
  docroot/sites/suac/default.services.yml
  docroot/sites/suac/default.settings.php
  docroot/sites/suac/services.yml
  docroot/sites/suac/settings.php
  docroot/sites/suac/settings/default.includes.settings.php
  docroot/sites/suac/settings/default.local.settings.php
  drush/sites/suac.site.yml
  patches/htaccess.patch
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
  tests/codeception/functional/MediaCest.php
Labels: ci, patch, backend

#1138 HSD8-1323 Change tugboat to pull from hs_colorful
  .tugboat/config.yml
  docroot/sites/ci.sites.php
  docroot/sites/hs_colorful/settings/ci.settings.php
  docroot/sites/hs_traditional/settings/ci.settings.php
  docroot/sites/sites.php
Labels: backend
