Repository SU-HSDO/suhumsci, pull requests merged in 2022-09, with the labels that each got.

#1175 menu link improve
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.services.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/HsEventListenersTrait.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/MenuEvents.php
  docroot/profiles/humsci/su_humsci_profile/src/Plugin/Validation/Constraint/MenuLinkItemConstraint.php
  docroot/profiles/humsci/su_humsci_profile/src/Plugin/Validation/Constraint/MenuLinkItemConstraintValidator.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
Labels: patch, backend

#1170 Release: FourKitchens Sprint 8
  README.md
  config/default/core.entity_form_display.paragraph.hs_timeline.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline.preview.yml
  config/default/field.field.paragraph.hs_timeline.field_hs_time_title.yml
  config/default/field.storage.paragraph.field_hs_time_title.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_unpublished.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
  lando/default.lando.yml
  lando/lando.sites.php
Labels: frontend, backend, Needs review

#1176 patch modules
  .tugboat/config.yml
  composer.json
Labels: ci, patch, frontend, backend

#1173 9.3.27
  .tugboat/config.yml
  README.md
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/HsCircleCiCommands.php
  composer.json
  composer.lock
  config/default/core.entity_form_display.paragraph.hs_timeline.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline.preview.yml
  config/default/field.field.paragraph.hs_timeline.field_hs_time_title.yml
  config/default/field.storage.paragraph.field_hs_time_title.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.services.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/HsEventListenersTrait.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/MenuEvents.php
  docroot/profiles/humsci/su_humsci_profile/src/Plugin/Validation/Constraint/MenuLinkItemConstraint.php
  docroot/profiles/humsci/su_humsci_profile/src/Plugin/Validation/Constraint/MenuLinkItemConstraintValidator.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/sites/anthro_net/blt.yml
  docroot/sites/anthro_net/default.local.drush.yml
  docroot/sites/anthro_net/default.services.yml
  docroot/sites/anthro_net/default.settings.php
  docroot/sites/anthro_net/services.yml
  docroot/sites/anthro_net/settings.php
  docroot/sites/anthro_net/settings/default.includes.settings.php
  docroot/sites/anthro_net/settings/default.local.settings.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_unpublished.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  drush/sites/anthro_net.site.yml
  lando/README.md
  lando/default.lando.yml
  lando/lando.sites.php
Labels: ci, patch, frontend, backend

#1171 shs-56: add hero overlay animation for certain heroes
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: minor, frontend, Needs review, Passes code review, Passes functional review

#1174 SHS-8: Codeception testing private page
  tests/codeception/acceptance/Install/Content/PrivatePageCest.php
  tests/codeception/acceptance/Install/Content/PrivatePageContentCest.php
  tests/codeception/acceptance/Install/Content/PrivatePagePermissionCest.php
Labels: frontend, backend, Needs review

#1178 Shs 26 accordion utility class
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1180 Release: FourKitchens Sprint 9
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  tests/codeception/acceptance/Install/Content/PrivatePageCest.php
  tests/codeception/acceptance/Install/Content/PrivatePageContentCest.php
  tests/codeception/acceptance/Install/Content/PrivatePagePermissionCest.php
Labels: ci, frontend, backend, Needs review

#1183 Shs 22 megamenu v1 wcag
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Needs review, Passes code review, Passes functional review

#1181 shs-55: edit breakout box wysiwyg class and color
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/filter.format.basic_html.yml
  config/default/filter.format.basic_html_without_media.yml
  config/default/filter.format.full_html.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/admin/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1184 Release: FourKitchens Sprint 10
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/filter.format.basic_html.yml
  config/default/filter.format.basic_html_without_media.yml
  config/default/filter.format.full_html.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/admin/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: ci, frontend, backend, Needs review

#1186 Shs 111 table view header fix
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/tables/table-pattern.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, Needs review, Passes code review, Passes functional review

#1188 Shs 108 name overlap mobile
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1189 9.3.29
  composer.json
  composer.lock
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch
