Repository SU-HSDO/suhumsci, pull requests merged in 2022-12, with the labels that each got.

#1231 Shs 125 some accessibility improvements
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.forms.scss
  docroot/themes/humsci/humsci_basic/templates/menus-twig/menu-item.twig
  docroot/themes/humsci/humsci_basic/templates/menus/macros/nav-menu.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1230 SHS-123: Codeception: Create aria attributes test for timeline items
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: backend, Needs review, Passes functional review

#1228 shs-87: set up base reduced motion option
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1232 FourKitchens Release: Sprint 15
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/menus-twig/menu-item.twig
  docroot/themes/humsci/humsci_basic/templates/menus/macros/nav-menu.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: don't merge, frontend, backend
