Repository SU-HSDO/suhumsci, pull requests merged in 2022-11, with the labels that each got.

#1196 SHS-64: Codeception test: Megamenu
  lando/README.md
  tests/codeception/functional/MegaMenuCest.php
Labels: frontend, backend, Needs review

#1219 HSD8-1391: Added facultyaffairshumsci2021 to sites.php.
  docroot/sites/sites.php
Labels: backend

#1216 shs-98: move around relative position for photo caption
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-slider.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/templates/field/media--image--caption-credit.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
  tests/codeception/functional/Install/Content/VideoEmbedCest.php
Labels: frontend, Passes code review, Passes functional review

#1215 Shs 105 color band
  config/default/core.entity_view_display.paragraph.hs_clr_bnd.default.yml
  config/default/core.entity_view_display.paragraph.hs_clr_bnd.preview.yml
  config/default/field.storage.paragraph.field_hs_clr_bnd_bgc.yml
  docroot/modules/humsci/hs_layouts/patterns/color-band/color_band.ui_patterns.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  package-lock.json
Labels: frontend, Passes code review, Passes functional review

#1223 Provsioned 3 sites: researchadmin2022_humsci, dsresearch2022, and fra…
  blt/blt.yml
  docroot/sites/dsresearch2022/blt.yml
  docroot/sites/dsresearch2022/default.local.drush.yml
  docroot/sites/dsresearch2022/default.services.yml
  docroot/sites/dsresearch2022/default.settings.php
  docroot/sites/dsresearch2022/services.yml
  docroot/sites/dsresearch2022/settings.php
  docroot/sites/dsresearch2022/settings/default.includes.settings.php
  docroot/sites/dsresearch2022/settings/default.local.settings.php
  docroot/sites/francestanford2022/blt.yml
  docroot/sites/francestanford2022/default.local.drush.yml
  docroot/sites/francestanford2022/default.services.yml
  docroot/sites/francestanford2022/default.settings.php
  docroot/sites/francestanford2022/services.yml
  docroot/sites/francestanford2022/settings.php
  docroot/sites/francestanford2022/settings/default.includes.settings.php
  docroot/sites/francestanford2022/settings/default.local.settings.php
  docroot/sites/researchadmin2022_humsci/blt.yml
  docroot/sites/researchadmin2022_humsci/default.local.drush.yml
  docroot/sites/researchadmin2022_humsci/default.services.yml
  docroot/sites/researchadmin2022_humsci/default.settings.php
  docroot/sites/researchadmin2022_humsci/services.yml
  docroot/sites/researchadmin2022_humsci/settings.php
  docroot/sites/researchadmin2022_humsci/settings/default.includes.settings.php
  docroot/sites/researchadmin2022_humsci/settings/default.local.settings.php
  drush/sites/dsresearch2022.site.yml
  drush/sites/francestanford2022.site.yml
  drush/sites/researchadmin2022_humsci.site.yml
Labels: ci, backend

#1212 9.3.32
  blt/blt.yml
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/field.field.publications_collections.publication_author.field_hs_publication_author.yml
  config/default/jsonapi_extras.settings.yml
  config/default/migrate_plus.migration.hs_capx.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  config/default/migrate_plus.migration_group.hs_capx.yml
  config/default/views.view.entity_reference_field_lists.yml
  docroot/modules/humsci/hs_views_helper/hs_views_helper.module
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/sites/dsresearch2022/blt.yml
  docroot/sites/dsresearch2022/default.local.drush.yml
  docroot/sites/dsresearch2022/default.services.yml
  docroot/sites/dsresearch2022/default.settings.php
  docroot/sites/dsresearch2022/services.yml
  docroot/sites/dsresearch2022/settings.php
  docroot/sites/dsresearch2022/settings/default.includes.settings.php
  docroot/sites/dsresearch2022/settings/default.local.settings.php
  docroot/sites/francestanford2022/blt.yml
  docroot/sites/francestanford2022/default.local.drush.yml
  docroot/sites/francestanford2022/default.services.yml
  docroot/sites/francestanford2022/default.settings.php
  docroot/sites/francestanford2022/services.yml
  docroot/sites/francestanford2022/settings.php
  docroot/sites/francestanford2022/settings/default.includes.settings.php
  docroot/sites/francestanford2022/settings/default.local.settings.php
  docroot/sites/researchadmin2022_humsci/blt.yml
  docroot/sites/researchadmin2022_humsci/default.local.drush.yml
  docroot/sites/researchadmin2022_humsci/default.services.yml
  docroot/sites/researchadmin2022_humsci/default.settings.php
  docroot/sites/researchadmin2022_humsci/services.yml
  docroot/sites/researchadmin2022_humsci/settings.php
  docroot/sites/researchadmin2022_humsci/settings/default.includes.settings.php
  docroot/sites/researchadmin2022_humsci/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/dsresearch2022.site.yml
  drush/sites/francestanford2022.site.yml
  drush/sites/researchadmin2022_humsci.site.yml
Labels: ci, patch, backend

#1222 Added and configured page_cache_query_ignore module
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/page_cache_query_ignore.settings.yml
  docroot/profiles/humsci/su_humsci_profile/src/Overrides/ConfigOverrides.php
Labels: patch, backend

#1217 Shs 97 photo album raised cards
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-slider.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.decorative.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1225 Researchadmin2022 alias fixup
  blt/blt.yml
  docroot/sites/researchadmin2022_humsci/blt.yml
  docroot/sites/researchadmin_humsci2022/blt.yml
  docroot/sites/researchadmin_humsci2022/default.local.drush.yml
  docroot/sites/researchadmin_humsci2022/default.services.yml
  docroot/sites/researchadmin_humsci2022/default.settings.php
  docroot/sites/researchadmin_humsci2022/services.yml
  docroot/sites/researchadmin_humsci2022/settings.php
  docroot/sites/researchadmin_humsci2022/settings/default.includes.settings.php
  docroot/sites/researchadmin_humsci2022/settings/default.local.settings.php
  drush/sites/researchadmin_humsci2022.site.yml
Labels: ci, backend

#1218 shs-122: update accordion state to use correct mixin
  config/default/editor.editor.minimal_html.yml
  config/default/filter.format.minimal_html.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
  tests/codeception/functional/Install/Content/VideoEmbedCest.php
  tests/codeception/functional/MegaMenuCest.php
Labels: frontend, backend

#1221 Shs 49 raised cards collection
  config/default/core.entity_form_display.paragraph.hs_collection.default.yml
  config/default/core.entity_view_display.paragraph.hs_collection.default.yml
  config/default/field.field.paragraph.hs_collection.field_raised_cards.yml
  config/default/field.storage.paragraph.field_raised_cards.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/templates/components/paragraph--hs-collection.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  tests/codeception/functional/Install/Content/VideoEmbedCest.php
Labels: frontend, backend, Passes code review, Passes functional review

#1214 FourKitchens Release: Sprint 11 (part 2)
  config/default/editor.editor.minimal_html.yml
  config/default/filter.format.minimal_html.yml
  lando/README.md
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
  tests/codeception/functional/Install/Content/VideoEmbedCest.php
  tests/codeception/functional/MegaMenuCest.php
Labels: backend, Needs review

#1226 HSD8-1405-1406-1407: Mapped 3 site aliases to correct 2022 paths.
  docroot/sites/sites.php
Labels: backend

#1227 9.4.1
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/src/Overrides/ConfigOverrides.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch, backend
