Repository SU-HSDO/suhumsci, pull requests merged in 2022-01, with the labels that each got.

#1027 HSD8-1209: Provisioned starlab.
  blt/blt.yml
  docroot/sites/starlab/blt.yml
  docroot/sites/starlab/default.local.drush.yml
  docroot/sites/starlab/default.services.yml
  docroot/sites/starlab/default.settings.php
  docroot/sites/starlab/services.yml
  docroot/sites/starlab/settings.php
  docroot/sites/starlab/settings/default.includes.settings.php
  docroot/sites/starlab/settings/default.local.settings.php
  drush/sites/starlab.site.yml
Labels: ci, backend

#1024 HSD8-1170 Localist importers
  .tugboat/config.yml
  config/default/config_pages.type.localist_events.yml
  config/default/core.entity_form_display.config_pages.localist_events.default.yml
  config/default/core.entity_form_display.node.hs_event.default.yml
  config/default/core.entity_view_display.config_pages.localist_events.default.yml
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event.hs_horizontal_card.yml
  config/default/core.entity_view_display.node.hs_event.hs_vertical_card.yml
  config/default/core.entity_view_display.node.hs_event.search_index.yml
  config/default/core.entity_view_display.node.hs_event.search_result.yml
  config/default/field.field.config_pages.localist_events.field_url_individ.yml
  config/default/field.field.config_pages.localist_events.field_url_separate.yml
  config/default/field.field.node.hs_event.field_hs_event_instances.yml
  config/default/field.storage.config_pages.field_url_individ.yml
  config/default/field.storage.config_pages.field_url_separate.yml
  config/default/field.storage.node.field_hs_event_instances.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  config/default/simplesamlphp_auth.settings.yml
  config/default/stanford_ssp.settings.yml
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/DateDifference.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/DateTimeAdjust.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate_plus/data_parser/HSLocalistJson.php
  docroot/profiles/humsci/su_humsci_profile/src/Overrides/ConfigOverrides.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  tests/codeception/acceptance/Paragraphs/ParagraphsCest.php
Labels: patch, backend

#1025 Feat(STN-912) Refine Collection Codeception test
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: backend

#1023 Fix(STN-937): Fix menu active links using front token with hb-dark-pattern
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#1021 Fix(STN-931): Fix incorrect padding for raised horizontal cards
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: frontend

#1029 Feat(STN-930) Fix caption-credit video overlay
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/field/media--embeddable.html.twig
  docroot/themes/humsci/humsci_basic/templates/field/media--video.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#1020 Sparkbox Sprint - Winter Break 2021
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/field/media--embeddable.html.twig
  docroot/themes/humsci/humsci_basic/templates/field/media--video.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
Labels: frontend, backend

#1033 HSD8-12-13: Added xialab to multi-site.
  blt/blt.yml
  docroot/sites/xialab/blt.yml
  docroot/sites/xialab/default.local.drush.yml
  docroot/sites/xialab/default.services.yml
  docroot/sites/xialab/default.settings.php
  docroot/sites/xialab/services.yml
  docroot/sites/xialab/settings.php
  docroot/sites/xialab/settings/default.includes.settings.php
  docroot/sites/xialab/settings/default.local.settings.php
  drush/sites/xialab.site.yml
Labels: ci, backend

#1028 9.3.1 Release
  .tugboat/config.yml
  blt/blt.yml
  composer.lock
  config/default/config_pages.type.localist_events.yml
  config/default/core.entity_form_display.config_pages.localist_events.default.yml
  config/default/core.entity_form_display.node.hs_event.default.yml
  config/default/core.entity_view_display.config_pages.localist_events.default.yml
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event.hs_horizontal_card.yml
  config/default/core.entity_view_display.node.hs_event.hs_vertical_card.yml
  config/default/core.entity_view_display.node.hs_event.search_index.yml
  config/default/core.entity_view_display.node.hs_event.search_result.yml
  config/default/field.field.config_pages.localist_events.field_url_individ.yml
  config/default/field.field.config_pages.localist_events.field_url_separate.yml
  config/default/field.field.course_collections.instructor.field_instructor_person.yml
  config/default/field.field.event_collections.speaker.field_speaker_person.yml
  config/default/field.field.node.hs_event.field_hs_event_instances.yml
  config/default/field.field.node.hs_private_page.field_hs_priv_page_components.yml
  config/default/field.storage.config_pages.field_url_individ.yml
  config/default/field.storage.config_pages.field_url_separate.yml
  config/default/field.storage.node.field_hs_event_instances.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  config/default/simplesamlphp_auth.settings.yml
  config/default/stanford_ssp.settings.yml
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/DateDifference.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/DateTimeAdjust.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate_plus/data_parser/HSLocalistJson.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/src/Overrides/ConfigOverrides.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/sites/xialab/blt.yml
  docroot/sites/xialab/default.local.drush.yml
  docroot/sites/xialab/default.services.yml
  docroot/sites/xialab/default.settings.php
  docroot/sites/xialab/services.yml
  docroot/sites/xialab/settings.php
  docroot/sites/xialab/settings/default.includes.settings.php
  docroot/sites/xialab/settings/default.local.settings.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_caption-credit.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/field/media--embeddable.html.twig
  docroot/themes/humsci/humsci_basic/templates/field/media--video.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  drush/sites/xialab.site.yml
  lando/README.md
  tests/codeception/acceptance/Install/Content/FlexiblePageCest.php
  tests/codeception/acceptance/Paragraphs/ParagraphsCest.php
Labels: ci, patch, frontend, backend

#1036 fix(STN-873) lockup pipe bug on chrome zoom
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#1038 Fix(STN-838): Background in Exposed Views Choice Filter in well
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#1040 HSD8-1218 Update events importer for events-legacy switch
  config/default/migrate_plus.migration.hs_courses.yml
  config/default/migrate_plus.migration.hs_events_importer.yml
  config/default/node.type.hs_event.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/config/install/migrate_plus.migration.hs_courses.yml
  docroot/modules/humsci/hs_events/config/install/node.type.hs_event.yml
  docroot/modules/humsci/hs_events/modules/hs_events_importer/config/install/hs_events_importer.eventsimporter.yml
  docroot/modules/humsci/hs_events/modules/hs_events_importer/config/install/migrate_plus.migration.hs_events_image_importer.yml
  docroot/modules/humsci/hs_events/modules/hs_events_importer/config/install/migrate_plus.migration.hs_events_importer.yml
  docroot/modules/humsci/hs_events/modules/hs_events_importer/hs_events_importer.install
  docroot/modules/humsci/hs_events/modules/hs_events_importer/src/Form/EventsImporterForm.php
  docroot/modules/humsci/hs_events/modules/hs_events_importer/src/Overrides/ConfigOverrides.php
Labels: patch, backend

#1039 Fix(STN-952): Fix credit cap overlay horizontal raised cards
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: frontend

#1037 Sparkbox Sprint 56
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_masthead.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, backend
