Repository SU-HSDO/suhumsci, pull requests merged in 2022-08, with the labels that each got.

#1151 Provisioned womensleadershipcp.
  blt/blt.yml
  docroot/sites/womensleadershipcp/blt.yml
  docroot/sites/womensleadershipcp/default.local.drush.yml
  docroot/sites/womensleadershipcp/default.services.yml
  docroot/sites/womensleadershipcp/default.settings.php
  docroot/sites/womensleadershipcp/services.yml
  docroot/sites/womensleadershipcp/settings.php
  docroot/sites/womensleadershipcp/settings/default.includes.settings.php
  docroot/sites/womensleadershipcp/settings/default.local.settings.php
  drush/sites/womensleadershipcp.site.yml
Labels: ci, backend

#1155 SHS-60: Align view “more link” buttons to the right
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1157 Mailto link color is default blue (incorrect)
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_global-message.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: bug, frontend, Passes code review, Passes functional review

#1154 shs-56: fixes animation hero overlay
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1156 shs-44: firefinch color pairing for traditional theme
  docroot/themes/humsci/humsci_basic/docs/color-pairings.md
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.color-pairings.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: frontend, backend, Passes code review, Passes functional review

#1160 shs-81: bug fix for traditional layered slider at large screen size
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1162 Release: Four Kitchens Sprint 7
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/color-pairings.md
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_global-message.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.color-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: frontend, backend, Needs review

#1165 Move course importer settings to a config page
  composer.json
  composer.lock
  config/default/config_ignore.settings.yml
  config/default/config_pages.type.course_importer.yml
  config/default/core.entity_form_display.config_pages.course_importer.default.yml
  config/default/core.entity_view_display.config_pages.course_importer.default.yml
  config/default/field.field.config_pages.course_importer.field_course_url.yml
  config/default/field.storage.config_pages.field_course_url.yml
  config/default/hs_courses_importer.importer_settings.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/config/schema/hs_courses_importer.schema.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.install
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.links.menu.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.module
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.permissions.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.routing.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.services.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/src/Form/CourseImporter.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/src/Overrides/CourseImporterOverrides.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/src/Plugin/Field/FieldWidget/CoursesLinkWidget.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/Form/CourseImporterTest.php
  docroot/modules/humsci/hs_field_helpers/src/Plugin/Field/FieldFormatter/SmartDateTime.php
Labels: ci, patch, frontend, backend

#1166 build: Compile humsci_basic sass files
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Needs review

#1158 feat: Lando integration for local development
  README.md
  lando/README.md
  lando/default.lando.yml
  lando/lando.sites.php
Labels: enhancement, backend, Needs review

#1167 Shs 56 animation hero rollback
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Needs review

#1153 9.3.25
  .circleci/config.yml
  blt/src/Blt/Plugin/Commands/HsCircleCiCommands.php
  composer.json
  composer.lock
  config/default/block_class.settings.yml
  config/default/config_ignore.settings.yml
  config/default/config_pages.type.course_importer.yml
  config/default/core.entity_form_display.config_pages.course_importer.default.yml
  config/default/core.entity_view_display.config_pages.course_importer.default.yml
  config/default/core.entity_view_display.media.embeddable.default.yml
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/editor.editor.minimal_html.yml
  config/default/field.field.config_pages.course_importer.field_course_url.yml
  config/default/field.storage.config_pages.field_course_url.yml
  config/default/hs_courses_importer.importer_settings.yml
  config/default/migrate_plus.migration.hs_courses.yml
  config/default/views.view.authmap.yml
  config/default/views.view.hs_default_manage_content.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/config/schema/hs_courses_importer.schema.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.install
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.links.menu.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.module
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.permissions.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.routing.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/hs_courses_importer.services.yml
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/src/Form/CourseImporter.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/src/Overrides/CourseImporterOverrides.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/src/Plugin/Field/FieldWidget/CoursesLinkWidget.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/tests/Kernel/Form/CourseImporterTest.php
  docroot/modules/humsci/hs_field_helpers/src/Plugin/Field/FieldFormatter/SmartDateTime.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/color-pairings.md
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_global-message.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_basic/tests/sass-specs/tools/_functions.color-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  docroot/themes/humsci/humsci_traditional/theme-settings.php
  patches/drupallink.patch
Labels: ci, patch, frontend, backend

#1164 Shs 77 megamenu unpublished styles
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_unpublished.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Needs review

#1163 shs-29: add title field to timeline component and style
  config/default/core.entity_form_display.paragraph.hs_timeline.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline.preview.yml
  config/default/field.field.paragraph.hs_timeline.field_hs_time_title.yml
  config/default/field.storage.paragraph.field_hs_time_title.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review
