Repository SU-HSDO/suhumsci, pull requests merged in 2022-05, with the labels that each got.

#1099 Sparkbox Sprint 63
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.we-megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#1105 Gitpod setup
  .gitpod.yml
  .gitpod/blt.yml
  .gitpod/gitpod.settings.php
  composer.json
  docroot/modules/humsci/hs_migrate/tests/src/Unit/Plugin/migrate/process/HsEntityGenerateTest.php
Labels: backend

#1109 Use github actions to stage content
  .github/workflows/content-stage.yml
  blt/src/Blt/Plugin/Commands/HsAcquiaApiCommands.php
Labels: ci, patch, frontend, backend

#1112 Fix migrate typecasting
  docroot/modules/humsci/hs_capx/src/Plugin/migrate_plus/data_parser/HSPubJson.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/src/Plugin/migrate_plus/data_fetcher/CourseHttp.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate_plus/data_parser/HSLocalistJson.php
Labels: backend

#1111 9.3.16 Release
  blt/src/Blt/Plugin/Commands/HsHooksCommands.php
  docroot/modules/humsci/hs_capx/src/Plugin/migrate_plus/data_parser/HSPubJson.php
  docroot/modules/humsci/hs_courses/modules/hs_courses_importer/src/Plugin/migrate_plus/data_fetcher/CourseHttp.php
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate_plus/data_parser/HSLocalistJson.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
Labels: ci, patch, backend

#1107 shs-10: gradient hero fix animated text bug
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: frontend, Passes code review, Passes functional review

#1106 Shs 5 embed bug fixes
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_media-embeds.scss
  docroot/themes/humsci/humsci_basic/templates/field/media--source-embeddable--provider-twitter.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1117 HSD8 1231
  composer.json
  composer.lock
  config/default/config_pages.type.localist_events.yml
  config/default/core.entity_form_display.config_pages.localist_events.default.yml
  config/default/core.entity_view_display.config_pages.localist_events.default.yml
  config/default/core.extension.yml
  config/default/field.field.config_pages.localist_events.field_url_book_i.yml
  config/default/field.field.config_pages.localist_events.field_url_book_s.yml
  config/default/field.storage.config_pages.field_url_book_i.yml
  config/default/field.storage.config_pages.field_url_book_s.yml
  config/default/field_validation.rule_set.config_pages_localist_events.yml
  docroot/profiles/humsci/su_humsci_profile/src/Overrides/ConfigOverrides.php
Labels: patch, backend

#1118 HSD8-1234 Invalidate urls if a redirect is created
  composer.json
  composer.lock
  config/default/config_pages.type.localist_events.yml
  config/default/core.entity_form_display.config_pages.localist_events.default.yml
  config/default/core.entity_view_display.config_pages.localist_events.default.yml
  config/default/core.extension.yml
  config/default/field.field.config_pages.localist_events.field_url_book_i.yml
  config/default/field.field.config_pages.localist_events.field_url_book_s.yml
  config/default/field.storage.config_pages.field_url_book_i.yml
  config/default/field.storage.config_pages.field_url_book_s.yml
  config/default/field_validation.rule_set.config_pages_localist_events.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.services.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/RedirectEvents.php
  docroot/profiles/humsci/su_humsci_profile/src/Overrides/ConfigOverrides.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch, backend

#1120 HSD8 1234
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.services.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/RedirectEvents.php
Labels: backend

#1121 HSD8 1292
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  tests/codeception/acceptance/MenuItemsCest.php
Labels: backend

#1122 Updated default local authsources cert dir.
  simplesamlphp/config/default.local.authsources.php
Labels: backend

#1123 Adjusted path auto test
  tests/codeception/acceptance/MenuItemsCest.php
Labels: backend

#1126 shs-10: bugfix for single hero 'slideshows'
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: frontend, Needs review

#1129 HOTFIX - shs-52: revert breakout box color changes from pr #1108
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Needs review

#1127 9.3.18 Release
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/editor.editor.minimal_html.yml
  config/default/filter.format.basic_html.yml
  config/default/filter.format.basic_html_without_media.yml
  config/default/filter.format.full_html.yml
  config/default/filter.format.minimal_html.yml
  config/default/menu_item_extras.utility.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: patch, frontend

#1125 Shs 7 admin theme links
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/admin/_toolbar.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review
