Repository SU-HSDO/suhumsci, pull requests merged in 2022-07, with the labels that each got.

#1144 Sync hs-colorful site for gitpod
  .gitpod.yml
  .gitpod/gitpod.settings.php
Labels: patch, backend

#1137 9.3.22 Release
  .gitpod.yml
  .gitpod/gitpod.settings.php
  .tugboat/config.yml
  composer.json
  composer.lock
  config/default/migrate_plus.migration.hs_events_importer.yml
  config/default/views.view.hs_default_search.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/ci.sites.php
  docroot/sites/hs_colorful/settings/ci.settings.php
  docroot/sites/hs_traditional/settings/ci.settings.php
  docroot/sites/sites.php
Labels: patch, backend

#1146 HSD8-774 HSD8-1330 Improved group blocks for better usability and configuration
  blt/src/Blt/Plugin/Commands/HsCircleCiCommands.php
  docroot/modules/humsci/hs_blocks/hs_blocks.libraries.yml
  docroot/modules/humsci/hs_blocks/hs_blocks.links.contextual.yml
  docroot/modules/humsci/hs_blocks/hs_blocks.routing.yml
  docroot/modules/humsci/hs_blocks/js/hs_blocks.group_block.admin.js
  docroot/modules/humsci/hs_blocks/src/Controller/HsChooseBlockController.php
  docroot/modules/humsci/hs_blocks/src/Plugin/Block/GroupBlock.php
  tests/codeception/acceptance/MenuItemsCest.php
Labels: ci, patch, frontend, backend

#1142 Upgrade to PHP 8
  .circleci/config.yml
  .tugboat/config.yml
  blt/src/Blt/Plugin/Commands/HsConfigCommands.php
  blt/src/Blt/Plugin/Commands/ToggleModulesCommand.php
  composer.json
  composer.lock
  config/default/block.block.humsci_basic_global_message.yml
  config/default/block.block.humsci_colorful_global_message.yml
  config/default/block.block.humsci_traditional_global_message.yml
  config/default/search_api.index.default_index.yml
  config/default/views.view.hs_default_search.yml
  config/default/views.view.hs_search.yml
  docroot/sites/settings/ci.settings.php
  docroot/sites/settings/default.local.settings.php
Labels: ci, backend

#1147 HSD8-1333-1334-1335-1336: Provisioned 4 2022 copy sites.
  blt/blt.yml
  docroot/sites/dfetter2022/blt.yml
  docroot/sites/dfetter2022/default.local.drush.yml
  docroot/sites/dfetter2022/default.services.yml
  docroot/sites/dfetter2022/default.settings.php
  docroot/sites/dfetter2022/services.yml
  docroot/sites/dfetter2022/settings.php
  docroot/sites/dfetter2022/settings/default.includes.settings.php
  docroot/sites/dfetter2022/settings/default.local.settings.php
  docroot/sites/gavin_wright2022__humsci/blt.yml
  docroot/sites/gavin_wright2022__humsci/default.local.drush.yml
  docroot/sites/gavin_wright2022__humsci/default.services.yml
  docroot/sites/gavin_wright2022__humsci/default.settings.php
  docroot/sites/gavin_wright2022__humsci/services.yml
  docroot/sites/gavin_wright2022__humsci/settings.php
  docroot/sites/gavin_wright2022__humsci/settings/default.includes.settings.php
  docroot/sites/gavin_wright2022__humsci/settings/default.local.settings.php
  docroot/sites/heidi_williams2022__humsci/blt.yml
  docroot/sites/heidi_williams2022__humsci/default.local.drush.yml
  docroot/sites/heidi_williams2022__humsci/default.services.yml
  docroot/sites/heidi_williams2022__humsci/default.settings.php
  docroot/sites/heidi_williams2022__humsci/services.yml
  docroot/sites/heidi_williams2022__humsci/settings.php
  docroot/sites/heidi_williams2022__humsci/settings/default.includes.settings.php
  docroot/sites/heidi_williams2022__humsci/settings/default.local.settings.php
  docroot/sites/humanitiescore2022/blt.yml
  docroot/sites/humanitiescore2022/default.local.drush.yml
  docroot/sites/humanitiescore2022/default.services.yml
  docroot/sites/humanitiescore2022/default.settings.php
  docroot/sites/humanitiescore2022/services.yml
  docroot/sites/humanitiescore2022/settings.php
  docroot/sites/humanitiescore2022/settings/default.includes.settings.php
  docroot/sites/humanitiescore2022/settings/default.local.settings.php
  drush/sites/dfetter2022.site.yml
  drush/sites/gavin_wright2022__humsci.site.yml
  drush/sites/heidi_williams2022__humsci.site.yml
  drush/sites/humanitiescore2022.site.yml
Labels: ci, backend

#1139 Shs 50 twig menu poc
  config/default/core.entity_form_display.config_pages.hs_site_options.default.yml
  config/default/core.entity_view_display.config_pages.hs_site_options.default.yml
  config/default/core.extension.yml
  config/default/field.field.config_pages.hs_site_options.field_en_mega_menu.yml
  config/default/field.storage.config_pages.field_en_mega_menu.yml
  docroot/modules/humsci/hs_megamenu/config/install/field.field.config_pages.hs_site_options.field_en_mega_menu.yml
  docroot/modules/humsci/hs_megamenu/config/install/field.storage.config_pages.field_en_mega_menu.yml
  docroot/modules/humsci/hs_megamenu/hs_megamenu.info.yml
  docroot/modules/humsci/hs_megamenu/hs_megamenu.module
  docroot/modules/humsci/hs_megamenu/readme.md
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/.eslintrc.json
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/megamenu/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/navigation/collapse-main-menu.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_we-megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.general.scss
  docroot/themes/humsci/humsci_basic/templates/menus-twig/menu-item.twig
  docroot/themes/humsci/humsci_basic/templates/menus-twig/menu-list.twig
  docroot/themes/humsci/humsci_basic/templates/menus-twig/secondary-menu.twig
  docroot/themes/humsci/humsci_basic/templates/menus/menu--main.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: ci, patch, frontend, backend

#1149 HSD8-1338 Give site manager access to embed code for twitter
  composer.json
  composer.lock
  config/default/core.entity_view_display.media.embeddable.default.yml
  config/default/field.field.media.embeddable.field_media_embeddable_code.yml
  config/default/media.type.embeddable.yml
  config/default/user.role.site_manager.yml
  docroot/modules/humsci/hs_capx/src/Capx.php
  docroot/modules/humsci/hs_capx/tests/src/Unit/CapxTest.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  tests/phpunit/example.phpunit.xml
Labels: ci, patch, frontend, backend
