Repository SU-HSDO/suhumsci, pull requests merged in 2023-09, with the labels that each got.

#1345 SHS-5011: Testimonial component should use blockquote/cite markup
  docroot/modules/humsci/hs_layouts/patterns/testimonial/testimonial.html.twig
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.testimonial.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1341 FourKitchens Release: Sprint 33
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/field.field.paragraph.hs_collection.field_hs_collection_items.yml
  config/default/linkit.linkit_profile.default.yml
  docroot/modules/humsci/hs_layouts/patterns/testimonial/testimonial.html.twig
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.testimonial.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/templates/components/global-footer.html.twig
  docroot/themes/humsci/humsci_basic/templates/page--front.html.twig
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1348 SHS-4993: Revert warbler color changes
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1350 Link plugin in CKEditor should not add redundant title attribute
  config/default/filter.format.basic_html.yml
  config/default/filter.format.basic_html_without_media.yml
  config/default/filter.format.full_html.yml
  config/default/filter.format.minimal_html.yml
Labels: Needs review

#1351 fix(shs-4993): refining how link colors are applied on warbler color …
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1354 fix(shs-5060): fix H2s around titles in bookshelf/publication cards
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/horizontal-card/horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
Labels: Passes code review, Passes functional review

#1353 Four Kitchens Release: Sprint 34
  config/default/filter.format.basic_html.yml
  config/default/filter.format.basic_html_without_media.yml
  config/default/filter.format.full_html.yml
  config/default/filter.format.minimal_html.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/horizontal-card/horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1356 fix(shs-5068): adding max width to sidebar form
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-exposed-form.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1359 fix(shs-5069): restoring status message theming
  docroot/themes/humsci/humsci_colorful/humsci_colorful.libraries.yml
  docroot/themes/humsci/humsci_traditional/humsci_traditional.libraries.yml
Labels: Passes code review, Passes functional review

#1361 SHS-5007: Fix redundant links in cards
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/horizontal-card/horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/themes/humsci/humsci_basic/templates/field/responsive-image-formatter.html.twig
Labels: Passes code review, Passes functional review

#1352 9.6.1
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/HsHooksCommands.php
  composer.json
  composer.lock
  config/default/autologout.settings.yml
  config/default/config_ignore.settings.yml
  config/default/core.extension.yml
  config/default/field.field.paragraph.hs_collection.field_hs_collection_items.yml
  config/default/filter.format.basic_html.yml
  config/default/filter.format.basic_html_without_media.yml
  config/default/filter.format.full_html.yml
  config/default/filter.format.minimal_html.yml
  config/default/r4032login.settings.yml
  config/default/samlauth.authentication.yml
  config/default/samlauth_user_fields.mappings.yml
  config/default/simplesamlphp_auth.settings.yml
  config/default/stanford_samlauth.settings.yml
  config/default/stanford_ssp.settings.yml
  config/default/system.site.yml
  config/default/views.view.samlauth_map.yml
  docroot/.htaccess
  docroot/modules/humsci/hs_admin/hs_admin.module
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/horizontal-card/horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.install
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/robots.txt
  docroot/sites/aarc/blt.yml
  docroot/sites/aarc/default.local.drush.yml
  docroot/sites/aarc/default.services.yml
  docroot/sites/aarc/default.settings.php
  docroot/sites/aarc/services.yml
  docroot/sites/aarc/settings.php
  docroot/sites/aarc/settings/default.includes.settings.php
  docroot/sites/aarc/settings/default.local.settings.php
  docroot/sites/settings/default.local.settings.php
  docroot/sites/settings/global.settings.php
  docroot/sites/settings/saml.settings.php
  docroot/sites/sites.php
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  drush/sites/aarc.site.yml
  patches/scaffold.patch
Labels: minor

#1363 9.7.1
  composer.lock
  config/default/core.entity_view_display.paragraph.hs_carousel.default.yml
  config/default/core.entity_view_display.paragraph.hs_carousel.slideshow_slide.yml
  config/default/core.entity_view_display.paragraph.hs_gradient_hero_slider.default.yml
  config/default/core.entity_view_display.paragraph.hs_sptlght_slder.default.yml
  config/default/core.entity_view_display.paragraph.stanford_gallery.hs_gallery_slideshow.yml
  config/default/filter.format.basic_html.yml
  config/default/filter.format.basic_html_without_media.yml
  config/default/filter.format.full_html.yml
  config/default/filter.format.minimal_html.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch

#1362 SHS-4903: CKEditor5: Anchor Link plugin
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/editor.editor.basic_html.yml
  config/default/editor.editor.basic_html_without_media.yml
  config/default/editor.editor.full_html.yml
  config/default/editor.editor.minimal_html.yml
Labels: Passes code review, Passes functional review

#1360 fix(shs-5063): adjustments to link/icon color in dark mode
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1364 feat(shs-5076): adding additional image styles to hero no text
  config/default/image.style.hero_no_text_1376px_.yml
  config/default/image.style.hero_no_text_1500px_.yml
  config/default/image.style.hero_no_text_1764px_.yml
  config/default/image.style.hero_no_text_2176px_.yml
  config/default/image.style.hero_no_text_2400px_.yml
  config/default/image.style.hero_no_text_3000px_.yml
  config/default/image.style.hero_no_text_994px_.yml
  config/default/responsive_image.styles.hero_no_text.yml
Labels: Passes code review, Passes functional review
