Repository SU-HSDO/suhumsci, pull requests merged in 2023-01, with the labels that each got.

#1234 shs-131: ensure l2 no links dont behave like links
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1236 shs-132: adjust megamenu mobile to indicate active child items
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/megamenu/index.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/templates/menus-twig/menu-item.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, Passes code review, Passes functional review

#1239 shs-95: this fixes a couple bugs related to video embeds
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/admin/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1241 shs-94: fix accordion float bug
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.accordion.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1242 shs-138: removes old focus mixin and replaces
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.forms.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1244 FourKitchens Release: Sprint 16
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/megamenu/index.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/admin/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_media.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.accordion.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.forms.scss
  docroot/themes/humsci/humsci_basic/templates/menus-twig/menu-item.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: patch, frontend, Needs review

#1245 circleci update
  .circleci/config.yml
  blt/src/Blt/Plugin/Commands/HsCircleCiCommands.php
  blt/src/Blt/Plugin/Commands/HsHooksCommands.php
  docroot/sites/settings/ci.settings.php
  docroot/sites/settings/simplesaml.php
  tests/codeception/acceptance/MenuItemsCest.php
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: ci, patch, frontend, backend

#1246 shs-132: adds mobile background on active pages
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/templates/menus-twig/menu-item.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Needs review, Passes code review, Passes functional review

#1237 SHS-134: Codeception Documentation
  README.md
  docs/Codeception.md
Labels: don't merge, ci, patch, frontend, backend, Passes functional review

#1249 SHS-134: Add Links to Codeception Docs
  docs/Codeception.md
Labels: Passes code review, Passes functional review

#1251 update ui patterns patch
  blt/src/Blt/Plugin/Commands/HsCommands.php
  composer.json
  composer.lock
  patches/contrib/ui_patterns-detect_libraries.patch
Labels: ci, patch, backend

#1248 9.4.4
  blt/src/Blt/Plugin/Commands/HsCommands.php
  composer.json
  composer.lock
  config/default/migrate_plus.migration.hs_capx.yml
  config/default/migrate_plus.migration.hs_capx_publications.yml
  config/default/migrate_plus.migration.hs_courses.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  docroot/modules/humsci/hs_migrate/src/Plugin/migrate/process/CurrentUser.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  docs/Codeception.md
  patches/contrib/ui_patterns-detect_libraries.patch
Labels: ci, patch, backend

#1253 Point francestanford alias to francestanford2022 site.
  docroot/sites/sites.php
Labels: backend

#1252 9.4.5
  composer.lock
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/NodeEvents.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/sites.php
Labels: patch, backend
