Repository SU-HSDO/suhumsci, pull requests merged in 2023-05, with the labels that each got.

#1301 fix: hotfix for stray query parameters attached to url
  docroot/themes/humsci/humsci_basic/src/js/shared/accordion/accordion-toggle-all.js
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, Needs review

#1300 9.4.18
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_basic/src/js/shared/accordion/accordion-toggle-all.js
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: patch, frontend

#1306 HSD8-1464: Point popstudies domain to popstudies2023 site.
  docroot/sites/sites.php
Labels: backend

#1307 HSD8-1465: Provisioned hps.
  blt/blt.yml
  docroot/sites/hps/blt.yml
  docroot/sites/hps/default.local.drush.yml
  docroot/sites/hps/default.services.yml
  docroot/sites/hps/default.settings.php
  docroot/sites/hps/services.yml
  docroot/sites/hps/settings.php
  docroot/sites/hps/settings/default.includes.settings.php
  docroot/sites/hps/settings/default.local.settings.php
  drush/sites/hps.site.yml
Labels: ci, backend

#1303 HSD8-1458: Pointed hsweb-referencecolorful.stanford.edu to hsweb_userguide site.
  docroot/sites/sites.php
Labels: backend

#1302 9.4.19
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/HsCircleCiCommands.php
  composer.lock
  config/default/stanford_ssp.settings.yml
  docroot/.htaccess
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/hps/blt.yml
  docroot/sites/hps/default.local.drush.yml
  docroot/sites/hps/default.services.yml
  docroot/sites/hps/default.settings.php
  docroot/sites/hps/services.yml
  docroot/sites/hps/settings.php
  docroot/sites/hps/settings/default.includes.settings.php
  docroot/sites/hps/settings/default.local.settings.php
  docroot/sites/sites.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/admin/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  drush/sites/hps.site.yml
Labels: ci, patch, frontend, backend

#1309 HSD8-1467: Provision race site
  blt/blt.yml
  docroot/sites/race/blt.yml
  docroot/sites/race/default.local.drush.yml
  docroot/sites/race/default.services.yml
  docroot/sites/race/default.settings.php
  docroot/sites/race/services.yml
  docroot/sites/race/settings.php
  docroot/sites/race/settings/default.includes.settings.php
  docroot/sites/race/settings/default.local.settings.php
  drush/sites/race.site.yml
Labels: ci, backend

#1308 9.4.20
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/HsCircleCiCommands.php
  composer.lock
  config/default/core.entity_view_display.paragraph.hs_gradient_hero_slider.default.yml
  config/default/core.entity_view_display.paragraph.hs_sptlght_slder.default.yml
  config/default/core.entity_view_display.paragraph.stanford_gallery.hs_gallery_slideshow.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/race/blt.yml
  docroot/sites/race/default.local.drush.yml
  docroot/sites/race/default.services.yml
  docroot/sites/race/default.settings.php
  docroot/sites/race/services.yml
  docroot/sites/race/settings.php
  docroot/sites/race/settings/default.includes.settings.php
  docroot/sites/race/settings/default.local.settings.php
  drush/sites/race.site.yml
Labels: ci, patch, backend
