Repository SU-HSDO/suhumsci, pull requests merged in 2023-08, with the labels that each got.

#1332 feat(shs-4970): adjust mobile accent bar
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: frontend, Passes code review, Passes functional review

#1331 feat(shs-4993): adjust link color on warbler color scheme
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1334 SHS-5013: Add Paragraph Browser to Collection paragraph
  config/default/core.entity_form_display.paragraph.hs_collection.default.yml
  docroot/modules/humsci/hs_admin/hs_admin.module
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: Needs review

#1333 FourKitchens Release: Sprint 32
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1343 SHS-4997: Link field should generate URL to file, not media entity
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/linkit.linkit_profile.default.yml
Labels: Passes code review, Passes functional review

#1344 SHS-4914: Mark local footer HTML as footer content
  docroot/themes/humsci/humsci_basic/templates/components/global-footer.html.twig
  docroot/themes/humsci/humsci_basic/templates/page--front.html.twig
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
Labels: Passes code review, Passes functional review
