Repository SU-HSDO/suhumsci, pull requests merged in 2023-02, with the labels that each got.

#1240 SHS 137: Investigate Views/module issue where alt text is omitted
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  lando/README.md
Labels: backend, Passes code review, Passes functional review

#1247 Shs 104 megamenu animation
  config/default/field.field.config_pages.hs_site_options.field_en_mega_menu.yml
  docroot/modules/humsci/hs_megamenu/config/install/field.field.config_pages.hs_site_options.field_en_mega_menu.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1254 9.4.6
  composer.lock
  config/default/field.field.config_pages.hs_site_options.field_en_mega_menu.yml
  docroot/modules/humsci/hs_megamenu/config/install/field.field.config_pages.hs_site_options.field_en_mega_menu.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  lando/README.md
Labels: patch, frontend

#1259 HSD8-1431: Point hsweb-userguide-traditional alias to swshumsci_sandbox site.
  docroot/sites/sites.php
Labels: backend

#1255 9.4.7
  blt/blt.yml
  composer.json
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/it_humsci2023/blt.yml
  docroot/sites/it_humsci2023/default.local.drush.yml
  docroot/sites/it_humsci2023/default.services.yml
  docroot/sites/it_humsci2023/default.settings.php
  docroot/sites/it_humsci2023/services.yml
  docroot/sites/it_humsci2023/settings.php
  docroot/sites/it_humsci2023/settings/default.includes.settings.php
  docroot/sites/it_humsci2023/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/it_humsci2023.site.yml
Labels: ci, patch, backend

#1261 9.4.8
  docroot/modules/humsci/hs_field_helpers/hs_field_helpers.module
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch, backend

#1262 shs-140: fixes photo album caption bug
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-slider.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1258 shs-101: adjusts hero font sizes so theyre smaller than h1
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review

#1260 shs-109: refactor page scroll animation
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, Passes code review, Passes functional review

#1265 FourKitchens Release: Sprint 19
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_airy/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_basic/.nvmrc
  docroot/themes/humsci/humsci_basic/Gruntfile.js
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-slider.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.svg.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_tables.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: patch, frontend, backend, Needs review

#1266 shs-128: fixes bug related to auto blocks and floated images
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Passes code review, Passes functional review

#1267 SHS-2907: Reduce font loading to increase site performance
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
Labels: Passes code review, Passes functional review
