Repository SU-HSDO/suhumsci, pull requests merged in 2023-12, with the labels that each got.

#1413 fix(shs-5150): fixing empty headings on grid views
  docroot/themes/humsci/humsci_basic/templates/views/views-view-grid.html.twig
  docroot/themes/humsci/humsci_basic/templates/views/views-view-unformatted.html.twig
Labels: Needs review

#1414 SHS-5149 empty heading views cards
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/horizontal-card/horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
Labels: Needs review

#1416 Shs 5151 headings legacy
  docroot/themes/humsci/su_humsci_theme/templates/views/views-view-grid.html.twig
  docroot/themes/humsci/su_humsci_theme/templates/views/views-view-unformatted.html.twig
Labels: Needs review

#1418 SHS 5154 layout builder theming
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-tabs/vertical-tabs.js
  docroot/themes/humsci/humsci_basic/src/scss/elements/_details.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_forms.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1411 10.0.5
  blt/blt.yml
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/field.field.config_pages.stanford_global_message.su_global_msg_message.yml
  config/default/field.field.event_collections.conference_session.field_session_information.yml
  config/default/field.field.event_collections.conference_session.field_session_speakers.yml
  config/default/field.field.media.image.field_media_image_caption.yml
  config/default/field.field.node.hs_event.field_hs_event_admission.yml
  config/default/field.field.node.hs_event.field_hs_event_stream_info.yml
  config/default/field.field.node.hs_publications.field_hs_publication_citation.yml
  config/default/field.field.paragraph.hs_accordion.field_hs_accordion_description.yml
  config/default/field.field.paragraph.hs_callout_box.field_hs_callout_box_body.yml
  config/default/field.field.paragraph.hs_gradient_hero.field_hs_gradient_hero_body.yml
  config/default/field.field.paragraph.hs_hero_image.field_hs_hero_body.yml
  config/default/field.field.paragraph.hs_postcard.field_hs_postcard_body.yml
  config/default/field.field.paragraph.hs_priv_text_area.field_hs_priv_text_area.yml
  config/default/field.field.paragraph.hs_spotlight.field_hs_spotlight_body.yml
  config/default/field.field.paragraph.hs_text_area.field_hs_text_area.yml
  config/default/field.field.paragraph.hs_timeline_item.field_hs_timeline_item_descripti.yml
  config/default/field.field.paragraph.stanford_gallery.su_gallery_description.yml
  config/default/file_mdm.settings.yml
  config/default/user.role.authenticated.yml
  docroot/modules/humsci/hs_admin/hs_admin.module
  docroot/modules/humsci/hs_blocks/src/EventSubscriber/EventSubscriber.php
  docroot/modules/humsci/hs_blocks/src/Plugin/Block/GroupBlock.php
  docroot/modules/humsci/hs_layouts/patterns/color-band/color-band.html.twig
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/sites/aaai/blt.yml
  docroot/sites/aaai/default.local.drush.yml
  docroot/sites/aaai/default.services.yml
  docroot/sites/aaai/default.settings.php
  docroot/sites/aaai/services.yml
  docroot/sites/aaai/settings.php
  docroot/sites/aaai/settings/default.includes.settings.php
  docroot/sites/aaai/settings/default.local.settings.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/editoria11y/editoria11y.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/scss/admin/_layout-builder.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/templates/components/pattern-color-band--layout--paragraph--preview.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.portal.css
  drush/sites/aaai.site.yml
Labels: patch

#1419 10.0.6
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/robots.txt
  patches/scaffold.patch
Labels: patch

#1421 fix(shs-5118): add to calendar theming
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/addtocal/addtocal.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_add-to-cal.scss
  docroot/themes/humsci/humsci_basic/templates/contrib/addtocal-links.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Passes code review, Passes functional review
