Repository SU-HSDO/suhumsci, pull requests merged in 2023-11, with the labels that each got.

#1381 Four Kitchens Release - Sprint 37
  config/default/core.entity_form_display.node.hs_private_page.default.yml
  config/default/editor.editor.minimal_html_with_styles.yml
  config/default/field.field.paragraph.hs_postcard.field_hs_postcard_body.yml
  config/default/filter.format.minimal_html_with_styles.yml
  config/default/user.role.contributor.yml
  config/default/user.role.site_manager.yml
  docroot/modules/humsci/hs_basic_page/hs_basic_page.install
  docroot/modules/humsci/hs_blocks/hs_blocks.module
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.install
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/photo-album/colorbox.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-colorful.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.css
  tests/codeception/functional/Install/Content/PrivatePageContentCest.php
Labels: Needs review

#1390 Shs 5107 media table overflow
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.css
Labels: Passes code review, Passes functional review

#1391 fix(shs-5112): fixing contrast on ext vertical links
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1393 SHS-5121: Patch paragraph browser jquery/once issue
  composer.json
Labels: Needs review

#1395 SHS-5114: Fix warbler hs-button color
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1389 SHS-5080: Paragraphs Browser hide filter
  composer.json
  config/default/core.entity_form_display.node.hs_basic_page.default.yml
  config/default/core.entity_form_display.node.hs_private_page.default.yml
  docroot/modules/humsci/hs_basic_page/hs_basic_page.install
Labels: Needs review

#1396 SHS-5116: Move editoria11y button
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_editoria11y.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1392 Four Kitchens Release - Sprint 38
  composer.json
  config/default/core.entity_form_display.node.hs_basic_page.default.yml
  config/default/core.entity_form_display.node.hs_private_page.default.yml
  docroot/modules/humsci/hs_basic_page/hs_basic_page.install
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_editoria11y.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.css
Labels: Needs review

#1397 SHS 5119 jQuery UI dialog z-index
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/admin/_layout-builder.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1399 SHS 5095 Theming User Login Page
  config/default/core.extension.yml
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.portal.css
Labels: Needs review

#1408 SHS-5148: fix hover styles in hb-categories
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1394 10.0.3
  composer.json
  composer.lock
  config/default/core.entity_form_display.node.hs_basic_page.default.yml
  config/default/core.entity_form_display.node.hs_private_page.default.yml
  docroot/modules/humsci/hs_basic_page/hs_basic_page.install
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_editoria11y.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.css
Labels: patch

#1407 SHS-5113: Editoria11y Customizations
  docroot/themes/humsci/humsci_basic/src/js/shared/editoria11y/editoria11y.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1402 fix(shs-5133): removing aria attributes on card images within links
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
Labels: Needs review

#1400 Four Kitchens Release - Sprint 39
  config/default/core.extension.yml
  docroot/modules/humsci/hs_admin/hs_admin.module
  docroot/modules/humsci/hs_layouts/patterns/color-band/color-band.html.twig
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/editoria11y/editoria11y.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/scss/admin/_layout-builder.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.lists.scss
  docroot/themes/humsci/humsci_basic/templates/components/pattern-color-band--layout--paragraph--preview.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.portal.css
Labels: Needs review
