Repository SU-HSDO/suhumsci, pull requests merged in 2023-10, with the labels that each got.

#1358 Four Kitchens Release - Sprint 35
  composer.json
  composer.lock
  config/default/image.style.hero_no_text_1376px_.yml
  config/default/image.style.hero_no_text_1500px_.yml
  config/default/image.style.hero_no_text_1764px_.yml
  config/default/image.style.hero_no_text_2176px_.yml
  config/default/image.style.hero_no_text_2400px_.yml
  config/default/image.style.hero_no_text_3000px_.yml
  config/default/image.style.hero_no_text_994px_.yml
  config/default/responsive_image.styles.hero_no_text.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/date-stacked-horizontal-card/date-stacked-horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/horizontal-card/horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.profile
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/admin/_messages.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-exposed-form.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_wysiwyg-text-area.scss
  docroot/themes/humsci/humsci_basic/templates/field/responsive-image-formatter.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1367 feat(shs-5072): updates to private component browser images
  config/default/paragraphs.paragraphs_type.hs_priv_collection.yml
  config/default/paragraphs.paragraphs_type.hs_priv_text_area.yml
Labels: Needs review

#1368 fix(shs-5091): adding a check for if a heading tag is already present
  docroot/themes/humsci/humsci_basic/templates/views/views-view-unformatted.html.twig
Labels: Needs review

#1370 SHS 4912 vertical linked cards
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-linked-card/vertical-linked-card.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Passes code review, Passes functional review

#1372 Four Kitchens Release - Sprint 36
  config/default/paragraphs.paragraphs_type.hs_priv_collection.yml
  config/default/paragraphs.paragraphs_type.hs_priv_text_area.yml
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-linked-card/vertical-linked-card.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/templates/views/views-view-unformatted.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1357 SHS-5061: Upgrade text format on postcard text area
  config/default/editor.editor.minimal_html_with_styles.yml
  config/default/field.field.paragraph.hs_postcard.field_hs_postcard_body.yml
  config/default/filter.format.minimal_html_with_styles.yml
  config/default/user.role.contributor.yml
  config/default/user.role.site_manager.yml
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.install
Labels: Passes code review, Passes functional review

#1369 fix(shs-5067): applying js to colorbox to fix a11y errors
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/photo-album/colorbox.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1380 SHS-5061: Vertical link card link styles
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review

#1377 fix(shs-5105): gin form override for input width overlap
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.css
Labels: Passes code review, Passes functional review

#1379 SHS-5073: Rename "Add Paragraph" to "Add Component" on Private pages
  config/default/core.entity_form_display.node.hs_private_page.default.yml
  docroot/modules/humsci/hs_basic_page/hs_basic_page.install
  tests/codeception/functional/Install/Content/PrivatePageContentCest.php
Labels: Passes code review, Passes functional review

#1383 10.0.1
  composer.lock
  config/default/editor.editor.webform_default.yml
  config/default/filter.format.webform_default.yml
  config/default/migrate_plus.migration.hs_localist_individual.yml
  config/default/migrate_plus.migration.hs_localist_scheduled.yml
  config/default/search_api.server.default_server.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch

#1382 SHS-5098: Update google fonts
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-colorful.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1384 SHS-5093: A11y Level A: Element IDs are not unique, on search results page
  docroot/modules/humsci/hs_blocks/hs_blocks.module
Labels: Needs review
