Repository SU-HSDO/suhumsci, pull requests merged in 2023-04, with the labels that each got.

#1287 Hotfix: Linked cards with incorrect background color
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-colorful.js
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-traditional.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend

#1285 9.4.14
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/mail_safety.settings.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/settings/global.settings.php
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-colorful.js
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-traditional.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_admin/su_humsci_admin.theme
Labels: patch, frontend, backend

#1292 SHS-4860: js to capture search terms and expand timeline/accord
  docroot/themes/humsci/humsci_basic/humsci_basic.libraries.yml
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/js/shared/accordion/accordion-toggle-all.js
  docroot/themes/humsci/humsci_basic/src/js/shared/search/search-expand.js
  docroot/themes/humsci/humsci_basic/src/js/shared/timeline/expand-collapse-timeline.js
  docroot/themes/humsci/humsci_basic/templates/views/views-view-unformatted.html.twig
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, Needs review, Passes code review, Passes functional review

#1297 HSD8-1459: Point insidehs domain to insidehs2023 site.
  docroot/sites/sites.php
Labels: backend

#1298 HSD8-1461: Provisioned hsweb-referencetraditional.
  blt/blt.yml
  docroot/sites/hsweb_referencetraditional/blt.yml
  docroot/sites/hsweb_referencetraditional/default.local.drush.yml
  docroot/sites/hsweb_referencetraditional/default.services.yml
  docroot/sites/hsweb_referencetraditional/default.settings.php
  docroot/sites/hsweb_referencetraditional/services.yml
  docroot/sites/hsweb_referencetraditional/settings.php
  docroot/sites/hsweb_referencetraditional/settings/default.includes.settings.php
  docroot/sites/hsweb_referencetraditional/settings/default.local.settings.php
  drush/sites/hsweb_referencetraditional.site.yml
Labels: ci, backend
