Repository SU-HSDO/suhumsci, pull requests merged in 2023-03, with the labels that each got.

#1264 9.4.9
  composer.lock
  config/default/migrate_plus.migration_group.hs_capx.yml
  docroot/.ht.router.php
  docroot/modules/humsci/hs_capx/src/Overrides/ConfigOverrides.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_airy/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_basic/.nvmrc
  docroot/themes/humsci/humsci_basic/Gruntfile.js
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/src/js/shared/animation/page-scroll.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.photo-album-slider.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.general.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.svg.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_tables.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/css/vendor.we-megamenu-base.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: patch, frontend, backend

#1271 hotfix: Mobile mega menu doesn't open on non-active trail pages
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/megamenu/index.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, Needs review

#1270 9.4.10
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/megamenu/index.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: patch, frontend

#1274 HSD8-1440: Added permanent alias pointing for researchadmin2022.
  docroot/sites/sites.php
Labels: backend

#1273 SHS-4648: Fix image captions in events teasers covering event date
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/megamenu/index.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_megamenu.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, Passes code review, Passes functional review

#1272 9.4.11
  blt/blt.yml
  composer.json
  composer.lock
  config/default/core.extension.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/insidehs2023/blt.yml
  docroot/sites/insidehs2023/default.local.drush.yml
  docroot/sites/insidehs2023/default.services.yml
  docroot/sites/insidehs2023/default.settings.php
  docroot/sites/insidehs2023/services.yml
  docroot/sites/insidehs2023/settings.php
  docroot/sites/insidehs2023/settings/default.includes.settings.php
  docroot/sites/insidehs2023/settings/default.local.settings.php
  docroot/sites/popstudies2023/blt.yml
  docroot/sites/popstudies2023/default.local.drush.yml
  docroot/sites/popstudies2023/default.services.yml
  docroot/sites/popstudies2023/default.settings.php
  docroot/sites/popstudies2023/services.yml
  docroot/sites/popstudies2023/settings.php
  docroot/sites/popstudies2023/settings/default.includes.settings.php
  docroot/sites/popstudies2023/settings/default.local.settings.php
  docroot/sites/settings/simplesaml.php
  docroot/sites/sites.php
  drush/sites/insidehs2023.site.yml
  drush/sites/popstudies2023.site.yml
Labels: ci, patch, backend

#1278 SHS-4652: Bug: hb-raised-cards utility classes are affecting Vertical Linked Cad styling
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/imageapi_optimize.pipeline.local_binaries.yml
  config/default/imageapi_optimize.pipeline.pngcrush_jpegtran.yml
  config/default/imageapi_optimize.pipeline.resmushit.yml
  config/default/imageapi_optimize.settings.yml
  config/default/imagemagick.settings.yml
  config/default/webp.settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend

#1279 SHS-4875: regression - hb-main-body-image-detail no longer wraps text next to image - in Chrome only
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.views.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: patch, frontend

#1280 FourKitchens Release: Sprint 22
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.views.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: frontend, Needs review

#1281 HSD8-1450: Provisioned philit2023.
  blt/blt.yml
  docroot/sites/philit2023/blt.yml
  docroot/sites/philit2023/default.local.drush.yml
  docroot/sites/philit2023/default.services.yml
  docroot/sites/philit2023/default.settings.php
  docroot/sites/philit2023/services.yml
  docroot/sites/philit2023/settings.php
  docroot/sites/philit2023/settings/default.includes.settings.php
  docroot/sites/philit2023/settings/default.local.settings.php
  drush/sites/philit2023.site.yml
Labels: ci, backend

#1276 9.4.12
  blt/blt.yml
  composer.lock
  docroot/modules/humsci/hs_field_helpers/hs_field_helpers.module
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/philit2023/blt.yml
  docroot/sites/philit2023/default.local.drush.yml
  docroot/sites/philit2023/default.services.yml
  docroot/sites/philit2023/default.settings.php
  docroot/sites/philit2023/services.yml
  docroot/sites/philit2023/settings.php
  docroot/sites/philit2023/settings/default.includes.settings.php
  docroot/sites/philit2023/settings/default.local.settings.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_block-layout.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.views.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  drush/sites/philit2023.site.yml
Labels: ci, patch, frontend, backend

#1284 hotfix: remove hb-stretch-vertical-linked-cards additions from shs-4652
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: frontend, Needs review

#1282 9.4.13
  blt/src/Blt/Plugin/Commands/HsCommands.php
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: ci, patch, frontend, backend
