Repository SU-HSDO/suhumsci, pull requests merged in 2024-05, with the labels that each got.

#1511 SHS-5582: Bug: Issue with Add/Select Media form field
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.css
Labels: Needs review

#1508 SHS-5574: Implementation: Refactor some grid CSS/mixins
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-all.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1513 SHS-5612:Implementation: Vertical Linked Card Title/Arrow Updates
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1514 Four Kitchens Release - Sprint 49
  config/default/core.entity_form_display.paragraph.hs_collection.default.yml
  config/default/field.field.paragraph.hs_collection.field_title_settings.yml
  config/default/field.storage.paragraph.field_title_settings.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.grid.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-linked-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/objects/_layouts.row.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.layout.scss
  docroot/themes/humsci/humsci_basic/tests/percy/.snapshots-all.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.css
Labels: Needs review

#1521 SHS-5625: Implementation: New Accordion Style (BED)
  config/default/field.storage.paragraph.field_accordion_style.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
Labels: Passes code review, Passes functional review

#1519 SHS-5623: Update styles for Date Stacked Vertical Card pattern
  docroot/modules/humsci/hs_layouts/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/linked-cards/linked-cards.js
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-card/vertical-card.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_linked-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Passes code review, Passes functional review

#1525 SHS-5626: Implementation: New Accordion Style (FED)
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1527 SHS-5627: Implement: Update link color in Spotlight when teal background on Colorful:Canyon
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1530 SHS-5581: Remove Chosen plugin dependency
  config/default/core.extension.yml
  docroot/modules/humsci/hs_field_helpers/js/hs_field_helpers.admin.js
  docroot/modules/humsci/hs_views_helper/js/hs_views_helper.views_reset.js
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.install
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.chosen.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/su_humsci_theme/js/su_humsci_theme.js
Labels: Needs review

#1531 SHS-5626: Quick fix on new accordion styles
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: Needs review

#1488 SHS-5560: Skip to Main Content
  config/default/core.entity_view_display.node.hs_basic_page.default.yml
  config/default/core.entity_view_display.node.hs_course.default.yml
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event_series.default.yml
  config/default/core.entity_view_display.node.hs_news.default.yml
  config/default/core.entity_view_display.node.hs_person.default.yml
  config/default/core.entity_view_display.node.hs_private_page.default.yml
  config/default/core.entity_view_display.node.hs_publications.default.yml
  config/default/core.entity_view_display.node.hs_research.default.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.install
  docroot/modules/humsci/hs_layouts/src/Plugin/Block/SkipNavAnchorBlock.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/main-content-fallback/main-content-fallback.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-content-anchor-target.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/templates/block/block--hs-layouts-skipnav-main-anchor.html.twig
  docroot/themes/humsci/humsci_basic/templates/page--front.html.twig
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: Needs review

#1534 SHS-5628: Discovery: Investigate best way to run VRT on all color pairings
  docroot/themes/humsci/humsci_basic/backstop/engine_scripts/clickAndHoverHelper.js
  docroot/themes/humsci/humsci_basic/backstop/engine_scripts/onReady.js
  docroot/themes/humsci/humsci_basic/backstop/generate-backstop.js
  docroot/themes/humsci/humsci_basic/package-lock.json
  docroot/themes/humsci/humsci_basic/package.json
Labels: Passes code review, Passes functional review

#1532 SHS-5640: Empty headings on Gender/Clayman (views grouping)
  docroot/themes/humsci/humsci_basic/templates/views/views-view-grid.html.twig
Labels: Needs review

#1540 10.3.0
  composer.json
  composer.lock
  config/default/autologout.settings.yml
  config/default/core.entity_view_display.node.hs_basic_page.default.yml
  config/default/core.entity_view_display.node.hs_course.default.yml
  config/default/core.entity_view_display.node.hs_event.default.yml
  config/default/core.entity_view_display.node.hs_event_series.default.yml
  config/default/core.entity_view_display.node.hs_news.default.yml
  config/default/core.entity_view_display.node.hs_person.default.yml
  config/default/core.entity_view_display.node.hs_private_page.default.yml
  config/default/core.entity_view_display.node.hs_publications.default.yml
  config/default/core.entity_view_display.node.hs_research.default.yml
  config/default/core.extension.yml
  config/default/field.storage.paragraph.field_accordion_style.yml
  docroot/modules/humsci/hs_field_helpers/js/hs_field_helpers.admin.js
  docroot/modules/humsci/hs_layouts/hs_layouts.install
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/src/Plugin/Block/SkipNavAnchorBlock.php
  docroot/modules/humsci/hs_views_helper/js/hs_views_helper.views_reset.js
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/src/EventSubscriber/RedirectEvents.php
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.install
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/linked-cards/linked-cards.js
  docroot/themes/humsci/humsci_basic/src/js/shared/main-content-fallback/main-content-fallback.js
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-card/vertical-card.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_linked-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-content-anchor-target.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vendor.chosen.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_functions.icons.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_basic/templates/block/block--hs-layouts-skipnav-main-anchor.html.twig
  docroot/themes/humsci/humsci_basic/templates/page--front.html.twig
  docroot/themes/humsci/humsci_basic/templates/page.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  docroot/themes/humsci/su_humsci_theme/js/su_humsci_theme.js
  docs/CodeDeploy.md
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: minor

#1533 SHS-5636: Some Empty Headings in Banners still show up on SiteImprove
  docroot/modules/humsci/hs_layouts/patterns/hero-text-overlay/hero-text-overlay.html.twig
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
Labels: Passes code review, Passes functional review
