Repository SU-HSDO/suhumsci, pull requests merged in 2024-03, with the labels that each got.

#1467 SHS-4945: Implement update to Tertiary color values
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1468 SHS-4946: Implement update to Spotlight color values
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1465 SHS-5498: Shortcut menu is not displaying in admin toolbar for site editors when they log in
  docroot/modules/humsci/hs_admin/assets/js/default_shortcuts.js
  docroot/modules/humsci/hs_admin/hs_admin.libraries.yml
  docroot/modules/humsci/hs_admin/hs_admin.module
Labels: Passes code review, Passes functional review

#1469 SHS-5497: respect reduced motion for nav caret animation
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1471 SHS-5504: Prevent JS error when link is absent in vertical linked cards
  docroot/themes/humsci/humsci_basic/.prettierrc
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-linked-card/vertical-linked-card.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Passes code review, Passes functional review

#1472 SHS-5505: Banner Image (s) - with partial overlay and text Title is not aligned properly when right aligned
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.gradient-hero.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1474 SHS-5531: Bug: Arrows misaligned on carousel on one site
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Needs review

#1470 Four Kitchens Release - Sprint 45
  config/default/core.entity_form_display.paragraph.hs_priv_collection.default.yml
  config/default/core.entity_view_display.paragraph.hs_priv_collection.default.yml
  config/default/field.field.paragraph.hs_priv_collection.field_hs_collection_uh.yml
  config/default/field.field.paragraph.hs_priv_collection.field_raised_cards.yml
  docroot/modules/humsci/hs_admin/assets/js/default_shortcuts.js
  docroot/modules/humsci/hs_admin/hs_admin.libraries.yml
  docroot/modules/humsci/hs_admin/hs_admin.module
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/.prettierrc
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-linked-card/vertical-linked-card.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.gradient-hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
  docroot/themes/humsci/humsci_basic/templates/components/paragraph--hs-priv-collection.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1476 SHS-5541: The Uniform Height toggle on the Collections should appear below the Raised Cards toggle
  config/default/core.entity_form_display.paragraph.hs_collection.default.yml
Labels: Passes code review, Passes functional review

#1478 SHS-5530: hb-stretch-vertical-linked-cards utility class should also work on private pages
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Passes code review, Passes functional review

#1482 SHS-5543: Hover state link text for 3rd level menu items do not meet color contrast when displayed in the Mobile Menu
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1480 SHS-5544: Link in Footer when the theme is Colorful:Ocean and local footer is Dark does not meet color WCAG AA minimum contrast requirements
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: Needs review

#1473 10.1.5
  .circleci/config.yml
  .github/workflows/content-stage.yml
  .github/workflows/release.yml
  .github/workflows/sites-test.yml
  blt/blt.yml
  blt/ci.blt.yml
  blt/src/Blt/Plugin/Commands/HsCircleCiCommands.php
  composer.json
  composer.lock
  config/default/core.entity_form_display.paragraph.hs_priv_collection.default.yml
  config/default/core.entity_view_display.paragraph.hs_priv_collection.default.yml
  config/default/core.entity_view_display.paragraph.stanford_gallery.default.yml
  config/default/field.field.paragraph.hs_priv_collection.field_hs_collection_uh.yml
  config/default/field.field.paragraph.hs_priv_collection.field_raised_cards.yml
  docroot/modules/humsci/hs_admin/assets/js/default_shortcuts.js
  docroot/modules/humsci/hs_admin/hs_admin.libraries.yml
  docroot/modules/humsci/hs_admin/hs_admin.module
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/sites/settings/ci.settings.php
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/.prettierrc
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-linked-card/vertical-linked-card.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.gradient-hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.colorful-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.menu-icons.scss
  docroot/themes/humsci/humsci_basic/templates/components/paragraph--hs-priv-collection.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  patches/layout_builder-allow-hs-blocks.patch
  tests/codeception.dist.yml
Labels: patch

#1483 10.1.6
  .github/workflows/release.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
Labels: patch

#1486 SHS-5503: Color Band Link hover state in Colorful theme
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1479 Four Kitchens Release - Sprint 46
  config/default/core.entity_form_display.paragraph.hs_collection.default.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/equal-height-grid/index.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.color-band.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review
