Repository SU-HSDO/suhumsci, pull requests merged in 2024-02, with the labels that each got.

#1441 SHS-5054: CKEditor blockquote preview
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_basic/src/scss/ckeditor/imports.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
Labels: Needs review

#1433 10.1.1
  composer.json
  composer.lock
  config/default/core.entity_form_display.paragraph.hs_collection.default.yml
  config/default/core.entity_view_display.paragraph.hs_collection.default.yml
  config/default/field.field.paragraph.hs_collection.field_hs_collection_uh.yml
  config/default/field.storage.paragraph.field_hs_collection_uh.yml
  config/default/image.style.postcard_vertical_linked_465px_.yml
  config/default/samlauth.authentication.yml
  config/default/user.role.anonymous.yml
  config/default/user.role.authenticated.yml
  docroot/modules/humsci/hs_layouts/patterns/date-stacked-vertical-card/date-stacked-vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/horizontal-card/horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.install
  docroot/modules/humsci/hs_paragraph_types/modules/hs_postcard/hs_postcard.install
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/docs/utility-classes.md
  docroot/themes/humsci/humsci_basic/src/js/shared/addtocal/addtocal.js
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_add-to-cal.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_main-nav.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.carousel.scss
  docroot/themes/humsci/humsci_basic/src/scss/elements/_tables.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.buttons.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.links.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/templates/components/paragraph--hs-collection.html.twig
  docroot/themes/humsci/humsci_basic/templates/contrib/addtocal-links.html.twig
  docroot/themes/humsci/humsci_basic/templates/menus/macros/nav-menu.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
  tests/codeception/acceptance/Install/InstallStateCest.php
  tests/codeception/functional/Install/InstallStateCest.php
Labels: patch

#1445 10.1.2
  blt/blt.yml
  composer.json
  composer.lock
  config/default/core.entity_view_display.node.hs_event.hs_horizontal_card.yml
  config/default/core.entity_view_display.node.hs_event.hs_vertical_card.yml
  config/default/core.entity_view_display.node.hs_event.search_result.yml
  config/default/core.extension.yml
  config/default/ds.field.hs_event_day.yml
  config/default/ds.field.hs_event_time.yml
  config/default/ds.field.hs_event_time_range.yml
  config/default/ds.settings.yml
  config/default/ds_extras.settings.yml
  docroot/profiles/humsci/su_humsci_profile/js/select-lists/dist/islands/select-list-filters.island.js
  docroot/profiles/humsci/su_humsci_profile/js/select-lists/package.json
  docroot/profiles/humsci/su_humsci_profile/js/select-lists/src/select-list.tsx
  docroot/profiles/humsci/su_humsci_profile/js/select-lists/yarn.lock
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_default_content/humsci_default_content.info.yml
  docroot/profiles/humsci/su_humsci_profile/modules/humsci_events_listeners/humsci_events_listeners.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.info.yml
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.install
  docroot/profiles/humsci/su_humsci_profile/su_humsci_profile.post_update.php
  docroot/sites/mathematics2024/blt.yml
  docroot/sites/mathematics2024/default.local.drush.yml
  docroot/sites/mathematics2024/default.services.yml
  docroot/sites/mathematics2024/default.settings.php
  docroot/sites/mathematics2024/services.yml
  docroot/sites/mathematics2024/settings.php
  docroot/sites/mathematics2024/settings/default.includes.settings.php
  docroot/sites/mathematics2024/settings/default.local.settings.php
  drush/sites/mathematics2024.site.yml
  tests/codeception/functional/Install/InstallStateCest.php
Labels: patch

#1449 SHS-3750: Breakout Box does not span the full width
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/admin/_wysiwyg-editor.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review

#1450 SHS-4047: A11y: Adjust slide transition based on user's Reduced Motion Preference
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/prefered-reduced-motion/prefered-reduced-motion.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1442 fix(shs-5223): fix a11y contrast in headings on grouped tables view
  docroot/themes/humsci/humsci_basic/src/scss/elements/_base.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
Labels: Needs review

#1405 SHS-5070: Implementation: Switch H2 headings in collection components to H3 in some cases (Back End)
  config/default/core.entity_form_display.paragraph.hs_collection.default.yml
  config/default/core.entity_view_display.paragraph.hs_collection.default.yml
  config/default/core.entity_view_display.paragraph.hs_gradient_hero.default.yml
  config/default/core.entity_view_display.paragraph.hs_hero_image.hero_with_overlay.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_timeline.default.yml
  config/default/field.field.paragraph.hs_collection.field_title.yml
  config/default/field.field.paragraph.hs_collection.field_title_settings.yml
  config/default/field.storage.paragraph.field_title.yml
  config/default/field.storage.paragraph.field_title_settings.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/gradient-hero/gradient-hero.html.twig
  docroot/modules/humsci/hs_layouts/patterns/hero-text-overlay/hero-text-overlay.html.twig
  docroot/modules/humsci/hs_layouts/patterns/horizontal-card/horizontal-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/spotlight/spotlight.html.twig
  docroot/modules/humsci/hs_layouts/patterns/timeline/timeline.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.install
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.module
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.hero.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.timeline.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_viewfield-item.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.heros.scss
  docroot/themes/humsci/humsci_basic/templates/components/paragraph--hs-collection.html.twig
  docroot/themes/humsci/humsci_basic/templates/field/viewfield-item.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  tests/codeception/functional/Install/Content/FlexiblePageCest.php
Labels: don't merge

#1451 SHS-5052: Video preview in CKeditor should better reflect rendered size
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_basic/src/scss/ckeditor/imports.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
Labels: Passes code review, Passes functional review

#1458 SHS-5491: Menu UI updates
  docroot/modules/humsci/hs_admin/assets/js/hs_admin.js
  docroot/themes/humsci/su_humsci_gin_admin/dist/su_humsci_gin_admin.css
Labels: Passes code review

#1460 SHS-5495: Update border color on combo based select fields
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_views-exposed-form.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1461 SHS-4898: [EX] Add link to user guide on all content types
  docroot/modules/humsci/hs_admin/hs_admin.module
Labels: Needs review
