Repository SU-HSDO/suhumsci, pull requests merged in 2024-04, with the labels that each got.

#1491 10.1.8
  .gitattributes
Labels: patch

#1490 SHS-5567: Implementation: Hide "Show as Expanded" toggle in menu settings on node form
  docroot/modules/humsci/hs_admin/hs_admin.module
Labels: Needs review

#1487 SHS-5515: Implementation: Adjustments to vertical cards
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-card/vertical-card.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1497 SHS-5561: Implementation: Responsive styles for h4 and h5
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1495 Four Kitchens Release - Sprint 47
  docroot/modules/humsci/hs_admin/hs_admin.module
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/modules/humsci/hs_layouts/patterns/vertical-link-card/vertical-link-card.html.twig
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/js/shared/index.js
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-card/vertical-card.js
  docroot/themes/humsci/humsci_basic/src/scss/_main.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_vertical-card.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.text.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_raised-cards.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1505 SHS-5515: Refactor vertical card main link code
  docroot/modules/humsci/hs_layouts/patterns/vertical-card/vertical-card.html.twig
  docroot/themes/humsci/humsci_basic/humsci_basic.theme
  docroot/themes/humsci/humsci_basic/src/js/shared/vertical-card/vertical-card.js
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1502 SHS-5571: A11y Level A: Empty headings on Vertical Timeline components
  docroot/modules/humsci/hs_layouts/patterns/timeline/timeline.html.twig
Labels: Passes code review, Passes functional review

#1503 SHS-5572: The arrows on a Spotlight (with no image) are displaying incorrectly on mobile
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Passes code review, Passes functional review

#1501 SHS-5568: Allow editors to select style on Accordion component
  config/default/core.entity_form_display.paragraph.hs_accordion.default.yml
  config/default/core.entity_view_display.paragraph.hs_accordion.default.yml
  config/default/field.field.paragraph.hs_accordion.field_accordion_style.yml
  config/default/field.storage.paragraph.field_accordion_style.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.install
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
Labels: Passes code review, Passes functional review

#1509 SHS-5091: A11y Level A: Empty heading, on view on Bing Nursery
  docroot/themes/humsci/humsci_basic/templates/views/views-view-unformatted.html.twig
Labels: Passes code review, Passes functional review

#1510 SHS-5583: empty headings in banners and spotlights
  docroot/modules/humsci/hs_layouts/patterns/gradient-hero/gradient-hero.html.twig
  docroot/modules/humsci/hs_layouts/patterns/spotlight/spotlight.html.twig
Labels: Needs review

#1507 Four Kitchens Release - Sprint 48
  config/default/core.entity_form_display.paragraph.hs_accordion.default.yml
  config/default/core.entity_view_display.paragraph.hs_accordion.default.yml
  config/default/field.field.paragraph.hs_accordion.field_accordion_style.yml
  config/default/field.storage.paragraph.field_accordion_style.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_layouts/patterns/gradient-hero/gradient-hero.html.twig
  docroot/modules/humsci/hs_layouts/patterns/spotlight/spotlight.html.twig
  docroot/modules/humsci/hs_layouts/patterns/timeline/timeline.html.twig
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.module
  docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
  docroot/themes/humsci/humsci_airy/css/humsci_airy.css
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
  docroot/themes/humsci/humsci_basic/src/scss/utilities/_general.scss
  docroot/themes/humsci/humsci_basic/templates/views/views-view-unformatted.html.twig
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
  docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
  docroot/themes/humsci/humsci_colorful/js/index.js
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
  docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
  docroot/themes/humsci/humsci_traditional/js/index.js
Labels: Needs review

#1512 SHS-5608: Collection: Title Settings field updates
  config/default/core.entity_form_display.paragraph.hs_collection.default.yml
  config/default/field.field.paragraph.hs_collection.field_title_settings.yml
  config/default/field.storage.paragraph.field_title_settings.yml
Labels: Passes code review, Passes functional review
