Repository SU-HSDO/suhumsci, pull requests merged in 2024-08, with the labels that each got.

#1589 SHS-5692: Implementation: New Spotlight design for Colorful and Traditional
  config/default/core.entity_form_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  config/default/field.field.paragraph.hs_spotlight.field_spotlight_style.yml
  config/default/field.storage.paragraph.field_spotlight_style.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.module
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
Labels: Needs review, Passes code review, Passes functional review

#1591 SHS-5772 - Regression: External Links on Postcards are wrong color
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_linked-cards.scss
Labels: Passes code review, Passes functional review

#1580 SHS-5629: Editors can more easily edit a caption
  composer.json
Labels: Needs review

#1597 Four Kitchens Release - Sprint 56
  composer.json
  config/default/core.entity_form_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.default.yml
  config/default/core.entity_view_display.paragraph.hs_spotlight.preview.yml
  config/default/field.field.paragraph.hs_spotlight.field_spotlight_style.yml
  config/default/field.storage.paragraph.field_spotlight_style.yml
  docroot/modules/humsci/hs_layouts/hs_layouts.module
  docroot/modules/humsci/hs_paragraph_types/hs_paragraph_types.module
  docroot/themes/humsci/humsci_basic/src/js/shared/carousel-slides/carousel-slides-height.js
  docroot/themes/humsci/humsci_basic/src/scss/components/_card.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_linked-cards.scss
  docroot/themes/humsci/humsci_basic/src/scss/components/_pattern.spotlight.scss
Labels: Needs review

#1604 FIX: Add correct class to Spotlights in views
  docroot/modules/humsci/hs_layouts/hs_layouts.module
Labels: Needs review

#1601 SHS-5781: Regression: Color contrast issue on Warbler "load more" links
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
Labels: Passes code review, Passes functional review

#1600 SHS-5691: New color palette for Traditional
  docroot/themes/humsci/humsci_basic/backstop/generate-backstop.js
  docroot/themes/humsci/humsci_basic/docs/color-pairings.md
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: Needs review

#1607 Four Kitchens Release - Sprint 57
  docroot/themes/humsci/humsci_basic/backstop/generate-backstop.js
  docroot/themes/humsci/humsci_basic/docs/color-pairings.md
  docroot/themes/humsci/humsci_basic/src/scss/components/_pager.scss
  docroot/themes/humsci/humsci_basic/src/scss/settings/_variables.traditional-pairings.scss
  docroot/themes/humsci/humsci_basic/src/scss/tools/_mixins.icons.scss
  docroot/themes/humsci/humsci_traditional/theme-settings.php
Labels: Needs review

#1609 SHS-5641: Site editors shouldn't remove imported photos
  config/default/hs_migrate.settings.yml
  config/default/user.role.site_manager.yml
  docroot/modules/humsci/hs_migrate/config/install/hs_migrate.settings.yml
  docroot/modules/humsci/hs_migrate/css/hs_migrate.readonly.css
  docroot/modules/humsci/hs_migrate/hs_migrate.install
  docroot/modules/humsci/hs_migrate/hs_migrate.libraries.yml
  docroot/modules/humsci/hs_migrate/hs_migrate.module
Labels: Needs review
